<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.0.4" targetFramework="net40" requireReinstallation="true" />
  <package id="ClosedXML" version="0.88.0" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net45" requireReinstallation="true" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net40" requireReinstallation="true" />
  <package id="EPPlus" version="4.1.0" targetFramework="net40" />
  <package id="FastMember.Signed" version="1.1.0" targetFramework="net452" />
  <package id="FireSharp" version="2.0.4" targetFramework="net47" />
  <package id="HtmlAgilityPack" version="1.5.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.40804.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net47" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net47" />
  <package id="Microsoft.Report.Viewer" version="10.0.0.0" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.WebForms" version="10.0.40219.1" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="MiniProfiler" version="3.0.11" targetFramework="net40" />
  <package id="MiniProfiler.EF6" version="3.0.11" targetFramework="net40" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net47" />
  <package id="Selenium.Support" version="3.6.0" targetFramework="net47" />
  <package id="Selenium.WebDriver" version="3.6.0" targetFramework="net47" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.21.0.0" targetFramework="net47" />
  <package id="Selenium.WebDriver.IEDriver" version="2.53.0.0" targetFramework="net47" />
  <package id="Tellurium.Core" version="1.0.17" targetFramework="net47" />
  <package id="Tellurium.MvcPages" version="1.4.0.310" targetFramework="net47" />
</packages>