<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BitMiracle.LibTiff.NET" version="2.4.583" targetFramework="net40" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net45" />
  <package id="elmah" version="1.2.2" targetFramework="net35" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net35" />
  <package id="elmah.sqlserver" version="1.2" targetFramework="net35" />
  <package id="Glimpse" version="1.8.6" targetFramework="net40" requireReinstallation="true" />
  <package id="Glimpse.Ado" version="1.7.3" targetFramework="net40" requireReinstallation="true" />
  <package id="Glimpse.AspNet" version="1.9.2" targetFramework="net40" requireReinstallation="true" />
  <package id="Glimpse.EF6" version="1.6.5" targetFramework="net40" requireReinstallation="true" />
  <package id="Glimpse.WebForms" version="1.1.1" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.WebForms" version="10.0.40219.1" targetFramework="net40" />
  <package id="MiniProfiler" version="3.2.0.157" targetFramework="net40" />
  <package id="ZXing.Net" version="0.15.0" targetFramework="net40" requireReinstallation="true" />
</packages>