@model IEnumerable<ProntoMVC.Data.Models.OtrosIngresosAlmacen>
@{
    ViewBag.Title = "Otros Ingresos a almacen";
}

<div><input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]></div>
<div><input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]></div>

<br />

<div style="padding-left: 15px; padding-right: 15px;">
    <div class="row-fluid">
        <div class="span9 lightblue">
            <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'" class="btn btn-primary">Nuevo ingreso a almacen</button>
        </div>
    </div>
    <br />
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px; "></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        //Para que haga wrap en las celdas
        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("OtrosIngresosAlmacen_DynamicGridData", "OtroIngresoAlmacen")',
            postData: { 'FechaInicial': function () { return $("#FechaInicial").val(); }, 'FechaFinal': function () { return $("#FechaFinal").val(); } },
            datatype: 'json',
            mtype: 'POST',
            colNames: ['', '', 'IdOtroIngresoAlmacen', 'Emitio', 'Aprobo', 'TipoIngreso', 'Numero', 'Fecha', 'Tipo de Ingreso', 'Emitio', 'Aprobo', 'Anulado', 'Anulo',
                'Fecha de anulacion', 'Observaciones', 'Items'],
            colModel: [
                        { name: 'ver', index: 'ver', hidden: false, width: 50, search: false },
                        { name: 'Emitir', index: 'Emitir', hidden: false, width: 50, search: false },
                        { name: 'IdOtroIngresoAlmacen', index: 'IdOtroIngresoAlmacen', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'Emitio', index: 'Emitio', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'Aprobo', index: 'Aprobo', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'TipoIngreso', index: 'TipoIngreso', width: 120, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'NumeroOtroIngresoAlmacen', index: 'NumeroOtroIngresoAlmacen', align: 'right', width: 80, editable: false, hidden: false },
                        { name: 'FechaOtroIngresoAlmacen', index: 'FechaOtroIngresoAlmacen', width: 100, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'TipoOtroIngresoAlmacen', index: 'TipoOtroIngresoAlmacen', align: 'left', width: 200, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'EmitioNombre', index: 'EmitioNombre', align: 'left', width: 170, editable: false, search: true, searchoptions: { sopt: ['cn']  } },
                        { name: 'AproboNombre', index: 'AproboNombre', align: 'left', width: 170, editable: false, search: true, searchoptions: { sopt: ['cn']  } },
                        { name: 'Anulado', index: 'Anulado', align: 'left', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Anulo', index: 'Anulo', align: 'left', width: 170, editable: false, search: true, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'FechaAnulacion', index: 'FechaAnulacion', width: 80, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'Observaciones', index: 'Observaciones', align: 'left', width: 500, editable: false, hidden: false },
                        { name: 'CantidadItems', index: 'CantidadItems', align: 'right', width: 40, editable: false, search: true, searchoptions: { sopt: ['cn'] } }
            ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },
            pager: $('#ListaPager'),
            rowNum: 15,
            rowList: [10, 20, 50, 20000],
            sortname: 'NumeroOtroIngresoAlmacen',
            sortorder: 'desc',
            viewrecords: true,
            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,
            height: '100%',
            altRows: false,
            footerrow: false,
            userDataOnFooter: true,
            caption: '<b>OTROS INGRESOS A ALMACEN</b>'
        });
        jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 700, closeOnEscape: true, closeAfterSearch: true });
        //jQuery("#Lista").jqGrid('gridResize', { minWidth: 350, maxWidth: 1500, minHeight: 80, maxHeight: 500 });
        //jQuery("#Lista").jqGrid('setFrozenColumns');

        $(window).resize(function () {
            RefrescaAnchoJqgrids();
        });

        pageLayout.hide('east');
        pageLayout.hide('south');
    });

</script>
