<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Unofficial Channels
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120723
-->
<html xmlns="http://www.w3.org/1999/xhtml" style="height: 100%">
<head>
    @*<link rel="SHORTCUT ICON" href="../../Content/images/favicon.png" />*@
    <style>



.cssLogin
{
    background-repeat:  repeat; 
    /* background-image:  url(" ");*/
   /*  background-image: url("~/Content/Images/bg_texture.jpg");    */
   @* background-image: "@Url.Content("~/Content/Images/bg_texture.jpg")";   *@/* url(" ");*/
    

    @*
    background-image: -webkit-gradient(linear, left top, left bottom, from(#DDE4EA), color-stop(100%, #AFBCC8)) !important;
    background-image: -moz-linear-gradient(90deg, #AFBCC8 0%, #DDE4EA) !important; /* background-image: -webkit-gradient(linear, left top, left bottom, from( #F4F8FF), color-stop(40%,  #8DADDF)) !important;     background-image: -moz-linear-gradient(90deg, #1F8DD6 60%, #C8D1E2)  !important;*/
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#DDE4EA', EndColorStr='#AFBCC8'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#DDE4EA', EndColorStr='#AFBCC8')"; /* IE8 */
    *@
}

</style>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>

</head>
<body class="cssLogin" style="height: 100%; overflow: hidden;background-image: @Url.Content("~/Content/Images/bg_texture.jpg"); >
    <div id="">@* class="ui-layout-center no-scrollbar add-padding grey">*@
        @RenderBody()
    </div>
</body>
</html>
