@*el que maneja esto es el ErrorController.cs
    ojo con la confusion de la vista Error.cshtml en el \Shared\ y la que esta en \ErrorPages\
*@

@{
    Layout = null;
}

@{
    ViewBag.Title = "Disculpame";
}

<center>
    <img src="@Url.Content("~/Content/images/logosolo.gif")" alt="" style="text-align: left; width: 100px;" />
    <strong>Disculpame. Tuve un problema </strong>
    <p>
        No hay conexion.
    </p>


    <p>ver detalles </p>
</center>
}
