@model IEnumerable<ProntoMVC.Data.Models.SalidasMateriale>
@{
    ViewBag.Title = "Salida de materiales";
}

<div><input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]></div>
<div><input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]></div>

<br />

<div style="padding-left: 15px; padding-right: 15px;">
    <div class="row-fluid">
        <div class="span9 lightblue">
            <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'" class="btn btn-primary">Nueva Salida de Materiales</button>
        </div>
    </div>
    <br />
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px; "></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        //Para que haga wrap en las celdas
        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("SalidaMateriales_DynamicGridData", "SalidaMateriales")',
            postData: { 'FechaInicial': function () { return $("#FechaInicial").val(); }, 'FechaFinal': function () { return $("#FechaFinal").val(); } },
            datatype: 'json',
            mtype: 'POST',
            colNames: ['', '', 'IdSalidaMateriales', 'Tipo de salida', 'Nro. salida 1', 'Nro. salida 2', 'Fecha salida', 'Obra', 'Cliente', 'Proveedor', 'Direccion', 'Localidad', 'Cod. postal',
                       'Transportista', 'Observaciones', 'Costo total', 'Vale preimpreso', 'Nro. orden produccion', 'Requerimientos', 'Equipos destino', 'Aprobo', 'Valor declarado', 'Bultos',
                       'Anulada', 'Anulo', 'Fecha anulacion', 'Motivo anulacion', 'Confecciono', 'Fecha ingreso', 'Modifico', 'Fecha modificacion', 'Detalle', 'Flete', 'Chofer', 'Nro. documento',
                       'Patente', 'Nro remito Transp.', 'Nro remito Transp. 1', 'Nro remito Transp. 2', 'Nro. pesada', 'Progresiva 1', 'Progresiva 2', 'Fecha pesada',
                       'Observaciones pesada', 'Peso bruto', 'Peso neto', 'Tara', 'Cant. en origen', 'Distancia recorrida', 'Recibido en destino', 'Fecha recibidos en destino',
                       'Recibio en destino', 'Destino (entre calles)', 'Circ. Compl. de firmas', 'Items'
            ],
            colModel: [
                        { name: 'ver', index: 'ver', align: 'center', width: 50, sortable: false, editable: false, search: false },
                        { name: 'Emitir', index: 'Emitir'  , width: 50, sortable: false, editable: false, search: false },
                        { name: 'IdSalidaMateriales', index: 'IdSalidaMateriales', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'TipoSalida', index: 'TipoSalida', width: 120, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'], clearSearch: false } },
                        { name: 'NumeroSalidaMateriales1', index: 'NumeroSalidaMateriales1', align: 'center', width: 60, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'], clearSearch: false } },
                        { name: 'NumeroSalidaMateriales2', index: 'NumeroSalidaMateriales2', align: 'center', width: 120, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'], clearSearch: false } },
                        {
                            name: 'FechaSalidaMateriales', index: 'FechaSalidaMateriales', width: 100, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy',
                            search: true, searchrules: { date: true }, searchoptions: { sopt: ['ge', 'le', 'eq'] }
                        },
                        { name: 'Obra', index: 'Obra', align: 'center', width: 100, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Cliente', index: 'Cliente', align: 'left', width: 250, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Proveedor', index: 'Proveedor', align: 'left', width: 250, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Direccion', index: 'Direccion', align: 'left', width: 200, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Localidad', index: 'Localidad', align: 'left', width: 150, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'CodigoPostal', index: 'CodigoPostal', align: 'left', width: 100, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Transportista', index: 'Transportista', align: 'left', width: 250, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Observaciones', index: 'Observaciones', align: 'left', width: 400, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'CostoTotal', index: 'CostoTotal', align: 'right', width: 120, editable: false, search: true, searchoptions: { sopt: ['eq'] } },
                        { name: 'ValePreimpreso', index: 'ValePreimpreso', align: 'left', width: 100, editable: false, search: true, hidden: false, searchoptions: { sopt: ['eq'] } },
                        { name: 'NumeroOrdenProduccion', index: 'NumeroOrdenProduccion', align: 'left', width: 100, editable: false, search: true, hidden: false, searchoptions: { sopt: ['eq'] } },
                        { name: 'Requerimientos', index: 'Requerimientos', align: 'left', width: 200, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'EquiposDestino', index: 'EquiposDestino', align: 'left', width: 250, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Aprobo', index: 'Aprobo', align: 'left', width: 200, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'ValorDeclarado', index: 'ValorDeclarado', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['eq'] } },
                        { name: 'Bultos', index: 'Bultos', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['eq'] } },
                        { name: 'Anulada', index: 'Anulada', align: 'center', width: 60, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Anulo', index: 'Anulo', align: 'left', width: 200, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        {
                            name: 'FechaAnulacion', index: 'FechaAnulacion', width: 100, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy',
                            search: true, searchrules: { date: true }, searchoptions: { sopt: ['ge', 'le', 'eq'] }
                        },
                        { name: 'MotivoAnulacion', index: 'MotivoAnulacion', align: 'left', width: 250, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Confecciono', index: 'Confecciono', align: 'left', width: 200, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        {
                            name: 'FechaIngreso', index: 'FechaIngreso', width: 100, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy',
                            search: true, searchrules: { date: true }, searchoptions: { sopt: ['ge', 'le', 'eq'] }
                        },
                        { name: 'Modifico', index: 'Modifico', align: 'left', width: 200, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        {
                            name: 'FechaModifico', index: 'FechaModifico', width: 100, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy',
                            search: true, searchrules: { date: true }, searchoptions: { sopt: ['ge', 'le', 'eq'] }
                        },
                        { name: 'Detalle', index: 'Detalle', align: 'left', width: 250, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Flete', index: 'Flete', align: 'left', width: 200, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Chofer', index: 'Chofer', align: 'left', width: 200, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'NumeroDocumento', index: 'NumeroDocumento', align: 'left', width: 200, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Patente1', index: 'Patente1', align: 'left', width: 200, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'NumeroRemitoTransporte', index: 'NumeroRemitoTransporte', align: 'left', width: 200, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'NumeroRemitoTransporte2', index: 'NumeroRemitoTransporte2', align: 'center', width: 70, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'], clearSearch: false } },
                        { name: 'NumeroRemitoTransporte1', index: 'NumeroRemitoTransporte1', align: 'center', width: 120, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'], clearSearch: false } },
                        { name: 'NumeroPesada', index: 'NumeroPesada', align: 'left', width: 100, editable: false, search: true, hidden: false, searchoptions: { sopt: ['eq'] } },
                        { name: 'Progresiva1', index: 'Progresiva1', align: 'left', width: 100, editable: false, search: true, hidden: false, searchoptions: { sopt: ['eq'] } },
                        { name: 'Progresiva2', index: 'Progresiva2', align: 'left', width: 100, editable: false, search: true, hidden: false, searchoptions: { sopt: ['eq'] } },
                        {
                            name: 'FechaPesada', index: 'FechaPesada', width: 100, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy',
                            search: true, searchrules: { date: true }, searchoptions: { sopt: ['ge', 'le', 'eq'] }
                        },
                        { name: 'ObservacionesPesada', index: 'ObservacionesPesada', align: 'left', width: 250, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'PesoBruto', index: 'PesoBruto', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['eq'] } },
                        { name: 'PesoNeto', index: 'PesoNeto', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['eq'] } },
                        { name: 'Tara', index: 'Tara', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['eq'] } },
                        { name: 'CantidadEnOrigen', index: 'CantidadEnOrigen', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['eq'] } },
                        { name: 'DistanciaRecorrida', index: 'DistanciaRecorrida', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['eq'] } },
                        { name: 'RecibidosEnDestino', index: 'RecibidosEnDestino', align: 'center', width: 60, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        {
                            name: 'RecibidosEnDestinoFecha', index: 'RecibidosEnDestinoFecha', width: 100, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy',
                            search: true, searchrules: { date: true }, searchoptions: { sopt: ['ge', 'le', 'eq'] }
                        },
                        { name: 'RecibioEnDestino', index: 'RecibioEnDestino', align: 'left', width: 200, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'DestinoEntreCalles', index: 'DestinoEntreCalles', align: 'left', width: 250, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'CircuitoFirmasCompleto', index: 'CircuitoFirmasCompleto', align: 'center', width: 80, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Items', index: 'Items', align: 'left', width: 50, editable: false, search: true, hidden: false, searchoptions: { sopt: ['eq'] } }
            ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },
            pager: $('#ListaPager'),
            rowNum: 15,
            rowList: [10, 20, 100],
            sortname: 'FechaSalidaMateriales,NumeroSalidaMateriales2,NumeroSalidaMateriales1',
            sortorder: 'desc',
            viewrecords: true,
            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,
            height: $(window).height() - ALTOLISTADO, // '100%'
            altRows: false,
            footerrow: false,
            userDataOnFooter: true,
            caption: '<b>SALIDAS DE MATERIALES</b>',
            gridview: true,
            multiboxonly: true,
            multipleSearch: true
        });


        jQuery("#Lista").jqGrid('bindKeys');

        jQuery("#Lista").jqGrid('navGrid', '#ListaPager',
         { csv: true, refresh: true, add: false, edit: false, del: false }, {}, {}, {},
         {
             //sopt: ["cn"]
             //sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'ew', 'en', 'cn', 'nc', 'nu', 'nn', 'in', 'ni'],
             width: 700, closeOnEscape: true, closeAfterSearch: true, multipleSearch: true, overlay: false
         }
        );

        jQuery("#Lista").filterToolbar({
            stringResult: true, searchOnEnter: true,
            defaultSearch: 'cn',
            enableClear: false
        }); // si queres sacar el enableClear, definilo en las searchoptions de la columna específica http://www.trirand.com/blog/?page_id=393/help/clearing-the-clear-icon-in-a-filtertoolbar/

        pageLayout.hide('east');
        pageLayout.hide('south');

        $(window).resize(function () {
            RefrescaAnchoJqgrids();
        });
    });

</script>
