@model IEnumerable<ProntoMVC.Data.Models.Pedido>
@{
    ViewBag.Title = "Pedidos";
}
<div>
    <input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]></div>
<div>
    <input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]></div>
@if (false)
{
    <style>
        /* jqGrid builds some additional divs over the main grid table. The outer div has the class ui-jqgrid. So if you need to remove right and left border existing over the whole grid you can use the following CSS: */
        
        
        
        .ui-widget-content
        {
            border: 0px solid #aaaaaa;
        }
        
        .ui-jqgrid
        {
            border-right-width: 0px;
            border-left-width: 0px;
        }
        /* If you need to remove all grid's borders you can use

.ui-jqgrid { border-width: 0px; }
If you want additionally remove vertical border between the cells in the grid you can use */
        
        .ui-jqgrid tr.ui-row-ltr td
        {
            border-right-color: #E4E4E4;
        }
        
        
        .ui-jqgrid tr.footrow-ltr td
        {
            border-right-color: #E4E4E4 !important;
        }
        
        /*To remove horizontal border between the rows you can use */
        
        .ui-jqgrid tr.ui-row-ltr td
        {
            border-bottom-color: #E4E4E4;
        }
        /*To remove vertical borders between the column headers you can use */
        
        th.ui-th-column
        {
            border-right-color: #E4E4E4 !important;
        }
        /* or alternatively (without the usage of !important) */
        
        .ui-jqgrid-labels .ui-th-column
        {
            border-right-color: #E4E4E4;
        }
    </style> 
}
<br />
<div style="padding-left: 15px; padding-right: 15px;">
    <div class="row-fluid">
        <div class="span12 lightblue">
            <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'" class="btn btn-primary span2 ">
                Nuevo
            </button>
            <div class="span4">
                <div class="input-prepend input-append">
                    @* <div class="btn-group ">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                En todo <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu">
                                Requerimientos
                            </div>
                            <ul class="dropdown-menu">
                                Número
                            </ul>
                        </div>*@
                    <input id="BuscadorListado" type="text" class="" placeholder="Filtrar" style="" />
                    @if (Roles.IsUserInRole(ViewBag.NombreUsuario, "SuperAdmin"))
                    {
                        <select id="campos " class="span4">
                            <option>Número</option>
                            @*<option>Fecha</option>*@
                        </select>
                        <button onclick=" jQuery('#Lista').searchGrid({}) " class="btn append ">
                            ...</button>
                    }
@*<div>
                            <input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]></div>
                        <div>
                            <input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]></div>
                        <div>
                            <input id="IdObra" name="IdObra" type="hidden" value=@Request.QueryString["idobra"]></div>*@
                </div>
            </div>
            @if (Roles.IsUserInRole(ViewBag.NombreUsuario, "SuperAdmin"))
            {
                <div class="span2">
                </div>                                  
                <div class="span2">
                    <button onclick=" exportExcel($('#Lista')) " class="btn span12">
                        Excel
                    </button>
                </div>

            }
        </div>
        <script>



            $("#BuscadorListado").change(function () {



                var grid = jQuery("#Lista");
                var postdata = grid.jqGrid('getGridParam', 'postData');
                jQuery.extend(postdata,
               { filters: '',
                   searchField: 'NumeroPedido',
                   searchOper: 'eq',
                   searchString: $("#BuscadorListado").val()
               });
                grid.jqGrid('setGridParam', { search: true, postData: postdata });
                grid.trigger("reloadGrid", [{ page: 1}]);


                //<select><option value="NumeroRequerimiento" selected="selected">N°</option><option value="Detalle">Detalle</option><option value="NumeroObra">Obra</option><option value="Sector">Sector</option><option value="Observaciones">Observaciones</option><option value="LugarEntrega">Lugar de necesidad</option></select>
            });
        </script>
    </div>
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px;
        ">
    </table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px">
    </div>

    <input type="button" class="btn btn-small" id="addData" value="Generar email" />
    <input type="button" class="btn btn-small" id="addData" value="Generar en Word" />
    <input type="button" class="btn btn-small" id="addData" value="Generar borrador en Word" />
    <input type="button" class="btn btn-small" id="edtData" value="marcar PED como impresa" />
    <input type="button" class="btn btn-small" id="delData" value="desmarcar PED como impresa" />
    <input type="button" class="btn btn-small" id="delData" value="Registrar fecha de salida del pedido" />

    <div class="contextMenu" id="myMenu1" style="display:none">
        <ul style="width: 200px">
            <li id="add">
                <span class="ui-icon ui-icon-plus" style="float:left"></span>
                <span style="font-size:11px; font-family:Verdana">Generar en Word</span>
            </li>
            <li id="edit">
                <span class="ui-icon ui-icon-pencil" style="float:left"></span>
                <span style="font-size:11px; font-family:Verdana">Marcar RM como impresa</span>
            </li>
            <li id="del">
                <span class="ui-icon ui-icon-trash" style="float:left"></span>
                <span style="font-size:11px; font-family:Verdana">Desmarcar rm como impresa</span>
            </li>


        </ul>
    </div>


</div>
@*<p>@Html.ActionLink("Nuevo Pedido", "Edit", new { id = -1 }, null)</p> *@
<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        //Para que haga wrap en las celdas
        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');




        $('#Lista').jqGrid({
            url: '@Url.Action("Pedidos_DynamicGridData", "Pedido")',
            postData: { 'FechaInicial': function () { return $("#FechaInicial").val(); }, 'FechaFinal': function () { return $("#FechaFinal").val(); } },
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Acciones', 'IdPedido', 'Numero', 'Sub', 'Fecha', 'Salida',
            'Cumplido', 'RMs', 'Obras', 'Proveedor', 'Total',
            'Bonif.', 'IVA', 'Moneda', 'Comprador', 'Aprobo',
            'Items', 'idaux', 'Comparativa', 'TipCompra', 'Observaciones',
            'Detcondcompra', 'PedExterior', 'IdPedAbierto', 'Licitacion', 'Impresa',
            'Anuló', 'Fecha Anulacion', 'MotivAn', 'ImpInts', 'Equipos',
            'CircFirmComp', '', '', '', 'Web'

            ],
            colModel: [

                        { name: 'act', index: 'act', align: 'center', width: 80, sortable: false, frozen: true, editable: false, search: false }, //, formatter: 'showlink', formatoptions: { baseLinkUrl: '@Url.Action("Edit")'} },
                        {name: 'IdPedido', index: 'IdPedido', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'NumeroPedido', index: 'NumeroPedido', align: 'right', width: 70, frozen: true, editable: false, search: true, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'SubNumero', index: 'SubNumero', align: 'right', width: 30, frozen: true, editable: false, search: true, searchoptions: { sopt: ['cn', 'eq'] } },


                     
                        {
                            name: 'FechaPedido', index: 'FechaPedido', width: 100, align: 'center',
                            sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' },
                            datefmt: 'dd/mm/yy',

                            search: true,
                            searchrules: {
                                date: true
                            },
                            searchoptions: { // http://stackoverflow.com/questions/14632735/jqgrid-searching-dates
                                sopt: ['ge', 'le', 'eq'],
                                dataInit: function (elem) {
                                    $(elem).datepicker({
                                        dateFormat: 'dd/mm/yy',
                                        changeYear: true,
                                        changeMonth: true,
                                        showButtonPanel: true,
                                        onSelect: function () {
                                            $(this).keydown();
                                        }
                                    });
                                }
                            }

                        },



                        {
                            name: 'FechaSalida', index: 'FechaSalida', width: 100, align: 'center',
                            sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' },
                            datefmt: 'dd/mm/yy',

                            search: true,
                            searchrules: {
                                date: true
                            },
                            searchoptions: { // http://stackoverflow.com/questions/14632735/jqgrid-searching-dates
                                sopt: ['ge', 'le', 'eq'],
                                dataInit: function (elem) {
                                    $(elem).datepicker({
                                        dateFormat: 'dd/mm/yy',
                                        changeYear: true,
                                        changeMonth: true,
                                        showButtonPanel: true,
                                        onSelect: function () {
                                            $(this).keydown();
                                        }
                                    });
                                }
                            }

                        },



                        { name: 'Cumplido', index: 'Cumplido', align: 'left', width: 40, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'RMs', index: 'RMs', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Obras', index: 'Obras', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Proveedor', index: 'Proveedor', align: 'left', width: 300, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'TotalPedido', index: 'TotalPedido', align: 'right', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },

                        { name: 'Bonificacion', index: 'Bonificacion', align: 'right', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'TotalIva1', index: 'TotalIva1', align: 'right', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'IdMoneda', index: 'IdMoneda', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'IdComprador', index: 'IdComprador', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Aprobo', index: 'Aprobo', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },

                        { name: 'cantitems', index: 'cantitems', align: 'right', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'idaux', index: 'idaux', align: 'left', width: 100, editable: false, hidden: true, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'NumeroComparativa', index: 'NumeroComparativa', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'IdTipoCompraRM', index: 'IdTipoCompraRM', align: 'left', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },

                        { name: 'Observaciones', index: 'Observaciones', align: 'left', width: 400, editable: false, search: true, searchoptions: { sopt: ['cn'] } },

                        { name: 'DetalleCondicionCompra', index: 'DetalleCondicionCompra', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },


                        { name: 'PedidoExterior', index: 'PedidoExterior', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'IdPedidoAbierto', index: 'IdPedidoAbierto', align: 'left', width: 100, hidden: true, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'NumeroLicitacion', index: 'NumeroLicitacion', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Impresa', index: 'Impresa', align: 'left', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },

                        { name: 'UsuarioAnulacion', index: 'UsuarioAnulacion', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },



                        {
                            name: 'FechaAnulacion', index: 'FechaAnulacion', width: 100, align: 'center',
                            sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' },
                            datefmt: 'dd/mm/yy',

                            search: true,
                            searchrules: {
                                date: true
                            },
                            searchoptions: { // http://stackoverflow.com/questions/14632735/jqgrid-searching-dates
                                sopt: ['ge', 'le', 'eq'],
                                dataInit: function (elem) {
                                    $(elem).datepicker({
                                        dateFormat: 'dd/mm/yy',
                                        changeYear: true,
                                        changeMonth: true,
                                        showButtonPanel: true,
                                        onSelect: function () {
                                            $(this).keydown();
                                        }
                                    });
                                }
                            }

                        },

                        { name: 'MotivoAnulacion', index: 'MotivoAnulacion', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'ImpuestosInternos', index: 'ImpuestosInternos', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Equipos', index: 'Equipos', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },

                        { name: 'CircuitoFirmasCompleto', index: 'CircuitoFirmasCompleto', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'IdCodigoIva', index: 'IdCodigoIva', align: 'left', width: 100, hidden: true, editable: false, search: true, searchoptions: { sopt: ['cn'] } },

                        { name: '', index: '', align: 'left', width: 100, hidden: true, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: '', index: '', align: 'left', width: 100, hidden: true, editable: false, search: true, searchoptions: { sopt: ['cn']} },

                        { name: '', index: '', align: 'left', width: 100, hidden: false, editable: false, search: true, searchoptions: { sopt: ['cn']} }


                    ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },
            ondblClickRow: function (idrow) {
                window.location.href = ROOT + 'Pedido/Edit/' + idrow;


                // $("#edtData").click();

                //edicion inline
                // http://stackoverflow.com/questions/8163106/form-editing-with-inline-editing-to-same-jqgrid
                //                if(id && id!==lastSel){ 
                //                    jQuery('#Lista').restoreRow(lastSel); 
                //                    lastSel=id; 
                //                }
                //                jQuery('#Lista').editRow(id, true); 
                //   

            },
            loadComplete: function () {
                $("tr.jqgrow", this).contextMenu('myMenu1', {
                    bindings: {
                        'edit': function (trigger) {
                            // trigger is the DOM element ("tr.jqgrow") which are triggered
                            //   grid.editGridRow(trigger.id, editSettings);
                        },
                        'add': function (/*trigger*/) {
                            //  grid.editGridRow("new", addSettings);
                        },
                        'del': function (trigger) {
                            if ($('#del').hasClass('ui-state-disabled') === false) {
                                // disabled item can do be choosed
                                //      grid.delGridRow(trigger.id, delSettings);
                            }
                        }
                    },
                    onContextMenu: function (event/*, menu*/) {
                        var rowId = $(event.target).closest("tr.jqgrow").attr("id");
                        //grid.setSelection(rowId);
                        // disable menu for rows with even rowids
                        //$('#del').attr("disabled", Number(rowId) % 2 === 0);
                        //if (Number(rowId) % 2 === 0) {
                        //    $('#del').attr("disabled", "disabled").addClass('ui-state-disabled');
                        //} else {
                        //    $('#del').removeAttr("disabled").removeClass('ui-state-disabled');
                        //}
                        return true;
                    },

                    //http://stackoverflow.com/questions/8451982/custom-values-to-context-menu-items-in-jqgrid
                    menuStyle: {
                        backgroundColor: '#fcfdfd',
                        border: '1px solid #a6c9e2',
                        maxWidth: '600px', // to be sure
                        width: '100%' // to have good width of the menu
                    },
                    itemHoverStyle: {
                        border: '1px solid #79b7e7',
                        color: '#1d5987',
                        backgroundColor: '#d0e5f5'
                    }


                });
            },





            pager: $('#ListaPager'),
            rowNum: 15,
            rowList: [10, 20, 50],
            sortname: 'NumeroPedido', // 'FechaRecibo,NumeroRecibo',
            sortorder: 'desc',
            viewrecords: true,
            emptyrecords: 'No hay registros para mostrar', //,


            ///////////////////////////////
            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,
            //////////////////////////////

            height: $(window).height() - ALTOLISTADO, // '100%'
            altRows: false,
            footerrow: false, //true,
            userDataOnFooter: true
            // ,caption: '<b>FACTURAS</b>'

            , gridview: true
            , multiboxonly: true
            , multipleSearch: true


       


        });

        jQuery("#Lista").jqGrid('bindKeys');

        jQuery("#Lista").jqGrid('navGrid', '#ListaPager',
         { csv: true, refresh: true, add: false, edit: false, del: false }, {}, {}, {},
         {
             //sopt: ["cn"]
             //sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'ew', 'en', 'cn', 'nc', 'nu', 'nn', 'in', 'ni'],
             width: 700, closeOnEscape: true, closeAfterSearch: true, multipleSearch: true, overlay: false
         }
        );


        jQuery("#Lista").filterToolbar({
            stringResult: true, searchOnEnter: true,
            defaultSearch: 'cn',
            enableClear: false
        }); // si queres sacar el enableClear, definilo en las searchoptions de la columna específica http://www.trirand.com/blog/?page_id=393/help/clearing-the-clear-icon-in-a-filtertoolbar/




        $(window).resize(function () {
            RefrescaAnchoJqgrids();
        });



        $(function () {
            deshabilitarPanelesDerecho();

        })


        pageLayout.hide('east');
        pageLayout.hide('south');


    });

</script>
