@model IEnumerable<ProntoMVC.Data.Models.Valore>
@{
    ViewBag.Title = "Gastos bancarios";
}

<div><input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]></div>
<div><input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]></div>

<br />

<div style="padding-left: 15px; padding-right: 15px;">
    <div class="row-fluid">
        <div class="span9 lightblue">
            <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'" class="btn btn-primary">Nuevo gasto bancario</button>
        </div>
    </div>
    <br />
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px; font-family: 'Helvetica Narrow', 'Arial Narrow', Tahoma, Arial, Helvetica, sans-serif;"></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        //Para que haga wrap en las celdas
        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("TT", "Valor")',
            postData: { 'FechaInicial': function () { return $("#FechaInicial").val(); }, 'FechaFinal': function () { return $("#FechaFinal").val(); } },
            datatype: 'json',
            mtype: 'POST',
            colNames: ['', 'IdValor', 'IdBanco', 'IdCuentaBancaria', 'IdTipoComprobante', 'IdObra', 'IdCuentaGasto', 'IdCuentaContable', 'IdCuentaIVA', 'IdMoneda', 'Banco', 'Tipo', 'Obra',
                       'Cuenta gasto', 'Cuenta contable', 'Numero comp.', 'Fecha gasto', 'Fecha contable', 'Iva', 'Cuenta iva', '% iva', 'Certificado ret.', 'Mon.', 'Conv. $', 'Importe $',
                       'Detalle', 'Conc.', 'Mov. conf. bco.', 'Fecha conf. bco.', 'Cuenta bancaria', 'Nro. conciliacion', 'Fecha conciliacion', 'Confecciono', 'Fecha ingreso',
                       'Modifico', 'Fecha modificacion'],
            colModel: [
                        { name: 'ver', index: 'ver', hidden: false, width: 50 },
                        { name: 'IdValor', index: 'IdValor', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'IdBanco', index: 'IdBanco', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'IdCuentaBancaria', index: 'IdCuentaBancaria', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'IdTipoComprobante', index: 'IdTipoComprobante', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'IdObra', index: 'IdObra', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'IdCuentaGasto', index: 'IdCuentaGasto', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'IdCuentaContable', index: 'IdCuentaContable', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'IdCuentaIVA', index: 'IdCuentaIVA', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'IdMoneda', index: 'IdMoneda', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'Banco', index: 'Banco', align: 'left', width: 300, sortable: false, editable: false, search: false, hidden: false },
                        { name: 'Tipo', index: 'Tipo', align: 'center', width: 40, sortable: false, editable: false, search: false, hidden: false },
                        { name: 'Obra', index: 'Obra', align: 'left', width: 100, sortable: false, editable: false, search: false, hidden: false },
                        { name: 'CuentaGasto', index: 'CuentaGasto', align: 'left', width: 150, sortable: false, editable: false, search: false, hidden: false },
                        { name: 'Cuenta', index: 'Cuenta', align: 'left', width: 150, sortable: false, editable: false, search: false, hidden: false },
                        { name: 'NumeroComprobante', index: 'NumeroComprobante', align: 'left', width: 80, editable: false, hidden: false },
                        { name: 'FechaGasto', index: 'FechaGasto', width: 80, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'FechaComprobante', index: 'FechaComprobante', width: 80, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'Iva', index: 'Iva', align: 'right', width: 120, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CuentaIVA', index: 'CuentaIVA', align: 'left', width: 150, sortable: false, editable: false, search: false, hidden: false },
                        { name: 'PorcentajeIVA', index: 'PorcentajeIVA', align: 'center', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CertificadoRetencion', index: 'CertificadoRetencion', align: 'left', width: 80, editable: false, hidden: false },
                        { name: 'Moneda', index: 'Moneda', align: 'center', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CotizacionMoneda', index: 'CotizacionMoneda', align: 'right', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'ImportePesos', index: 'ImportePesos', align: 'right', width: 120, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Detalle', index: 'Detalle', align: 'left', width: 200, sortable: false, editable: false, search: false, hidden: false },
                        { name: 'Conciliado', index: 'Conciliado', align: 'center', width: 50, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'MovimientoConfirmadoBanco', index: 'MovimientoConfirmadoBanco', align: 'center', width: 80, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'FechaConfirmacionBanco', index: 'FechaConfirmacionBanco', width: 80, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'CuentaBancaria', index: 'CuentaBancaria', align: 'left', width: 150, sortable: false, editable: false, search: false, hidden: false },
                        { name: 'ConciliacionNumero', index: 'ConciliacionNumero', align: 'left', width: 80, editable: false, hidden: false },
                        { name: 'ConciliacionFecha', index: 'ConciliacionFecha', width: 80, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'Confecciono', index: 'Confecciono', align: 'left', width: 200, sortable: false, editable: false, search: false, hidden: false },
                        { name: 'FechaIngreso', index: 'FechaIngreso', width: 80, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'Modifico', index: 'Modifico', align: 'left', width: 200, sortable: false, editable: false, search: false, hidden: false },
                        { name: 'FechaModifico', index: 'FechaModifico', width: 80, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
            ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },
            pager: $('#ListaPager'),
            rowNum: 15,
            rowList: [10, 20, 50, 20000],
            sortname: 'FechaComprobante',
            sortorder: 'desc',
            viewrecords: true,
            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,
            height: '100%',
            altRows: false,
            footerrow: false,
            userDataOnFooter: true,
            caption: '<b>GASTOS BANCARIOS</b>'
        });
        jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 700, closeOnEscape: true, closeAfterSearch: true });
        //jQuery("#Lista").jqGrid('gridResize', { minWidth: 350, maxWidth: 1500, minHeight: 80, maxHeight: 500 });
        //jQuery("#Lista").jqGrid('setFrozenColumns');

        $(window).resize(function () {
            RefrescaAnchoJqgrids();
        });

        pageLayout.hide('east');
        pageLayout.hide('south');
    });

</script>
