@model IEnumerable<ProntoMVC.Data.Models.Provincia>
@{
    ViewBag.Title = "Provincias";
}

<br />
<div style="padding-left: 15px; padding-right: 15px;">
    <div class="row-fluid">
        <div class="span9 lightblue">
            <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'" class="btn btn-primary">Nueva provincia</button>
        </div>
    </div>
    <br />
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px; "></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            //url: '@Url.Action("TT", "Provincia")',
            url: '@Url.Action("Provincias_DynamicGridData", "Provincia")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Acciones', 'IdProvincia', 'IdPais', 'IdCuentaRetencionIBrutos', 'IdCuentaPercepcionIBrutos', 'IdCuentaPercepcionIIBBConvenio', 'IdCuentaRetencionIBrutosCobranzas',
                       'IdCuentaPercepcionIIBBCompras', 'IdCuentaPercepcionIIBBComprasJurisdiccionLocal', 'Nombre', 'Codigo', 'Pais', 'Prox. nro. certif. ret. IIBB', 'Prox. nro. certif. percep. IIBB',
                       'Cuenta retencion IIBB', 'Cuenta percepcion IIBB', 'Cuenta percepcion IIBB Convenio', 'Cuenta retencion IIBB Cobranzas', 'Cuenta percep. IIBB conv. compras',
                       'Cuenta percep. IIBB compras local', 'Es agente ret. IIBB?', 'Codigo ESRI', 'Cod. jurisdiccion'],
            colModel: [
                        { name: 'act', index: 'act', align: 'center', width: 80, sortable: false, editable: false, search: false },
                        { name: 'IdProvincia', index: 'IdProvincia', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'IdPais', index: 'IdPais', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'IdCuentaRetencionIBrutos', index: 'IdCuentaRetencionIBrutos', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'IdCuentaPercepcionIBrutos', index: 'IdCuentaPercepcionIBrutos', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'IdCuentaPercepcionIIBBConvenio', index: 'IdCuentaPercepcionIIBBConvenio', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'IdCuentaRetencionIBrutosCobranzas', index: 'IdCuentaRetencionIBrutosCobranzas', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'IdCuentaPercepcionIIBBCompras', index: 'IdCuentaPercepcionIIBBCompras', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'IdCuentaPercepcionIIBBComprasJurisdiccionLocal', index: 'IdCuentaPercepcionIIBBComprasJurisdiccionLocal', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'Nombre', index: 'Nombre', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Codigo', index: 'Codigo', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Pais', index: 'Pais.Descripcion', align: 'left', width: 150, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'ProximoNumeroCertificadoRetencionIIBB', index: 'ProximoNumeroCertificadoRetencionIIBB', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'ProximoNumeroCertificadoPercepcionIIBB', index: 'ProximoNumeroCertificadoPercepcionIIBB', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CuentaRetencionIIBB', index: 'CuentaRetencionIIBB', align: 'left', width: 200, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'CuentaPercepcionIIBB', index: 'CuentaPercepcionIIBB', align: 'left', width: 200, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'CuentaPercepcionIIBBConvenio', index: 'CuentaPercepcionIIBBConvenio', align: 'left', width: 200, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'CuentaRetencionIIBBCobranzas', index: 'CuentaRetencionIIBBCobranzas', align: 'left', width: 200, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'CuentaPercepcionIIBBConvenioCompras', index: 'CuentaPercepcionIIBBConvenioCompras', align: 'left', width: 200, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'CuentaPercepcionIIBBCompras', index: 'CuentaPercepcionIIBBCompras', align: 'left', width: 200, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'EsAgenteRetencionIIBB', index: 'EsAgenteRetencionIIBB', align: 'center', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CodigoESRI_1', index: 'CodigoESRI_1', align: 'center', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'InformacionAuxiliar', index: 'InformacionAuxiliar', align: 'center', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn'] } }
                    ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },
            pager: $('#ListaPager'),
            rowNum: 20,
            rowList: [20, 50, 100],
            sortname: 'Nombre',
            sortorder: 'asc',
            viewrecords: true,
            emptyrecords: 'No hay registros para mostrar',
            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,
            height: $(window).height() - ALTOLISTADO, // '100%'
            altRows: false,
            footerrow: false, //true,
            userDataOnFooter: true,
            multiboxonly: true,
            multipleSearch: true,
            caption: '<b>PROVINCIAS</b>'
    });
        jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 700, closeOnEscape: true, closeAfterSearch: true });
        jQuery("#Lista").jqGrid('gridResize', { minWidth: 350, maxWidth: 1500, minHeight: 80, maxHeight: 500 });
        jQuery("#Lista").filterToolbar({
            stringResult: true, searchOnEnter: true,
            defaultSearch: 'cn',
            enableClear: false
        });
    });
</script>
