@{
    ViewBag.Title = "Inicio";
}
@*<h2>@ViewBag.Message</h2>*@ @*background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(243, 243, 243)) , color-stop(100%, #e8e8e8)) !important;
    @Url.Content("~/Content/images/logosolo.gif");*@
<div>
    <div class="container-fluid">



        @*-webkit-gradient(linear, left top, left bottom, from(rgb(243, 243, 243)) , color-stop(100%, #e8e8e8)) !important;"*@

        <script>
            $(document).ready(function () {
                pageLayout.show('west');
            });
        </script>
        <style>
            .thumbnails {
                /*display: none;*/
                border: 0;
            }

            .text-center {
                /*   color: white; */
                font-weight: normal;
            }
        </style>
        
    </div>
</div>
<script>

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    $(window).resize(function () {
        // RefrescaAnchoGrillaDetalle();
    });

    $(function () {

        $("#ListaDrag").jqGrid({
            url: ROOT + 'Home/Directorio',
            postData: { 'FechaInicial': function () { return ""; }, 'FechaFinal': function () { return ""; }, 'IdObra': function () { return ""; } },
            datatype: 'json',
            mtype: 'POST',
            cellEdit: false,
            colNames: ['Acciones', 'Acciones', 'IdRequerimiento', 'Numero', 'Fecha', 'Cump.', 'Recep.', 'Entreg.', 'Impresa', 'Detalle', 'Obra', 'Pedidos', 'Comparativas',
                       'Pedidos', 'Recepciones', 'Salidas', 'Libero', 'Solicito', 'Sector', 'Usuario anulo', 'Fecha anulacion', 'Motivo anulacion', 'Fechas liberacion',
                       'Observaciones', 'Lugar de entrega', 'IdObra', 'IdSector'],
            colModel: [
                        { name: 'act', index: 'act', align: 'center', width: 300, sortable: false, editable: false, search: false, hidden: false }, //, formatter: 'showlink', formatoptions: { baseLinkUrl: '@Url.Action("Edit")'} },
                        { name: 'act', index: 'act', align: 'center', width: 80, sortable: false, editable: false, search: false, hidden: true }, //, formatter: 'showlink', formatoptions: { baseLinkUrl: '@Url.Action("Edit")'} },
                        { name: 'IdRequerimiento', index: 'IdRequerimiento', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'NumeroRequerimiento', index: 'NumeroRequerimiento', align: 'right', width: 300, editable: false, search: true, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'FechaRequerimiento', index: 'FechaRequerimiento', width: 75, align: 'center', sorttype: 'date', editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'Cumplido', index: 'Cumplido', align: 'center', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: false },
                        { name: 'Recepcionado', index: 'Recepcionado', align: 'center', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: false },
                        { name: 'Entregado', index: 'Entregado', align: 'center', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: false },
                        { name: 'Impresa', index: 'Impresa', align: 'center', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: true },
                        { name: 'Detalle', index: 'Detalle', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'NumeroObra', index: 'NumeroObra', align: 'left', width: 85, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Pedidos', index: 'Pedidos', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: true },
                        { name: 'Comparativas', index: 'Comparativas', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: true },
                        { name: 'Pedidos', index: 'Pedidos', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: true },
                        { name: 'Recepciones', index: 'Recepciones', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: true },
                        { name: 'Salidas', index: 'Salidas', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: true },
                        { name: 'Libero', index: 'Libero', align: 'left', width: 150, editable: false, search: true, searchoptions: { sopt: [''] }, hidden: true },
                        { name: 'Solicito', index: 'Solicito', align: 'left', width: 150, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: true },
                        { name: 'Sector', index: 'Sector', align: 'left', width: 150, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Usuario_anulo', index: 'Usuario_anulo', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: true },
                        { name: 'Fecha_anulacion', index: 'Fecha_anulacion', align: 'center', width: 75, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: true },
                        { name: 'Motivo_anulacion', index: 'Motivo_anulacion', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: true },
                        { name: 'Fechas_liberacion', index: 'Fechas_liberacion', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: true },
                        { name: 'Observaciones', index: 'Observaciones', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'LugarEntrega', index: 'LugarEntrega', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'IdObra', index: 'IdObra', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: true },
                        { name: 'IdSector', index: 'IdSector', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] }, hidden: true }
            ],
            ondblClickRow: function (id) {
                CopiarRM(id);
            },
            loadComplete: function () {
                grid = $(this);
                $("#ListaDrag td", grid[0]).css({ background: 'rgb(234, 234, 234)' });
            },
            pager: $('#ListaDragPager'),
            rowNum: 15,
            rowList: [10, 20, 50],
            sortname: 'NumeroRequerimiento',
            sortorder: "desc",
            viewrecords: true,

            ///////////////////////////////
            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,
            //////////////////////////////
            //height: '100%',

            height: '100%',
            // height: $(window).height() - 350,
            //////////////////////////////


            altRows: false,
            emptyrecords: 'No hay registros para mostrar'//,
            //caption: '<b>REQUERIMIENTOS RESUMIDO</b>'
        })
        jQuery("#ListaDrag").jqGrid('navGrid', '#ListaDragPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 700, closeOnEscape: true, closeAfterSearch: true });

        //jQuery("#ListaDrag").jqGrid('gridResize', { minWidth: 0, maxWidth: 100, minHeight: 80, maxHeight: 500 });
        // jQuery("#ListaDrag").jqGrid('filterToolbar', {});


        // dependiendo del clic
        //jqGrid 4.0 New search module, Tree Grid and SubGrid improvements, new colModel cellattr event and much more... -usar la grilla
        // como arbol. usar la navegacion con flechitas que tiene a partir de la version 4
        // http: //stackoverflow.com/questions/2022069/jqgrid-navigate-rows-using-up-down-arrow-keys
        jQuery("#ListaDrag").jqGrid().setGridParam({ url: ROOT + 'Requerimiento/RequerimientosComprables' }).trigger("reloadGrid")
        //  jQuery("#ListaDrag").jqGrid('navGrid', '#ListaDragPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 700, closeOnEscape: true, closeAfterSearch: true });

        jQuery("#ListaDrag").jqGrid('bindKeys');

        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


        $("#contenedor").css('overflow', 'hidden'); // trampa,  porque no sé por qué me está poniendo la barra horizontal en el tab que contiene la grilla auxiliar de directorio de entidades





        pageLayout.hide('east');
        pageLayout.hide('south');


    })


    $(function () {
        deshabilitarPanelesDerecho();

    })

</script>
