@model IEnumerable<ProntoMVC.Data.Models.ImpuestosDirecto>
@{
    ViewBag.Title = "Otros impuestos directos";
}

<br />
<div style="padding-left: 15px; padding-right: 15px;">
    <div class="row-fluid">
        <div class="span9 lightblue">
            <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'" class="btn btn-primary">Nuevo impuesto directo</button>
        </div>
    </div>
    <br />
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px; "></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("TT", "ImpuestosDirecto")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Acciones', 'IdImpuestoDirecto', 'IdTipoImpuesto', 'IdCuenta', 'Descripcion', 'Tipo impuesto', 'Codigo', 'Cod. reg.', 'Tasa', 'Cuenta contable', 'Base minima',
                       'Prox. nro. certif.', 'Activa grupo?', 'Grupo', 'Tope anual', 'Insc. oper. granos'],
            colModel: [
                        { name: 'act', index: 'act', align: 'center', width: 80, sortable: false, editable: false, search: false },
                        { name: 'IdImpuestoDirecto', index: 'IdImpuestoDirecto', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'IdTipoImpuesto', index: 'IdTipoImpuesto', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'IdCuenta', index: 'IdCuenta', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'Descripcion', index: 'Descripcion', align: 'left', width: 300, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'TipoImpuesto', index: 'TipoImpuesto', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Codigo', index: 'Codigo', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CodigoRegimen', index: 'CodigoRegimen', align: 'left', width: 60, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Tasa', index: 'Tasa', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CuentaContable', index: 'CuentaContable', align: 'left', width: 300, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'BaseMinima', index: 'BaseMinima', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'ProximoNumeroCertificado', index: 'ProximoNumeroCertificado', align: 'left', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'ActivaNumeracionPorGrupo', index: 'ActivaNumeracionPorGrupo', align: 'center', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Grupo', index: 'Grupo', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'TopeAnual', index: 'TopeAnual', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'ParaInscriptosEnRegistroFiscalOperadoresGranos', index: 'ParaInscriptosEnRegistroFiscalOperadoresGranos', align: 'center', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } }
                    ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },
            pager: $('#ListaPager'),
            rowNum: 20,
            rowList: [10, 20, 50, 100],
            sortname: 'Descripcion',
            sortorder: 'asc',
            viewrecords: true,
            emptyrecords: 'No hay registros para mostrar',
            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,
            height: $(window).height() - ALTOLISTADO, // '100%'
            altRows: false,
            footerrow: false, //true,
            userDataOnFooter: true,
            multiboxonly: true,
            caption: '<b>OTROS IMPUESTOS DIRECTOS</b>'
    });
        jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 700, closeOnEscape: true, closeAfterSearch: true });
        jQuery("#Lista").jqGrid('gridResize', { minWidth: 350, maxWidth: 1500, minHeight: 80, maxHeight: 500 });
    });
</script>
