
   'http://msdn.microsoft.com/en-us/library/ms247256(v=vs.80).aspx

body {
}


.bodyMasterPage
{
     
    
	/* El asuntito de la imagen del background http://www.daniweb.com/forums/thread57245.html#  */ /*background-image: url('<%= imgPath %>'); */ /*background-image:"Imagenes/bck_header.jpg";*/
	background-repeat: repeat-x;
	background-attachment: scroll; /*es esto lo que tapa el segundo renglon!! */
	 
	background-image: url("../../Imagenes/bck_header.jpg");
	
	background-repeat: repeat-x;
	background-attachment: scroll;
	margin: 0; /* importante. si no, te pone un margen blanco*/ /*background-color: #507CBB; height: 100%; width: 100%; background-image: url('<%= imgPath %>');     background-repeat: repeat-x; background-attachment: scroll;"*/
}



.cssTextoComun
{
	font-size: 11px;
	font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
	color: White; /* #333;*/
	line-height: 1.28;
	text-align: left;
	direction: ltr;
}


.CssABM
{
    /* como Gmail */ 
    /*background-color: #F5F5F5;*/
    /*border: 1px solid #E4E4E4;*/
}
