
   /* http://msdn.microsoft.com/en-us/library/ms247256(v=vs.80).aspx */

body {
}

/* El color de fondo de la pagina entera (no el content. Es decir, el margen) */
.cssLogin
{
        background-image: url("");
    /*background-color: #A0BAE7; *//* El asuntito de la imagen del background http://www.daniweb.com/forums/thread57245.html#  */ /*background-image: url('<%= imgPath %>'); */ /*background-image:"Imagenes/bck_header.jpg";*/
  /*  background-repeat: repeat-x; *//* background-attachment: scroll;*/ /*es esto lo que tapa el segundo renglon!! */ /*background-image: url("../../Imagenes/bck_header.jpg");*/ /* AZUL     background-image: -webkit-gradient(linear, left top, left bottom, from( #A0BAE7), color-stop(40%,  #8DADDF));     background-image: -moz-linear-gradient(90deg, #1F8DD6 60%, #C8D1E2); */ /* ASANA */
    background-color: #AFBCC8;
   
    
    background-image: -webkit-gradient(linear, left top, left bottom, from(#97B8E9), color-stop(100%, #5F6F88)) !important;
    background-image: -moz-linear-gradient(90deg, #5A79A7 0%, #A2BBE0) !important;
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#97B8E9', EndColorStr='#5F6F88'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#97B8E9', EndColorStr='#5F6F88')"; /* IE8 */
    
 /*   background-repeat: repeat-x;*/
  /*  background-attachment: scroll;*/
    margin: 0; /* importante. si no, te pone un margen blanco*/ /*background-color: #507CBB; height: 100%; width: 100%; background-image: url('<%= imgPath %>');     background-repeat: repeat-x; background-attachment: scroll;"*/
}


/* El color de fondo de la pagina entera (no el content. Es decir, el margen) */
.bodyMasterPage
{
    background-color: #97B8E9; /* El asuntito de la imagen del background http://www.daniweb.com/forums/thread57245.html#  */ /*background-image: url('<%= imgPath %>'); */ /*background-image:"Imagenes/bck_header.jpg";*/
    background-repeat: repeat-x; /* background-attachment: scroll;*/ /*es esto lo que tapa el segundo renglon!! */ /*background-image: url("../../Imagenes/bck_header.jpg");*/ /* AZUL     background-image: -webkit-gradient(linear, left top, left bottom, from( #A0BAE7), color-stop(40%,  #8DADDF));     background-image: -moz-linear-gradient(90deg, #1F8DD6 60%, #C8D1E2); */ /* ASANA */
    /* background-color: #AFBCC8; */
   
    background-image: -webkit-gradient(linear, left top, left bottom, from(#97B8E9), color-stop(100%, #6C84AA));
    background-image: -moz-linear-gradient(90deg, #6C84AA 0%, #97B8E9);
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#97B8E9', EndColorStr='#5F6F88'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#97B8E9', EndColorStr='#5F6F88')"; /* IE8 */

    background-repeat: repeat-x;
    background-attachment: scroll;
    margin: 0; /* importante. si no, te pone un margen blanco*/ /*background-color: #507CBB; height: 100%; width: 100%; background-image: url('<%= imgPath %>');     background-repeat: repeat-x; background-attachment: scroll;"*/
}


.cssContentPlaceHolder2
{
    /*
    background-image: -webkit-gradient(linear, left top, left bottom, from(#97B8E9), color-stop(100%, #6C84AA));
    background-image: -moz-linear-gradient(90deg, #6C84AA 0%, #97B8E9);
*/
}




.cssTextoComun
{
	font-size: 11px;
	font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
	color: White; /* #333;*/
	line-height: 1.28;
	text-align: left;
	direction: ltr;
}


.CssABM
{
    /* como Gmail */ 
    /*background-color: #F5F5F5;*/
    border: 1px solid white;
}















/* 
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
*/


.cssdivPanelMenu
{
  /* border-right: 1px solid #9CACBC;*/
  background: rgba(107, 79, 219, 0.00)
}


/* 
///////////////////////////////////////////////////////////////
					acordion

*/


.accordionHeader
{
	border: 1px solid rgba(74, 60, 140, 0.24); /* #2F4F4F; */  
	color: white;
	background-color: /*#4A3C8C;*/ /*	background-color: transparent;*/
	rgba(74, 60, 140, 0.57);
	
	font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif; /*Arial, Sans-Serif;*/
	font-size: 9px;
	font-weight: bold; /* normal */
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 0px;
	cursor: pointer;
}


.accordionContent
{
	/*background-color: rgba(231, 231, 255, 0.90); */ /* #E7E7FF; */
	background-color: rgba(231, 231, 255, 0.45); 
	
	color: #4A3C8C; /* 	background-color: transparent; 	color: white; */
	font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif; /*Arial, Sans-Serif;*/
	font-size: 11px;
	border: 0px solid #2F4F4F;
	border-top: none;
	padding: 0px;
	padding-top: 10px;
	border-spacing: 0px;
	/*border-collapse: collapse !important;*/ /* esta es la magia para que reemplazar el cellspacing, que no tiene css */ 
	font-style: normal;
	font-size: small;
		
	
	
	padding-top: 12px;
	padding-bottom: 5px;
}





.accordionHeader a
{
	color: white;
	background: none;
	text-decoration: none;
}

.accordionHeader a:hover
{
	background: none;
	text-decoration: nonr;
}

.accordionHeaderSelected
{
	border: 0px solid #2F4F4F;
	color: white;
	font-weight: bold;
	font-style: normal;
	cursor: pointer;
}

.accordionHeaderSelected a
{
	color: white;
	text-decoration: none;
}

.accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: none;
}









/* http://stackoverflow.com/a/1323014/60485 */
/* http://stackoverflow.com/a/1323014/60485 */
/* http://stackoverflow.com/a/1323014/60485 */
/* http://stackoverflow.com/a/1323014/60485 */
/* http://stackoverflow.com/a/1323014/60485 */

/* esta es la papa!!! */
/* esta es la papa!!! */
/* esta es la papa!!! */

.accordionContent table
{
    /*cellspacing=0;*/
    border-collapse: collapse;  /* 'cellspacing' equivalent */
    
 }

.accordionContent table td, table th
{
    padding-top: 2px;
    padding-bottom: 2px;
    
    padding-left: 0px !important; /* 'cellpadding' equivalent */
}






.accordionContent a
{
    
    
    padding-left: 20px;
    
	margin-left: 0px; /* 21px es el margen que usa Facebook, donde pone el iconito */
	text-decoration: none;
	margin-top: 15px;
	
	color: #4A3C8C; /*color: white; */
}

.accordionContent a:link
{
	text-decoration: none;
		color: #4A3C8C; /*color: white; */
}

.accordionContent a:active
{
	text-decoration: none;
	color: #4A3C8C; /*color: white; */
	/*border-left: 2px solid;
	border-left-color: inherit;*/
	 
	 	/*border:2px;
	border-left-width: 3;*/ /* una onda la barrita de seleccionado en GMail */
	
}










.cssAccordionSideBarItem a
{
    
    /* ver tambien AccordionItemSeleccionado */
    /* padding: 30px !important;*/
   /* pading: 10px;*/
    
    	
	padding-top: 10px !important;
	padding-bottom: 10px;
      
	margin-top: 15px !important;
	/*color: #4A3C8C; color: white; */
	/*border-left: 2px solid;*/
	/*border-left-color: Red;*/ /* inherit;*/
	 
	 	/*border:2px;*/
	/*border-left-width: 3;*/ /* una onda la barrita de seleccionado en GMail */
}



.AccordionItemSeleccionado 
{
    
    
    padding-left: 16px !important;
                    font-weight: bold;
                 /*border:  0px 0px 0px 2px solid;*/
              /*   border-left: 4px solid #DD4B39; */
                 border-left: 4px solid #4A3C8C;
                 /* border-width: 2px;*/
               /* margin: 2px;*/
                /*border-style: solid;*/
             /*   color: #DD4B39 !important; */
                 color: #4A3C8C !important;
               
                
}













/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.EncabezadoCell
{
	/*border: thin solid #FFFFFF;*/
	border: none;
	font-size: small;
	color: White;
}





.butCrearViejo
{
	font-weight: normal;
		text-decoration: none; /*sin underline */
	margin: 0px;
	margin-right: 40px;
	border: 1px solid #29447E; /* facebook */ /*white;*/
	height: 23px;
	width: auto;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
	font-size: small;
	color: white;
	font-family: Verdana;
	background-color: #4F6AA3; /* facebook */
	cursor: hand;
}



.margen
{
    color: White;
}

.tablapie 
{
    /* por algun motivo, está arruinando el scroll vertical del masterpage. Hasta que lo descule, lo saco */
    visibility: hidden;
    display: none;
/*     background-color: #CCDADF;*/
}
