
   'http://msdn.microsoft.com/en-us/library/ms247256(v=vs.80).aspx

body {
}


.bodyMasterPage
{
     
    background-color: #E8E8E8;
    
	/* El asuntito de la imagen del background http://www.daniweb.com/forums/thread57245.html#  */ /*background-image: url('<%= imgPath %>'); */ /*background-image:"Imagenes/bck_header.jpg";*/
	background-repeat: repeat-x;
	background-attachment: scroll; /*es esto lo que tapa el segundo renglon!! */
	 
/*		background-image: url("../../Imagenes/bck_header.jpg");*/
		
	background-repeat: repeat-x;
	background-attachment: scroll;
	margin: 0; /* importante. si no, te pone un margen blanco*/ /*background-color: #507CBB; height: 100%; width: 100%; background-image: url('<%= imgPath %>');     background-repeat: repeat-x; background-attachment: scroll;"*/
}


.cssTextoComun
{
	font-size: 11px;
	font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
	color: black; /* #333;*/
	line-height: 1.28;
	text-align: left;
	direction: ltr;
}


.CssABM
{
    /* como Gmail */ 
    background-color: #F5F5F5;
    border: 1px solid #E4E4E4;
}











/*////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

/* TABLA DE ENCABEZADO */

body
{
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 11px;
}

h1
{
    font-size: 15px;
}

.LabelCell
{
    /*background-color: #507CBB;*/
    color: #fff; /* font-weight: bold;*/
    vertical-align: top;
    border: thin solid #FFFFFF;
    width: 270px; /*border-right: thin solid;    border-top: thin solid;    border-left: thin solid;    border-bottom: thin solid;*/
}

.EncabezadoCell
{
    /*border: thin solid #FFFFFF;*/
    text-align: left; /* right; */
    border: none;
    font-size: small;
    font-weight: normal;
    color: black; /* black;*/
}

.EncabezadoCellOculto
{
    /*border: thin solid #FFFFFF;*/
    border: none;
    font-size: small;
    color: White;
    visibility: hidden;
    display: none;
}



/* 
///////////////////////////////////////////////////////////////
					acordion

*/





.accordionHeader
{
	border: 1px solid transparent;
	color: white;
	background-color: transparent;
	font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif; /*Arial, Sans-Serif;*/
	font-size: 9px;
	font-weight: bold; /* normal */
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 0px;
	cursor: pointer;
}

.accordionHeader a
{
	color: black;
	background: none;
	text-decoration: none;
}

.accordionHeader a:hover
{
	background: none;
	text-decoration: none;
}

.accordionHeaderSelected
{
	border: 0px solid transparent;
	color: black;
	font-weight: bold;
	font-style: normal;
	cursor: pointer;
}

.accordionHeaderSelected a
{
	color: black;
	text-decoration: none;
}

.accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: none;
}







.accordionContent
{
	background-color: transparent;
	color: #4A3C8C; /* 	background-color: transparent; 	color: white; */
	font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif; /*Arial, Sans-Serif;*/
	font-size: 11px;
	border: 0px solid #2F4F4F;
	border-top: none;
	padding: 0px;
	padding-top: 10px;
	border-spacing: 0px;
	/*border-collapse: collapse !important;*/ /* esta es la magia para que reemplazar el cellspacing, que no tiene css */ 
	font-style: normal;
	font-size: small;
		
	
	
	padding-top: 12px;
	padding-bottom: 5px;
}



/* http://stackoverflow.com/a/1323014/60485 */
/* http://stackoverflow.com/a/1323014/60485 */
/* http://stackoverflow.com/a/1323014/60485 */
/* http://stackoverflow.com/a/1323014/60485 */
/* http://stackoverflow.com/a/1323014/60485 */

/* esta es la papa!!! */
/* esta es la papa!!! */
/* esta es la papa!!! */

.accordionContent table
{
    /*cellspacing=0;*/
    border-collapse: collapse;  /* 'cellspacing' equivalent */
    
 }

.accordionContent table td, table th
{
    padding-top: 2px;
    padding-bottom: 2px;
    
    padding-left: 0px !important; /* 'cellpadding' equivalent */
}






.accordionContent a
{
    
    
    padding-left: 20px;
    
	margin-left: 0px; /* 21px es el margen que usa Facebook, donde pone el iconito */
	text-decoration: none;
	margin-top: 15px;
	
	color: #4A3C8C; /*color: white; */
}

.accordionContent a:link
{
	text-decoration: none;
		color: #4A3C8C; /*color: white; */
}

.accordionContent a:active
{
	text-decoration: none;
	color: #4A3C8C; /*color: white; */
	/*border-left: 2px solid;
	border-left-color: inherit;*/
	 
	 	/*border:2px;
	border-left-width: 3;*/ /* una onda la barrita de seleccionado en GMail */
	
}










.cssAccordionSideBarItem a
{
    
    /* ver tambien AccordionItemSeleccionado */
    /* padding: 30px !important;*/
   /* pading: 10px;*/
    
    	
	padding-top: 10px !important;
	padding-bottom: 10px;
      
	margin-top: 15px !important;
	/*color: #4A3C8C; color: white; */
	/*border-left: 2px solid;*/
	/*border-left-color: Red;*/ /* inherit;*/
	 
	 	/*border:2px;*/
	/*border-left-width: 3;*/ /* una onda la barrita de seleccionado en GMail */
}



.AccordionItemSeleccionado 
{
    
    
    padding-left: 16px !important;
                    font-weight: bold;
                 /*border:  0px 0px 0px 2px solid;*/
                 border-left: 4px solid #DD4B39;
                 /* border-width: 2px;*/
               /* margin: 2px;*/
                /*border-style: solid;*/
                color: #DD4B39 !important;
                
                
}

