@model IEnumerable<ProntoMVC.Data.Models.Obra>
@{
    ViewBag.Title = "Obras";
}

<div><input id="Activas" name="Activas" type="hidden"></div>

<br />

<div style="padding-left: 15px; padding-right: 15px;">
    <div class="row-fluid">
        <div class="span9 lightblue">
            <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'" class="btn btn-primary">Nueva Obra</button>
        </div>
        <div class="span1 lightblue">
            <input type="radio" id="r1" value="1" name="gr" checked="true"/>Activas
        </div>
        <div class="span1 lightblue">
            <input type="radio" id="r2" value="2" name="gr" />Inactivas
        </div>
    </div>
    <br />
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px; "></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        if ($("#Activas").val() == "") { $("#Activas").val("SI"); }

        $("input[name=gr]:radio").change(function () {
            if ($("#r1").attr("checked")) {
                $("#Activas").val("SI");
            }
            else {
                $("#Activas").val("NO");
            }
            jQuery("#Lista").trigger("reloadGrid");
        })
        
        //Para que haga wrap en las celdas
        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("Obras_DynamicGridData", "Obra")',
            postData: { 'Activas': function () { return $("#Activas").val(); } },
            datatype: 'json',
            mtype: 'POST',
            colNames: ['', 'IdObra', 'Descripcion', 'Codigo', 'Tipo de obra', 'Activa?', 'Fecha inicio', 'Fecha finalizacion', 'Fecha entrega', 'Jerarquia', 'Jefe regional', 'Jefe local', 'Subjefe', 
                        'Cuenta contable fondo fijo', 'Grupo de obra', 'Articulo asociado', 'Valor de la obra', 'Mon.', 'Direccion', 'Localidad', 'Codigo Postal', 'Provincia', 'Pais', 'Telefono', 'Responsable', 
                        'Lugar de pago', 'Prox. nro. aut. compra', 'Orden sec.', 'Dias liq. certif.', 'Observaciones', 'Archivo adjunto 1', 'Archivo adjunto 2', 'Archivo adjunto 3', 'Archivo adjunto 4', 
                        'Archivo adjunto 5', 'Archivo adjunto 6', 'Archivo adjunto 7', 'Archivo adjunto 8', 'Archivo adjunto 9', 'Archivo adjunto 10'],
            colModel: [
                        { name: 'ver', index: 'ver', hidden: false, width: 50, search: false },
                        { name: 'IdObra', index: 'IdOrdenPago', align: 'center', width: 80, search: false, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'Descripcion', index: 'Descripcion', align: 'left', width: 300, editable: false, search: true, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'NumeroObra', index: 'NumeroObra', align: 'left', width: 120, search: true, editable: false, hidden: false },
                        { name: 'TipoObraDescripcion', index: 'TipoObraDescripcion', align: 'left', width: 80, search: true, editable: false, hidden: false },
                        { name: 'Activa', index: 'Activa', align: 'center', width: 50, search: true, editable: false, hidden: false },
                        { name: 'FechaInicio', index: 'FechaInicio', width: 100, align: 'center', search: true, sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'FechaFinalizacion', index: 'FechaFinalizacion', width: 100, align: 'center', search: true, sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'FechaEntrega', index: 'FechaEntrega', width: 100, align: 'center', search: true, sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'Jerarquia', index: 'Jerarquia', align: 'center', width: 120, search: true, editable: false, hidden: false },
                        { name: 'JefeRegional', index: 'JefeRegional', align: 'left', width: 120, search: true, editable: false, hidden: false },
                        { name: 'Jefe', index: 'Jefe', align: 'left', width: 120, search: true, editable: false, hidden: false },
                        { name: 'Subjefe', index: 'Subjefe', align: 'left', width: 120, search: true, editable: false, hidden: false },
                        { name: 'CuentaContableFF', index: 'CuentaContableFF', align: 'left', width: 200, search: true, editable: false, hidden: false },
                        { name: 'GrupoObra', index: 'GrupoObra', align: 'left', width: 200, search: true, editable: false, hidden: false },
                        { name: 'ArticuloAsociado', index: 'ArticuloAsociado', align: 'left', width: 300, search: true, editable: false, hidden: false },
                        { name: 'ValorObra', index: 'ValorObra', align: 'right', width: 100, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Moneda', index: 'Moneda', align: 'left', width: 40, search: true, editable: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Direccion', index: 'Direccion', align: 'left', width: 200, search: true, editable: false, hidden: false },
                        { name: 'Localidad', index: 'Localidad', align: 'left', width: 200, search: true, editable: false, hidden: false },
                        { name: 'CodigoPostal', index: 'CodigoPostal', align: 'left', width: 80, search: true, editable: false, hidden: false },
                        { name: 'Provincia', index: 'Provincia', align: 'left', width: 200, search: true, editable: false, hidden: false },
                        { name: 'Pais', index: 'Pais', align: 'left', width: 120, search: true, editable: false, hidden: false },
                        { name: 'Telefono', index: 'Telefono', align: 'left', width: 120, search: true, editable: false, hidden: false },
                        { name: 'Responsable', index: 'Responsable', align: 'left', width: 120, search: true, editable: false, hidden: false },
                        { name: 'LugarPago', index: 'LugarPago', align: 'left', width: 120, search: true, editable: false, hidden: false },
                        { name: 'ProximoNumeroAutorizacionCompra', index: 'ProximoNumeroAutorizacionCompra', align: 'right', width: 80, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'OrdenamientoSecundario', index: 'OrdenamientoSecundario', align: 'right', width: 80, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'DiasLiquidacionCertificados', index: 'DiasLiquidacionCertificados', align: 'right', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Observaciones', index: 'Observaciones', align: 'left', width: 200, search: true, editable: false, hidden: false },
                        { name: 'ArchivoAdjunto1', index: 'ArchivoAdjunto1', align: 'left', width: 150, search: true, editable: false, hidden: false },
                        { name: 'ArchivoAdjunto2', index: 'ArchivoAdjunto2', align: 'left', width: 150, search: true, editable: false, hidden: false },
                        { name: 'ArchivoAdjunto3', index: 'ArchivoAdjunto3', align: 'left', width: 150, search: true, editable: false, hidden: false },
                        { name: 'ArchivoAdjunto4', index: 'ArchivoAdjunto4', align: 'left', width: 150, search: true, editable: false, hidden: false },
                        { name: 'ArchivoAdjunto5', index: 'ArchivoAdjunto5', align: 'left', width: 150, search: true, editable: false, hidden: false },
                        { name: 'ArchivoAdjunto6', index: 'ArchivoAdjunto6', align: 'left', width: 150, search: true, editable: false, hidden: false },
                        { name: 'ArchivoAdjunto7', index: 'ArchivoAdjunto7', align: 'left', width: 150, search: true, editable: false, hidden: false },
                        { name: 'ArchivoAdjunto8', index: 'ArchivoAdjunto8', align: 'left', width: 150, search: true, editable: false, hidden: false },
                        { name: 'ArchivoAdjunto9', index: 'ArchivoAdjunto9', align: 'left', width: 150, search: true, editable: false, hidden: false },
                        { name: 'ArchivoAdjunto10', index: 'ArchivoAdjunto10', align: 'left', width: 150, search: true, editable: false, hidden: false }
            ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },
            pager: $('#ListaPager'),
            rowNum: 20,
            rowList: [10, 20, 50, 20000],
            sortname: 'Descripcion',
            sortorder: 'asc',
            viewrecords: true,
            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,
            height: '100%',
            altRows: false,
            footerrow: false,
            userDataOnFooter: true,
            caption: '<b>OBRAS</b>'
        });
        jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 700, closeOnEscape: true, closeAfterSearch: true });
        //jQuery("#Lista").jqGrid('gridResize', { minWidth: 350, maxWidth: 1500, minHeight: 80, maxHeight: 500 });
        //jQuery("#Lista").jqGrid('setFrozenColumns');
        jQuery("#Lista").filterToolbar({
            stringResult: true, searchOnEnter: true,
            defaultSearch: 'cn',
            enableClear: false
        });

        $(window).resize(function () {
            RefrescaAnchoJqgrids();
        });

        pageLayout.hide('east');
        pageLayout.hide('south');
    });

</script>
