@model IEnumerable<ProntoMVC.Data.Models.PuntosVenta>

@{
    ViewBag.Title = "Puntos de Venta";
}

<div style="padding-left: 15px; padding-right: 15px;">
    <br />
    <div class="row-fluid">
        <div class="span9 lightblue">
            <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'" class="btn btn-primary">Nuevo punto de venta</button>
        </div>
    </div>
    <br />
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px; "></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px"></div>
</div>


<div><input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]></div>
<div><input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]></div>
<div><input id="IdObra" name="IdObra" type="hidden" value=@Request.QueryString["idobra"]></div>

<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        //Para que haga wrap en las celdas
        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("Listado_jqGrid", "PuntoVenta")',
            postData: { 'FechaInicial': function () { return $("#FechaInicial").val(); }, 'FechaFinal': function () { return $("#FechaFinal").val(); }, 'IdObra': function () { return $("#IdObra").val(); } },
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Acciones', 'impr', 'IdPuntoVenta', 'Letra', 'Punto de venta', 'Comprobante', 'Proximo Numero', 'Descripcion', 'Fact.Electronica', 'Fact.Elect.modo test', 'Ing.manual CAE', 'Activo' ],
            colModel: [
                        { name: 'act', index: 'act', align: 'center', width: 80, sortable: false, editable: false, search: false }, //, formatter: 'showlink', formatoptions: { baseLinkUrl: '@Url.Action("Edit")'} },
                        { name: 'impr', index: 'act', align: 'center', width: 80, sortable: false, editable: false, search: false,  hidden: true }, //, formatter: 'showlink', formatoptions: { baseLinkUrl: '@Url.Action("Edit")'} },
                        { name: 'IdPuntoVenta', index: 'IdPuntoVenta', align: 'left', width: 100, editable: false, hidden: true },
                        { name: 'Letra', index: 'Letra', align: 'left', width: 50, editable: false, hidden: false },
                        { name: 'NumeroPuntoVenta', index: 'NumeroPuntoVenta', align: 'right', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn','eq'] } },
                        { name: 'Comprobante', index: 'Comprobante', width: 75, align: 'left', sorttype: 'date', editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'Proximo Numero', index: 'Proximo Numero', align: 'center', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Descripcion', index: 'Descripcion', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Fact.Electronica', index: 'Fact.Electronica', align: 'center', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Fact.Elect. (modo test)', index: 'Fact.Elect. (modo test)', align: 'center', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Ing.manual CAE', index: 'Ing.manual CAE', align: 'center', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                        { name: 'Activo', index: 'Activo', align: 'left', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn']} },
                    ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },
            pager: $('#ListaPager'),
            rowNum: 15,
            rowList: [10, 20, 50, 100],
            sortname: 'PuntoVenta',
            sortorder: 'asc',
            viewrecords: true,

            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,


            height: '100%',
            altRows: false,
            footerrow: true,
            userDataOnFooter: true,
            //imgpath: '/content/cupertino/images',
            //loadonce: true,
            //caption: '<b>Puntos de venta</b>'
        });
        //jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { edit: false, add: false, del: false, refresh: true, search: true });
        jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 700, closeOnEscape: true, closeAfterSearch: true });
        jQuery("#Lista").jqGrid('gridResize', { minWidth: 350, maxWidth: 1500, minHeight: 80, maxHeight: 500 });
    });

</script>
