<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <system.web>
    <authorization>
      <allow roles="Administrador" />
      <allow roles="Usuario" />
      <allow roles="Cliente" />
      <allow roles="FondosFijos" />
      <allow roles="Compras" />
      <deny users="?"/>
    </authorization>
  </system.web>

	<connectionStrings>
		<add name="wDemoWilliamsEntities" 
			 connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MARIANO-PC;Initial Catalog=wDemoWilliams;Integrated Security=True;MultipleActiveResultSets=True&quot;" 
			 providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>