<?xml version="1.0" encoding="utf-8"?>
<!--<?xml version="1.0" encoding="utf-8"?>-->
<!--esta linea de comentarios no tiene acentos y no explota -->
<!--pero esta línea áéíóú los tiene. Explota? atenti con el xml version que usaste http://www.chapmanconsulting.ca/post/2005/10/06/How-to-use-multilingual-character-sets-in-your-webconfig.aspx -->
<!--esta linea de comentarios no tiene acentos y no explota -->
<!--/////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////-->
<!--/////////////////////////////////////////////////////////////////////-->
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <!-- NOTE! If you are using ASP.NET 1.x then remove the
                 requirePermission="false" attribute from the section
                 elements below as those are only needed for
                 partially trusted applications in ASP.NET 2.0 -->
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
      <section name="errorTweet" requirePermission="false" type="Elmah.ErrorTweetSectionHandler, Elmah" />
    </sectionGroup>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <location path="Content/Images">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/RecuperarPassword">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/ChangePassword">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
    <location path="Account/LogOn">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!--<location path="Account/Verificar">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <location path="Account/Register">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Factura">
    <system.web>
      <authorization>
        <!--
        <allow roles="Administrador,WilliamsComercial,Comercial,WilliamsAdmin,SuperAdmin,WilliamsFacturacion,FacturaElectronica,ExternoCuentaCorrienteCliente" />
        <deny users="*" />
        -->
      </authorization>
    </system.web>
  </location>
  <location path="Shared/SinConexion.cshtml">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Views/Shared/SinConexion.cshtml">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!--
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
   -->
  <connectionStrings>
    <!--
    putty tunnels:
    local                    dest
    127.0.0.1 10022          192.168.66.3:21
    127.0.0.1 1433           192.168.66.1:1433
    127.0.0.1 49253          192.168.66.3:49253
    -->
    <!--si usas el putty, acordate de agregar el alias del SERVERSQL3 al Native Client Configuration (32 bits)-->
    <!--mirá que en la funcion sCadenaConexSQL() harcodeás la conexion si estás corriendo desde el Studio-->
    <!--mirá que en la funcion sCadenaConexSQL() harcodeás la conexion si estás corriendo desde el Studio-->
    <!--mirá que en la funcion sCadenaConexSQL() harcodeás la conexion si estás corriendo desde el Studio-->
    <!--<add name="ApplicationServices" connectionString="Data Source=SERVERSQL4;Initial catalog=BDLMaster;User ID=sa; Password=.SistemaPronto.;Connect Timeout=10" providerName="System.Data.SqlClient" />-->
    <!--<add name="ApplicationServices" connectionString="Data Source=MARIANOPC;Initial Catalog=BDLMaster;Uid=sa; PWD=3D1consultore5;Connect Timeout=8;" />-->
    <add name="ApplicationServices" connectionString="Data Source=SERVERSQL3\TESTING;Initial catalog=BDLMaster;User ID=sa; Password=.SistemaPronto.;Connect Timeout=4" providerName="System.Data.SqlClient" />
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- <add name="ApplicationServices" connectionString="Data Source=SERVERSQL3\TESTING;Initial catalog=BDLMasterVialagro;User ID=sa; Password=.SistemaPronto.;Connect Timeout=8" providerName="System.Data.SqlClient" /> -->
    <!-- <add name="ApplicationServices" connectionString="Data Source=bdlconsultores.ddns.net;Initial catalog=BDLMaster;User ID=sa; Password=.SistemaPronto.;Connect Timeout=8" providerName="System.Data.SqlClient" />-->
    <add name="elmahSql" connectionString="data source=|DataDirectory|\Elmah.sdf" />
    <!--  mirá que esta cadena de conexion repite TRES veces el nombre del modelo!!!!-->
    <!--  mirá que esta cadena de conexion repite TRES veces el nombre del modelo!!!!-->
    <add name="DemoProntoEntities" connectionString="metadata=res://*/Models.Pronto.csdl|res://*/Models.Pronto.ssdl|res://*/Models.Pronto.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERSQL3\TESTING;Initial catalog=Pronto;User ID=sa; Password=.SistemaPronto.;Connect Timeout=8;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DemoProntoMantenimientoEntities" connectionString="metadata=res://*/Models.Mantenimiento.ProntoMantenimiento.csdl|res://*/Models.Mantenimiento.ProntoMantenimiento.ssdl|res://*/Models.Mantenimiento.ProntoMantenimiento.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERSQL3\TESTING;Initial catalog=ProntoMantenimiento;User ID=sa; Password=.SistemaPronto.;Connect Timeout=8;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--  <add name="DemoProntoEntities" connectionString="metadata=res://*/Models.Pronto.csdl|res://*/Models.Pronto.ssdl|res://*/Models.Pronto.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARIANO-PC\MSSQLSERVER2;initial catalog=Autotrol;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--  mirá que esta cadena de conexion repite TRES veces el nombre del modelo!!!!-->
    <!--  mirá que esta cadena de conexion repite TRES veces el nombre del modelo!!!!-->
    <add name="BDLMasterEntities" connectionString="metadata=res://*/Models.bdlmaster.csdl|res://*/Models.bdlmaster.ssdl|res://*/Models.bdlmaster.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERSQL3\TESTING;Initial catalog=BDLMaster;User ID=sa; Password=.SistemaPronto.;Connect Timeout=8;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--  <add name="BDLMasterEntities" connectionString="metadata=res://*/Models.bdlmaster.csdl|res://*/Models.bdlmaster.ssdl|res://*/Models.bdlmaster.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARIANO-PC\MSSQLSERVER2;initial catalog=BDLMaster;user id=sa;password=3D1consultore5;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <!--
  "Data Source=127.0.0.1,49253;Initial catalog=BDLMaster;User ID=sa; Password=.SistemaPronto.;Connect Timeout=8"
  "Data Source=bdlconsultores.sytes.net;Initial catalog=BDLMaster;User ID=sa; Password=.SistemaPronto.;Connect Timeout=8"
  "Data Source=SERVERSQL3\TESTING;Initial catalog=BDLMaster;User ID=sa; Password=.SistemaPronto.;Connect Timeout=8"
  "Data Source=192.168.66.3\TESTING;Initial catalog=BDLMaster;User ID=sa; Password=.SistemaPronto.;Connect Timeout=8"
  "Data Source=192.168.66.6;Initial Catalog=BDLMaster;Uid=sa; PWD=3D1consultore5;Connect Timeout=8;"
  "Data Source=Mariano-PC\MSSQLSERVER2;Initial Catalog=BDLMaster;Uid=sa; PWD=ok;Connect Timeout=8;"
  -->
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <!--http://stackoverflow.com/questions/7238369/being-redirected-to-wrong-loginurl-account-login-instead-of-account-logon-->
    <add key="loginUrl" value="~/Account/LogOn" />
    <add key="Root" value="//" />
    <add key="UrlDominio" value="http://localhost:40053/" />
    <!--<add key="Root" value="ProntoTesting" />
    <add key="UrlDominio" value="http://bdlconsultores.sytes.net/ProntoTesting/" /> usar solo una / al final -->
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <add key="DirSQL" value="c:\Backup\" />
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <!--//////REPORTING SERVICES    /////////-->
    <!--/////////////////////////////////////-->
    <!--      <add key="ReportServer" value="http://SERVERSQL3/ReportServer" />  -->
    <!-- <add key="ReportServer" value="http://SERVERSQL4/ReportServer" />  -->
    <add key="ReportServer" value="http://bdlconsultores.sytes.net:10080/ReportServer" />
    <!--   <add key="ReportServer" value="http://SERVERSQL4/ReportServer" />  para usar con pronto_alemarsa -->
    <!--<add key="ReportServer" value="http://bdlconsultores.sytes.net:10080/ReportServer" />-->
    <!-- POR AHORA ESTAMOS NECESITANDO QUE LA BASE PRONTO ESTÉ EN EL MISMO SERVIDOR QUE EL REPORT SERVICES -->
    <!-- POR AHORA ESTAMOS NECESITANDO QUE LA BASE PRONTO ESTÉ EN EL MISMO SERVIDOR QUE EL REPORT SERVICES -->
    <!-- POR AHORA ESTAMOS NECESITANDO QUE LA BASE PRONTO ESTÉ EN EL MISMO SERVIDOR QUE EL REPORT SERVICES -->
    <!-- no podes usar bdlconsultores.sytes.net en la publicacion en bdl, da Unauthorized    -->
    <!-- 
    recien probé depurando desde mi máquina, conectandome al reporteador con bdlconsultores.sytes.net y tuve problemas. Tira:
   Me tira   "No se puede crear una conexión al origen de datos 'DataSource1'. (rsErrorOpeningConnection)" 
      -puede ser que haya dependido del servidor sql (serversql1 o 3) al que se conectó para chupar los datos??? 
    SSÏIIIIIIIIIIIIIIIIIIIIIIIIIIIII es efectivamente esoo. Chupando los datos desde Serversql3\testing  anduvo bien!!!, pero el serversql1 no!!! -->
    <!--<add key="ReportServer" value="http://bdlconsultores.ddns.net/ReportServer" />-->
    <!--<add key="ReportServer" value="http://localhost/ReportServer_MSSQLSERVER2" />-->
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <add key="ReportUser" value="administrador" />
    <add key="ReportPass" value=".xza2190lkm." />
    <add key="ReportDomain" value="" />
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <add key="ErrorMail" value="mscalella911@gmail.com" />
    <!--<add key="ErrorMail" value="edesantis@bdlconsultores.com.ar" />-->
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpUser" value="ProntoWebMail@gmail.com" />
    <add key="SmtpUserPuntoVenta1" value="ProntoWebMail@gmail.com" />
    <add key="SmtpUserPuntoVenta2" value="ProntoWebMail@gmail.com" />
    <add key="SmtpUserPuntoVenta3" value="ProntoWebMail@gmail.com" />
    <add key="SmtpUserPuntoVenta4" value="ProntoWebMail@gmail.com" />
    <add key="SmtpPass" value="50TriplesdJQ" />
    <add key="SmtpPort" value="587" />
    <add key="PopServer" value="pop.gmail.com" />
    <add key="PopPort" value="995" />
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <!--/////////////////////////////////////-->
    <add key="Debug" value="NO" />
    <add key="ImagenBienvenida" value="Pronto.png" />
    <add key="ConfiguracionEmpresa" value="MarianoLab" />
    <add key="AvisoTipoDeSitioDesarrolloDebugTestReleaseExterno" value="MarianoLab" />
    <add key="ColaWebDeTareasActivada" value="NO" />
    <add key="CartelAviso" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- <httpCookies domain=".williamsentregas.com.ar"/>   -->
    <!-- no impersones desde el web.config, hacelo en el IIS con el ApplicationPool correspondiente, y cambiale la cuenta de 
            NetworkService por la de Administrador para sacarte los problemas del Interop de Office 
            
1 metete en el administrador del iis
2 en los grupos de aplicaciones
3 elegi el grupo que este usando el sitio
4 y en configuracion avanzada
5 elegi "Identidad" 
6  cuenta personalizada
7 y asignale algun usuario con permisos de administrador


            
            <identity impersonate="true" />-->
    <!--<globalization culture="auto:en-US" uiCulture="auto:en"/>-->
    <!--<globalization culture="auto:es-AR" uiCulture="auto:es-AR"/> Tiene bien la fecha pero los campos numericos con , en los decimales-->
    <sessionState timeout="60" />
    <globalization culture="auto:es-PE" uiCulture="auto:es-PE" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <compilation debug="true" optimizeCompilations="false" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.1, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--si no está en el GAC, la dll tiene que pasarse como copylocal, no?!?!?!?-->
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

        <!--//////////////////////////////////////////////////////////////////////////////////////////-->
        <!--//////////////////////////////////////////////////////////////////////////////////////////-->
        <!--    report viewer  -->
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
        <!--//////////////////////////////////////////////////////////////////////////////////////////-->
        <!--//////////////////////////////////////////////////////////////////////////////////////////-->

        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <!--<add assembly="DocumentFormat.OpenXml, Version=2.0.5022.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.Office.Interop.Excel, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
        <add assembly="Microsoft.Office.Interop.Word, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" />-->
        <remove assembly="Microsoft.VisualStudio.Web.PageInspector.Loader,  Version=1.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        <!-- <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
      </buildProviders>
    </compilation>
    <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--compartir el login entre aplicaciones-->
    <!--http://msdn.microsoft.com/en-us/library/eb0zx8fc(v=vs.100).aspx-->
    <!--http://stackoverflow.com/questions/72125/how-do-you-pass-an-authenticaticated-session-between-app-domains-->
    <authentication mode="Forms">
      <!-- The name, protection, and path attributes must match 
           exactly in each Web.config file. -->
      <forms loginUrl="~/Account/LogOn" name=".ASPXAUTH" protection="All" path="/" domain="" slidingExpiration="true" enableCrossAppRedirects="true" timeout="1440" />
    </authentication>
    <!-- Validation and decryption keys must exactly match and cannot
         be set to "AutoGenerate". The validation and decryption
         algorithms must also be the same. -->
    <machineKey validationKey="D78ACCBFD70D5E99FD90C94B0C511CEA134BB980714E0C0BD31F7ABDDD6E56E2728C4878939CB33A4F50295695AC96C2393FF82A60F34CE993263741CBE6E9FC" decryptionKey="B82F692180CD8DE7478F7D9AFDF45A1AA28EC597D970F8A06B22B7EFCE49B663" validation="SHA1" decryption="AES" />
    <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <authorization>
      <allow roles="Administrador" />
      <allow roles="Cliente" />
      <allow roles="Usuario" />
      <allow roles="FondosFijos" />
      <allow roles="Compras" />
      <deny users="?" />
      <allow roles="Administrador" />
    </authorization>
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" applicationName="/" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Hashed" />
        <!--<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" 
             requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" 
             minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />-->
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <customErrors mode="Off" defaultRedirect="~/errors/GeneralError.aspx" redirectMode="ResponseRewrite">
      <!--<customErrors mode="On" defaultRedirect="~/error">-->
      <!--poner en Off en el publicado para debug.  RemoteOnly-->
      <!--<error statusCode="404" redirect="~/error/notfound" />-->
      <!-- revisar http://stackoverflow.com/questions/5226791/custom-error-pages-on-asp-net-mvc3-->
      <error statusCode="401" redirect="~/ErrorPages/Unauthorized" />
      <error statusCode="404" redirect="~/ErrorPages/PageNotFound" />
    </customErrors>
  </system.web>
  <system.webServer>
    <httpErrors existingResponse="PassThrough">
      <!--<httpErrors errorMode="Custom" existingResponse="Replace">-->
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="ErrorPages/PageNotFound" responseMode="ExecuteURL" />
      <remove statusCode="401" subStatusCode="-1" />
      <error statusCode="401" path="ErrorPages/Unauthorized" responseMode="ExecuteURL" />
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </modules>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.140" newVersion="3.1.1.140" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WSAFIPFE" publicKeyToken="e3525bb207303650" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.2.0.0" newVersion="13.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.1.0" newVersion="1.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.2.0" newVersion="2.7.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <!--http://www.mycsharpcorner.com/Post.aspx?postID=33-->
      <!--  http://forums.asp.net/t/1124257.aspx   no podes usar ssl solo a traves de la configuracion. tenes q usar codigo -->
      <smtp from="ProntoWebMail@gmail.com">
        <network host="smtp.gmail.com" enableSsl="true" password="50TriplesdJQ" port="587" defaultCredentials="true" userName="ProntoWebMail@gmail.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <elmah>
    <security allowRemoteAccess="yes" />
    <!--
            Use to log errors to Microsoft SQL Server 2000 or later
            using ASP.NET 2.0. Set value of connectionStringName attribute
            to the name of the connection string settings to use from
            the <connectionStrings> section.
        
        <errorLog type="Elmah.SqlErrorLog, Elmah" 
            connectionStringName="..." />
        -->
    <!--
            Use to log errors to Microsoft SQL Server 2000 or later
            using ASP.NET 1.x and adjust the value of connectionString 
            attribute to your settings.

        <errorLog type="Elmah.SqlErrorLog, Elmah" 
            connectionString="Data Source=.;Initial Catalog=ELMAH;Trusted_Connection=True" />
        -->
    <!--
            Use to log errors to MySQL 5.0+. Set value of 
            connectionStringName attribute to the name of the connection 
            string settings to use from the <connectionStrings> section.

        <errorLog type="Elmah.MySqlErrorLog, Elmah" 
            connectionString="..." />
        -->
    <!--Use to log errors to a SQL Server Compact 4 database file 
             (requires .NET 3.5 SP1). Set value of connectionStringName 
             attribute to the name of the connection string settings to use 
             from the <connectionStrings> section.-->
    <errorLog type="Elmah.SqlServerCompactErrorLog, Elmah" connectionStringName="elmahSql" />
    <!--
            Use to log errors to SQLite using ASP.NET 2.0. Set value of 
            connectionStringName attribute to the name of the connection 
            string settings to use from the <connectionStrings> section.
            
        <errorLog type="Elmah.SQLiteErrorLog, Elmah" connectionStringName="..." />
        
            The format of the connection string should be as follows:
            
        <connectionStrings>
          <add name="..." connectionString="data source=[path to the database file]" />
        </connectionStrings>
            
            Replace the content of the brackets with a file path, 
            for example:
            
        data source=C:\Elmah.db
            
            If the database file doesn't exist it is created automatically.
            To specify a path relative to and below the application root, 
            start with the root operator (~) followed by a forward slash 
            (/), as it is common in ASP.NET applications. For example:
            
        data source=~/App_Data/Error.db
        -->
    <!--
            Use to log errors into separate XML files that are stored on 
            disk at the path specified in the logPath attribute.

        <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="..." />
        -->
    <!--
            Use to log errors to Oracle using ASP.NET 2.0. Set value of 
            connectionStringName attribute to the name of the connection 
            string settings to use from the <connectionStrings> section.
        
            The schemaOwner parameter is *optional*. Use this if the owner 
            of the ELMAH package (pkg_elmah$error) is not the same user that 
            you are using to connect to the database.
            
        <errorLog type="Elmah.OracleErrorLog, Elmah" 
            schemaOwner="xxx" />
            connectionStringName="..." />
        -->
    <!--
            Use to log errors to Oracle using ASP.NET 1.1 and adjust the 
            value of connectionString attribute to your settings.

            The schemaOwner parameter is *optional*. Use this if the owner 
            of the ELMAH package (pkg_elmah$error) is not the same user that 
            you are using to connect to the database.

        <errorLog type="Elmah.OracleErrorLog, Elmah" 
            schemaOwner="xxx" />
            connectionString="Data Source=xxxx;User ID=username;Password=password" />
        -->
    <!--
            Use to log errors to Microsoft Access using ASP.NET 1.x and 
            adjust the value of connectionString attribute to your settings.
            Use Elmah.mdb as your database.

        <errorLog type="Elmah.AccessErrorLog, Elmah" 
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|Elmah.mdb" />
        -->
    <!--
            Use to log errors to Microsoft Access using ASP.NET 2.0. Set 
            value of connectionStringName attribute to the name of the 
            connection string settings to use from the <connectionStrings> 
            section. Use Elmah.mdb as your database.
        
        <errorLog type="Elmah.AccessErrorLog, Elmah" 
            connectionStringName="..." />
        -->
    <!--
            Use to log errors to PostgresSQL using ASP.NET 2.0. Set value of 
            connectionString to a valid Npgsql connection string.
        
        <errorLog type="Elmah.PgsqlErrorLog, Elmah" 
            connectionString="Server=...;Port=...;Database=...;User Id=...;Password=...;" />
        -->
    <!--
            Use to send error reports by e-mail and adjust the attributes
            according to settings desired. Note that only the from and
            to attributes are required. The rest are optional and may
            be removed. If the SMTP server does not require authentication,
            you MUST remove the userName and password attributes or
            set them to empty values (resulting in zero-length strings).
            If you are using ELMAH compiled for .NET Framework 1.x, then
            the to attribute may contain multiple recipient addresses,
            each of which must be delimited by a semi-colon (;). If you are 
            using ELMAH compiled for .NET Framework 2.0 or later, then the
            to attribute may contain multiple recipient addresses,
            each of which must be delimited by a comma (,).

        <errorMail 
            from="elmah@example.com" 
            to="admin@example.com" 
            subject="..."
            priority="Low|Normal|High"
            async="true|false"
            smtpPort="25"
            smtpServer="smtp.example.com" 
            useSsl="true|false"
            userName="johndoe"
            password="secret" 
            noYsod="true|false" />
        -->
  </elmah>
  <system.web>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <!-- 
                Uncomment the entries below if error mail reporting and 
                filtering is desired.
            -->
      <!--<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />-->
      <!--<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />-->
      <!--<add name="ErrorTweet" type="Elmah.ErrorTweetModule, Elmah" />-->
    </httpModules>
  </system.web>
  <!-- 
        This entry provides the UI for the error log at elmah.axd below the 
        application path. For example, if your domain is www.example.com and 
        your application is at the root, then you can view the error log by
        visiting the following URL:
                
        http://www.example.com/elmah.axd

        IMPORTANT! To secure this location, consult the following notes:
                
        http://code.google.com/p/elmah/wiki/SecuringErrorLogPages
    -->
  <location path="elmah.axd">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
                The following entry denies unauthenticated users access to 
                the path from where ELMAH's handlers are accessible. If you 
                have role-based security implemented, you SHOULD consider 
                instead allowing access by a particular role (for example, 
                operators and administrators).
        
                IMPORTANT: If you change the path of the handler then you 
                MUST also change the path in the containing location tag 
                to be the same.

                For more information, see:
                http://code.google.com/p/elmah/wiki/SecuringErrorLogPages
            -->
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
</configuration>