@model ProntoMVC.Models.RegisterModel
@{
    ViewBag.Title = "Cambiar contraseña";
}
<div class="container-fluid" style="background: rgb(250, 250, 250); margin: 15px">
    <br />
    <div class="row-fluid">
        <div class="span8" style='font-size: 34px; margin-top: 5px; height: 45px; font-weight: 400;
            text-shadow: 0 1px 0  lightgray; font-family: "Segoe UI Web Regular", "Segoe UI", "Lucida", Tahoma, Arial,"sans-serif"'>
            @Model.UserName registrado</div>
    </div>
    <br />
    <br />
    <div class="row-fluid">
        <p>
            @*Cuando el administrador de @Model.Grupo lo autorice, te
            llegará un mail a @Model.Email*@
            En breve le llegará un e-mail con la registración
        </p>
    </div>
     <br />
    <a  href=@Url.Content("~")  >Volver</a>
</div>
