@model IEnumerable<ProntoMVC.Data.Models.Cliente>
@{
    ViewBag.Title = "Clientes";
}

<br />
<div style="padding-left: 15px; padding-right: 15px;">
    <div class="row-fluid">
        <div class="span9 lightblue">
            <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'" class="btn btn-primary">Nuevo cliente</button>
        </div>
    </div>
    <br />
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px; "></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("Clientes_DynamicGridData", "Cliente")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Acciones', 'IdCliente', 'Razon social', 'Codigo', 'Subcod.', 'Direccion', 'Localidad', 'Cod. postal', 'Provincia', 'Pais', 'Telefono', 'Fax', 'Email', 'Cuit',
                       'Condicion iva', 'Contacto', 'Direccion entrega', 'Localidad entrega', 'Provincia entrega', 'Vendedor', 'Cobrador', 'Estado', 'Nombre comercial', 'Observaciones',
                       'Ingreso', 'Fecha ingreso', 'Modifico', 'Fecha modifico', 'Categoria  IIBB', 'Condicion IIBB', 'Nro. inscr. IIBB', 'Cuenta contable', 'Cuenta contable exterior',
                       'Condicion venta', 'Transportista habitual', 'Region'],
            colModel: [
                        { name: 'act', index: 'act', align: 'center', width: 80, sortable: false, editable: false, search: false },
                        { name: 'IdCliente', index: 'IdCliente', align: 'left', width: 100, editable: false, hidden: true },
                        {
                            name: 'RazonSocial', index: 'RazonSocial', align: 'left', width: 200, editable: false,
                            search: true, searchoptions: {
                                clearSearch: true,
                                searchOperators: true
                               , sopt: ['eq', 'cn']
                                //, sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'ew', 'en', 'cn', 'nc', 'nu', 'nn', 'in', 'ni']
                            }
                        },
                        { name: 'Codigo', index: 'Codigo', align: 'left', width: 70, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Subcodigo', index: 'Subcodigo', align: 'left', width: 40, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Direccion', index: 'Direccion', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Localidad', index: 'Localidad.Nombre', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CodigoPostal', index: 'CodigoPostal', align: 'left', width: 70, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Provincia', index: 'Provincia.Nombre', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Pais', index: 'Pais.Descripcion', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Telefono', index: 'Telefono', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Fax', index: 'Fax', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Email', index: 'Email', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Cuit', index: 'Cuit', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'DescripcionIva', index: 'DescripcionIva.Descripcion', align: 'left', width: 140, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Contacto', index: 'Contacto', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'DireccionEntrega', index: 'DireccionEntrega', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'LocalidadEntrega.Nombre', index: 'LocalidadEntrega.Nombre', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'ProvinciaEntrega', index: 'ProvinciasEntrega', align: 'left', width: 200, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Vendedor', index: 'Vendedor', align: 'left', width: 100, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Cobrador', index: 'Cobrador', align: 'left', width: 100, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Estado', index: 'Estado', align: 'left', width: 80, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'NombreComercial', index: 'NombreFantasia', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Observaciones', index: 'Observaciones', align: 'left', width: 200, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Ingreso', index: 'Ingreso', align: 'left', width: 120, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'FechaIngreso', index: 'FechaIngreso', align: 'center', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Modifico', index: 'Modifico', align: 'left', width: 120, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'FechaModifico', index: 'FechaModifico', align: 'center', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CategoriaIIBB', index: 'CategoriaIIBB', align: 'left', width: 80, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'CondicionIIBB', index: 'CondicionIIBB', align: 'left', width: 200, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'IBNumeroInscripcion', index: 'IBNumeroInscripcion', align: 'left', width: 100, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'CuentaContable', index: 'CuentaContable', align: 'left', width: 200, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'CuentaContableExterior', index: 'CuentaContableExterior', align: 'left', width: 200, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'CondicionVenta', index: 'CondicionVenta', align: 'left', width: 200, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Transportista', index: 'Transportista', align: 'left', width: 200, editable: false, search: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Region', index: 'Region', align: 'left', width: 200, editable: false, search: false, searchoptions: { sopt: ['cn'] } }
            ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },

            pager: $('#ListaPager'),
            rowNum: 20,
            rowList: [10, 20, 50, 100],
            sortname: 'RazonSocial',
            sortorder: 'asc',
            viewrecords: true,
            emptyrecords: 'No hay registros para mostrar',
            caption: '<b>CLIENTES</b>',

            width: 'auto',
            autowidth: true,
            shrinkToFit: false,

            height: $(window).height() - ALTOLISTADO, // '100%'
            altRows: false,
            footerrow: false, 
            userDataOnFooter: true,

            gridview: true,
            multiboxonly: true,
            multipleSearch: true
        });

        jQuery("#Lista").jqGrid('navGrid', '#ListaPager',
             { csv: true, refresh: true, add: false, edit: false, del: false }, {}, {}, {},
             {
                 width: 700, closeOnEscape: true, closeAfterSearch: true, multipleSearch: true, overlay: false
             }
            );

        jQuery("#Lista").jqGrid('navButtonAdd', '#ListaPager', {
            caption: "",
            buttonicon: "ui-icon-calculator",
            title: "Choose columns",
            onClickButton: function () {
                $(this).jqGrid('columnChooser',
                    { width: 550, msel_opts: { dividerLocation: 0.5 }, modal: true });
                $("#colchooser_" + $.jgrid.jqID(this.id) + ' div.available>div.actions')
                    .prepend('<label style="float:left;position:relative;margin-left:0.6em;top:0.6em">Search:</label>');
            }
        });

        jQuery("#Lista").filterToolbar({
            stringResult: true, searchOnEnter: true,
            defaultSearch: 'cn',
            enableClear: false
        }); 

        jQuery("#Lista").jqGrid('navButtonAdd', '#ListaPager',
                {
                    caption: "Filter", title: "Toggle Searching Toolbar",
                    buttonicon: 'ui-icon-pin-s',
                    onClickButton: function () { myGrid[0].toggleToolbar(); }
                });



        $(function () {
            deshabilitarPanelesDerecho();

        })


    });
</script>
