@model IEnumerable<ProntoMVC.Data.Models.ValesSalida>
@{
    ViewBag.Title = "Vale Salida";
}
<br />
@if (false)
{    <style>
        /* jqGrid builds some additional divs over the main grid table. The outer div has the class ui-jqgrid. So if you need to remove right and left border existing over the whole grid you can use the following CSS: */
        .ui-widget-content {
            border: 0px solid #aaaaaa;
        }
        .ui-jqgrid {
            border-right-width: 0px;
            border-left-width: 0px;
        }
        .ui-jqgrid tr.ui-row-ltr td {
            border-right-color: #E4E4E4;
        }
        .ui-jqgrid tr.footrow-ltr td {
            border-right-color: #E4E4E4 !important;
        }
        .ui-jqgrid tr.ui-row-ltr td {
            border-bottom-color: #E4E4E4;
        }
        th.ui-th-column {
            border-right-color: #E4E4E4 !important;
        }
        .ui-jqgrid-labels .ui-th-column {
            border-right-color: #E4E4E4;
        }
    </style>
}

<div style=" padding-left: 15px;  padding-right: 15px ;">
    <div>
        <div class="row-fluid">
            <div class="span12 lightblue">
                <button onclick="window.location.href='@Url.Action("Edit", new { id = -1 })'" class="btn btn-primary span2 ">
                    Nuevo Vale
                </button>
                <div class="span1">
                    <div>
                        <input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]>
                    </div>
                    <div>
                        <input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]>
                    </div>
                    <div>
                        <input id="IdObra" name="IdObra" type="hidden" value=@Request.QueryString["idobra"]>
                    </div>
                </div>
            </div>
            <br />
            <br />
        </div>
        <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px;
        "></table>
        <div id="ListaPager" class="scroll" style="text-align: center;">
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        $('#Lista').jqGrid({
            url: '@Url.Action("ValesSalida_DynamicGridData", "ValeSalida")',
            postData: {
                'FechaInicial': function () { return $("#FechaInicial").val(); },
                'FechaFinal': function () { return $("#FechaFinal").val(); },
            },
            datatype: 'json',
            mtype: 'POST',
            colNames: ['', '', 'IdValeSalida', 'Numero Vale', 'Nro.Vale Pre.', 'Fecha Vale', 'Numero Obra', 'Aprobo', 'Cump.', 'Salidas Generadas', 'Observaciones', 
                       'Anulo', 'Fecha Anulacion', 'Motivo Anulacion', 'Dio P/Cumplido', 'Fecha Dio P/Cumplido', 'Motivo Dio P/Cumplido'],
            colModel: [
                        { name: 'ver', index: 'ver', hidden: false, width: 50, search: false },
                        { name: 'Emitir', index: 'Emitir', hidden: false, width: 50, search: false },
                        { name: 'IdValeSalida', index: 'IdValeSalida', align: 'left', width: 0, editable: false, hidden: true, frozen: true },
                        { name: 'NumeroValeSalida', index: 'NumeroValeSalida', align: 'right', width: 80, editable: false, hidden: false, searchoptions: { sopt: ['eq'], enableClear: false } },
                        { name: 'NumeroValePreimpreso', index: 'NumeroValePreimpreso', align: 'right', width: 80, editable: false, hidden: false, searchoptions: { sopt: ['eq'], enableClear: false } },
                        {
                            name: 'FechaValeSalida', index: 'FechaValeSalida', width: 100, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy',
                            search: true, searchrules: { date: true }, searchoptions: { sopt: ['ge', 'le', 'eq'] }
                        },
                        { name: 'NumeroObra', index: 'NumeroObra', align: 'left', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'Aprobo', index: 'Aprobo', align: 'left', width: 150, editable: false, search: true, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'Cumplido', index: 'Cumplido', align: 'center', width: 60, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        { name: 'Salidas', index: 'Salidas', align: 'left', width: 300, editable: false, search: true, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'Observaciones', index: 'Observaciones', align: 'left', width: 400, editable: false, search: true, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'Anulo', index: 'Anulo', align: 'center', width: 60, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn'] } },
                        {
                            name: 'FechaAnulacion', index: 'FechaAnulacion', width: 100, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy',
                            search: true, searchrules: { date: true }, searchoptions: { sopt: ['ge', 'le', 'eq'] }
                        },
                        { name: 'MotivoAnulacion', index: 'MotivoAnulacion', align: 'left', width: 300, editable: false, search: true, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'DioPorCumplido', index: 'DioPorCumplido', align: 'left', width: 150, editable: false, search: true, searchoptions: { sopt: ['cn', 'eq'] } },
                        {
                            name: 'FechaDioPorCumplido', index: 'FechaDioPorCumplido', width: 100, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy',
                            search: true, searchrules: { date: true }, searchoptions: { sopt: ['ge', 'le', 'eq'] }
                        },
                        { name: 'MotivoDioPorCumplido', index: 'MotivoDioPorCumplido', align: 'left', width: 300, editable: false, search: true, searchoptions: { sopt: ['cn', 'eq'] } }
            ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },
            pager: $('#ListaPager'),
            rowNum: 20,
            rowList: [10, 20, 50],
            sortname: 'NumeroValeSalida',
            sortorder: 'desc',
            viewrecords: true,
            emptyrecords: 'No hay registros para mostrar', //,
            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,
            height: $(window).height() - ALTOLISTADO, // '100%'
            altRows: false,
            footerrow: false, //true,
            userDataOnFooter: true,
            caption: '<b>VALES DE SALIDA</b>',
            gridview: true,
            multiboxonly: true,
            multipleSearch: true
            //imgpath: '/content/cupertino/images',
            //loadonce: true,
        });
        jQuery("#Lista").jqGrid('bindKeys');

        jQuery("#Lista").jqGrid('navGrid', '#ListaPager',
         { csv: true, refresh: true, add: false, edit: false, del: false }, {}, {}, {},
         {
             //sopt: ["cn"]
             //sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'ew', 'en', 'cn', 'nc', 'nu', 'nn', 'in', 'ni'],
             width: 700, closeOnEscape: true, closeAfterSearch: true, multipleSearch: true, overlay: false
         }
        );

        jQuery("#Lista").filterToolbar({
            stringResult: true, searchOnEnter: true,
            defaultSearch: 'cn',
            enableClear: false
        }); // si queres sacar el enableClear, definilo en las searchoptions de la columna específica http://www.trirand.com/blog/?page_id=393/help/clearing-the-clear-icon-in-a-filtertoolbar/

        $(window).resize(function () {
            RefrescaAnchoJqgrids();
        });

        pageLayout.hide('east');
        pageLayout.hide('south');
    });
</script>
