@model IEnumerable<ProntoMVC.Data.Models.Subdiario>
@{
    ViewBag.Title = "Subdiarios";
}

<div><input id="IdCuentaSubdiario" name="IdCuentaSubdiario" type="hidden" value=@Request.QueryString["IdCuentaSubdiario"]></div>
<div><input id="Año" name="Año" type="hidden" value=@Request.QueryString["Año"]></div>
<div><input id="Mes" name="Mes" type="hidden" value=@Request.QueryString["Mes"]></div>
<div><input id="Detalle" name="Detalle" type="hidden" value=@Request.QueryString["Subdiario"]></div>

<div style="padding-left: 15px; padding-right: 15px;">
    <div class="row-fluid">
        <div class="span9 lightblue">
        </div>
    </div>
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px; font-family: 'Helvetica Narrow', 'Arial Narrow', Tahoma, Arial, Helvetica, sans-serif;"></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        //Para que haga wrap en las celdas
        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("Detalle", "Subdiario")',
            postData: { 'IdCuentaSubdiario': function () { return $("#IdCuentaSubdiario").val(); }, 'Año': function () { return $("#Año").val(); }, 'Mes': function () { return $("#Mes").val(); } },
            datatype: 'json',
            mtype: 'POST',
            colNames: ['IdSubdiario', 'IdCuentaSubdiario', 'IdCuenta', 'Codigo', 'IdTipoComprobante', 'IdComprobante', 'Cuenta', 'Tipo', 'Numero', 'Fecha', 'Formulario', 'Debe', 'Haber', 'Detalle'],
            colModel: [
                        { name: 'IdSubdiario', index: 'IdSubdiario', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'IdCuentaSubdiario', index: 'IdCuentaSubdiario', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'IdCuenta', index: 'IdCuenta', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'Codigo', index: 'Codigo', align: 'center', width: 100, sortable: false, editable: false, search: false, hidden: false },
                        { name: 'IdTipoComprobante', index: 'IdTipoComprobante', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'IdComprobante', index: 'IdComprobante', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'Cuenta', index: 'Cuenta', width: 300, sortable: false, editable: false, search: false, hidden: false },
                        { name: 'TipoComprobante', index: 'TipoComprobante', width: 50, sortable: false, editable: false, search: false, hidden: false },
                        { name: 'Numero', index: 'Numero', align: 'right', width: 80, sortable: false, editable: false, search: false, hidden: false },
                        { name: 'Fecha', index: 'Fecha', width: 130, align: 'center', sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' }, datefmt: 'dd/mm/yy', search: false },
                        { name: 'Formulario', index: 'Formulario', align: 'center', width: 120, sortable: false, editable: false, search: false, hidden: false },
                        { name: 'Debe', index: 'Debe', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Haber', index: 'Haber', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Detalle', index: 'Detalle', width: 500, sortable: false, editable: false, search: false, hidden: false }
            ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },
            pager: $('#ListaPager'),
            rowNum: 5000,
            rowList: [100, 500, 1000, 5000],
            sortname: 'Subdiario',
            sortorder: 'desc',
            viewrecords: true,
            width: 'auto', // 'auto',
            autowidth: true,
            shrinkToFit: false,
            height: '100%',
            altRows: false,
            footerrow: false,
            userDataOnFooter: true,
            caption: '<b>' + $("#Detalle").val() + '</b>'
        });
        jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 700, closeOnEscape: true, closeAfterSearch: true });
        //jQuery("#Lista").jqGrid('gridResize', { minWidth: 350, maxWidth: 1500, minHeight: 80, maxHeight: 500 });
        //jQuery("#Lista").jqGrid('setFrozenColumns');

        $(window).resize(function () {
            RefrescaAnchoJqgrids();
        });

        pageLayout.hide('east');
        pageLayout.hide('south');
    });

</script>
