/* *************************************************************************** */
/* *************************************************************************** */
/* *************************************************************************** */
/* *************************************************************************** */


.titulos
{
    font-size: 34px;
    margin-top: 5px;
    height: 45px;
    font-weight: 400;
    text-shadow: 0 1px 0 black; /*  lightgray; */
    font-family: "Segoe UI Web Regular", "Segoe UI", "Lucida", "Tahoma", "Arial", "sans-serif";
}



/* boton clasico */


.butCrear
{
    font-weight: normal;
    text-decoration: none; /*sin underline */
    margin: 0px;
    margin-right: 40px;
    border: 1px solid #29447E; /* facebook */ /*white;*/
    height: 23px;
    width: auto;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    font-size: small;
    color: white;
    font-family: Verdana;
    background-color: #4F6AA3; /* facebook */
    cursor: hand;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}



.but
{
    height: 31px; /* 25px; */
    min-width: 74px; /* border-color: #F0C36D;         color: #222;     padding: 0 10px;     border: 1px solid transparent;     border-radius: 2px;     -webkit-border-radius: 2px;     box-shadow: 0 2px 4px rgba(0,0,0,0.2);*/
    font-family: Verdana;
    color: white;
    text-shadow: 0px -1px #114D97;
    border: 1px solid #114D97;
    background-color: #1F8DD6; /* AZUL ASANA */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#74C1ED), color-stop(10%, #1F8DD6));
    background-image: -moz-linear-gradient(90deg, #1F8DD6 90%, #74C1ED);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; /* http://phrogz.net/CSS/vertical-align/index.html */ /* vertical-align: middle;*/
    text-align: center; /*line-height: 27px;*/ /* AZUL FLUO GOOGLE */ /* background-color: #4D90FE; background-image: -webkit-gradient(linear,left top,left bottom,from(#4D90FE),to(#4787ED)); background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED); background-image: -moz-linear-gradient(top,#4D90FE,#4787ED); background-image: -ms-linear-gradient(top,#4D90FE,#4787ED); background-image: -o-linear-gradient(top,#4D90FE,#4787ED); background-image: linear-gradient(top,#4D90FE,#4787ED); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed'); border: 1px solid #3079ED; */
}



.but:hover
{
    /*   border-color: #AFBCC8;*/
    background-color: #1F8DD6; /*#DDE4EA;*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#74C1ED), color-stop(100%, #1F8DD6));
    background-image: -moz-linear-gradient(90deg, #1F8DD6 0%, #74C1ED);
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.butclasico
{
    margin: 0px;
    border: 1px solid #2F5BB7; /* facebook */ /*white;*/
    height: 25px;
    width: 74px;
    padding: 3px; /*font-size: 8pt; */ /* small cuantos pts es? */
    color: white;
    background-color: #1F8DD6; /* #1F8DD6 asana */ /* #4F6AA3 facebook */ /*#D14836 gmail rojo */
    cursor: hand;
    display: inline-block;
    font-family: 'Lucida Grande' , Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 1px 0 2px;
    white-space: nowrap; /* el que uso en el Alerta     border-color: #F0C36D;     background-color: #F9EDBE;     color: #222;     padding: 0 10px;     border: 1px solid transparent;     border-radius: 2px;     -webkit-border-radius: 2px;     box-shadow: 0 2px 4px rgba(0,0,0,0.2); */ /*border-radius: 2px;     -webkit-border-radius: 2px;*/
    color: black; /* DDE4EA  */ /*#c53727 gmail rojo */
}

.butclasico:hover
{
    background-color: #DDE4EA;
    color: black; /* DDE4EA  */ /*#c53727 gmail rojo */
}






.butcancela
{
    color: #222222;
    height: 31px; /*25px;*/
    min-width: 74px;
    font-family: Verdana;
    margin: 0;
    border: 1px solid #C0CCD7;
    border-color: #AFBCC8;
    background-color: #DDE4EA;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow: 0px -1px #DDE4EA;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(40%, #DDE4EA));
    background-image: -moz-linear-gradient(90deg, #DDE4EA 60%, white);
}

.butcancelalink
{
    vertical-align: middle;
    height: 25px;
    color: #222222;
    min-width: 74px;
    font-family: Verdana;
    margin: 0;
    border: 1px solid #C0CCD7;
    border-color: #AFBCC8;
    background-color: #DDE4EA;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow: 0px -1px #DDE4EA;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(40%, #DDE4EA));
    background-image: -moz-linear-gradient(90deg, #DDE4EA 60%, white);
    display: inline;
    padding: 1px;
}



.butcancela:hover
{
    color: Black;
    border-color: #AFBCC8;
    background-color: #DDE4EA; /*#DDE4EA;*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(100%, #DDE4EA));
    background-image: -moz-linear-gradient(90deg, #DDE4EA 0%, white);
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}


.butcancelaplano:hover
{
    background-color: #DDE4EA;
    border-color: #AFBCC8;
    background-color: #1F8DD6; /*#DDE4EA;*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(100%, #1F8DD6));
    background-image: -moz-linear-gradient(90deg, #1F8DD6 0%, white);
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
/*text-decoration: underline; }*/


.butcancelaplano
{
    margin: 0px;
    border: 1px solid gray; /* #C6C6C6 facebook */ /*white;*/
    height: 24px; /*min-width: 70px;*/ /* width: 68px;*/
    padding: 3px;
    font-weight: bold;
    font-size: 8pt; /*x-small;*/
    color: #333;
    font-family: Verdana;
    background-color: #F8F8F8; /* facebook */
    cursor: hand;
}










.butAzulFacebook
{
    margin: 0px;
    margin-right: 40px;
    border: 1px solid #29447E; /* facebook */ /*white;*/
    height: 23px;
    width: auto;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    font-weight: bold;
    font-size: small;
    color: white;
    font-family: Verdana;
    background-color: #4F6AA3; /* facebook */
    cursor: hand;
}


.butAzulGoogle
{
    margin: 0px;
    border: 1px solid #2F5BB7; /* facebook */ /*white;*/
    height: 25px;
    width: 70px;
    padding: 3px;
    font-weight: bold;
    font-size: x-small;
    color: white;
    font-family: Verdana;
    background-color: #357AE8; /* facebook */
    cursor: hand;
}









/*botones google*/
.jfk-button-action
{
    background-color: #4D90FE;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ED;
    color: white;
}

.jfk-button
{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    margin-right: 16px;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    outline: 0;
    padding: 0 8px;
}
/*
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #4A3C8C;
*/

/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/

/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/

/* links */

a:link
{
    text-decoration: none; /* underline;*/
    color: inherit;
}
/* unvisited link */
a:hover
{
    text-decoration: underline;
}

a:active
{
    text-decoration: bold;
}

/*

a:visited {  text-decoration: none }
a:hover { text-decoration: underline; }
.linkHoverSubrayado:hover{ text-decoration: underline;}
*/

/* cómo hago para no perder el underline en las paginas de la grilla? */

.Pager span
{
    color: red;
    text-decoration: bold;
}
.Pager a
{
    color: #000000;
    text-decoration: none;
}
.Pager hover
{
    color: #AAFF00;
    text-decoration: none;
}
.Pager
{
    color: #4A3C8C;
    text-decoration: bold; /*background-color: #FFF7E7;*/
    background: #E7E7FF;
}


/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/


/* *************************************************************************** */
/* *************************************************************************** */
/* **********MASTER PAGE Y SUPER BUSCADOR*************************************************** */
/* para el autocomplete, andá a .AutoCompleteScrollParaElSuperbuscador          */
/* *************************************************************************** */



.LoginLogo
{
    /*height:	120px;*/
    width: 400px;
    margin-left: 40px;
    margin-top: 5px; /* background-color: rgba(184, 183, 168, 0.01); */
}

.cssLogin
{
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    background-image: url('<%= imgPath %>'); /*  dejó de funcionar el bind de la imagen cuando traje el codigo del markup al css.  */
    background-repeat: repeat-x;
    text-align: center; /*background: -webkit-linear-gradient(top, white, #D3D8E8);*/ /* el degrade de facebook. lindo */ /*  background: -webkit-linear-gradient(top, #9BB4EA ,  #5F87C2); */ /* magic! -sí, pero no es muy portable....*/
}



.cssContentPlaceHolder
{
    /*overflow: auto !important;   */
    overflow: auto !important; /* max-height: 850px;     */ /*padding: 6px;*/
}



.MasterMargenIzquierdo
{
    width: 0px !important;
}


.MasterSeparador
{
    /*   width: 10px !important;*/
    width: 0px !important; /* 2px */
    max-width: 0px !important;
    overflow: hidden; /* border-right: 1px solid #9CACBC;*/
}

.MasterSeparador0
{
    /*   width: 10px !important;*/
    width: 0px !important; /* 2px */
    max-width: 0px !important;
    overflow: hidden;
    overflow-x: hidden; /* border-right: 1px solid #9CACBC;*/
}
.margenDerecho
{
    width: 0px !important;
    max-width: 0px !important;
    overflow: hidden;
}

.MasterPrimerRenglon
{
    /* El asuntito de la imagen del background http://www.daniweb.com/forums/thread57245.html#  */
    height: 34px; /*background-image: url('<%= imgMenuBackgrund %>');*/
    background-image: url("../Imagenes/bck_headerMenu.jpg");
    background-repeat: repeat-x;
    background-attachment: scroll; /*style="margin-top: 2px; */
    border: 0;
    padding: 0;
}

.MasterSegundoRenglon
{
    /* El asuntito de la imagen del background http://www.daniweb.com/forums/thread57245.html#  */ /*background-image: url('<%= imgSegundoSectorBackgrund %>');*/ /*margin-top: 10px;*/
    padding-top: 10px;
    margin: 10px; /*height: 2000px; 		background-image: url("../Imagenes/bck_headerSegundoSector.jpg");         background-repeat: repeat-x;          background-attachment: scroll;*/
}

/*************************************************************/
/*
http://forums.asp.net/t/1787714.aspx/1
http://forums.asp.net/p/1677224/4403097.aspx/1?Re+Scaling+height+of+content+div+within+container+div
Content placeholder - height=100% ???
*/
.supercontenedor
{
    /*  position: absolute;*/ /*width: 80%;*/ /*left: 10%;*/ /*   height: 100%;*/ /*background-color: #a5dbff;*/
    overflow: auto; /*max-height: 750px; */ /*  pero no tiene sentido que esto sea menos que el height del ".prop" porque va a haber entonces siempre scroll vertical  */ /* height: 90%; */
}

.prop
{
    height: 740px;
    float: left;
    width: 0px;
    background: #fafafa;
}

.clear
{
    clear: both;
    height: 1px;
    overflow: hidden; /* position: absolute; bottom: 0 !important; height: 30px;                     text-align: center; width: 150px; */
}



.MasterLogo
{
    height: 62px;
    width: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* *************************************************************************** */
/* *************************************************************************** */
/* *************************************************************************** */
/* *************************************************************************** */




.txtBuscar
{
    /* si es distinto el estilo del txtBuscar con el de su watermark, va a haber cambios de tamaños cuando  		saques el watermark */
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 2px;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url('../Imagenes/lupita.jpg');
    background-position: right;
    background-repeat: no-repeat;
    width: 400PX; /*font-family: Verdana;*/ /*font-size:  medium;*/ /*BorderStyle="None"*/
    font-family: Verdana;
    font-size: small;
    height: 23px;
    text-align: left;
}







.CombitoDelSuperbuscador
{
    margin-left: 0px;
    height: 25px; /*  2 mas que el textbox  */
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;
    padding: 0px;
    border: 0px;
    margin-right: 0px;
    font-family: Verdana;
    font-size: small;
    width: 100PX; /*	font-family: Verdana; 	font-size: small; */
    vertical-align: top;
    visibility: hidden;
    display: none;
}



.panelSuperbuscador
{
    width: 35%; /* 520px;*/
}

/* 
///////////////////////////////////////////////////////////////
	texto con watermarked para el sombreado de los "buscar"

///////////////////////////////////////////////////////////////
*/
.watermarkedBuscar
{
    height: 23px; /*20px;*/ /* no sirve usar inherit, porque no hereda al textbox, sino al div */
    padding-left: 3px; /* 3px; */
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 0px; /*  0px; */
    margin-right: 0px; /*  0px; /*height:18px;    width:150px;    padding:2px 0 0 2px;    border:1px solid #BEBEBE;    background-color:#F0F8FF;*/
    border: 2px;
    color: Silver;
    width: 400PX; /* 420PX; /*background-image: url('../Imagenes/lupita.jpg');*/ /*font-family: Verdana; 	font-weight: normal; 	font-size: x-small;*/
    font-family: Verdana; /* Verdana; */
    font-size: small; /* small;*/
    background-image: url('../Imagenes/lupita.jpg');
    background-position: right;
    background-repeat: no-repeat;
}



.watermarked
{
    padding-left: inherit; /* 3px; */
    margin-left: inherit; /*  0px; */
    margin-right: inherit; /*  0px; /*height:18px;    width:150px;    padding:2px 0 0 2px;    border:1px solid #BEBEBE;    background-color:#F0F8FF;*/
    color: Silver;
    height: inherit; /*20px;*/
    width: inherit; /* 420PX; /*background-image: url('../Imagenes/lupita.jpg');*/ /*font-family: Verdana; 	font-weight: normal; 	font-size: x-small;*/
    font-family: inherit; /* Verdana; */
    font-size: inherit; /* small;*/
}



.butBuscar
{
    margin: 0px;
    padding: 0px;
    height: 6px;
    width: 100%;
    top: 1px;
}






/*
usar validacion de css 3.0
http://stackoverflow.com/questions/4810401/css-3-0-in-visual-studio-2010
http://visualstudiogallery.msdn.microsoft.com/7211bcac-091b-4a32-be2d-e797be0db210/view/Discussions
*/


/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/
.t1
{
    border: #4A3C8C 1px solid;
    padding: 4px;
    text-align: left;
    width: 316px;
    margin-left: 0px;
}

.header
{
    background-color: #4A3C8C;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    color: #F0FFFF;
}



.imp
{
    border: #0000FF 1px solid;
    color: #0000FF;
    font-family: Verdana;
    background-color: #F0FFFF;
    margin-left: 0px;
}

.deletebutoon
{
    background-image: "~/Imagenes/close.gif";
}


hr
{
    border-bottom: 0px;
    border-color: Silver;
}


/* *************************************************************************** */
/* *************************************************************************** */
/* *************************************************************************** */


/*////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

/* TABLA DE ENCABEZADO */

body
{
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 11px;
}

h1
{
    font-size: 15px;
}

.LabelCell
{
    /*background-color: #507CBB;*/
    color: #fff; /* font-weight: bold;*/
    vertical-align: top;
    border: thin solid #FFFFFF;
    width: 270px; /*border-right: thin solid;    border-top: thin solid;    border-left: thin solid;    border-bottom: thin solid;*/
}

.EncabezadoCell
{
    /*border: thin solid #FFFFFF;*/
    text-align: left; /* right; */
    border: none;
    font-size: small;
    font-weight: normal;
    color: white; /* black;*/
}

.EncabezadoCellOculto
{
    /*border: thin solid #FFFFFF;*/
    border: none;
    font-size: small;
    color: White;
    visibility: hidden;
    display: none;
}

.EncabezadoCellSeparadorDerecha
{
    /*border: thin solid #FFFFFF;*/
    border-right-style: solid;
}


.EncabezadoTexto
{
    color: White;
    font-size: small;
}

/*////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/



fieldset
{
    padding: 20px;
    padding-top: 0; /*  Fix issue in IE where padding-top is not applied. Add margin to legend instead */
}

legend
{
    margin-bottom: 10px;
}

.Label
{
    display: block;
    font-weight: bold;
    background-color: #507cd1;
    color: #fff;
}

.Degrade
{
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='degradado.png');
    filter: alpha(opacity=50);
    opacity: 0.5;
}


/*////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
TEXTBOX Y DROPDOWNLIST Y AJAX-COMBOBOX
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

.CssCombo
{
    width: 180px;
    margin-left: 0px;
    margin-right: 0px; /*filter: alpha(opacity=50); 	-moz-opacity: 0.5; 	-khtml-opacity: 0.5; 	opacity: 0.5; 	background-color: transparent; 	background: transparent; 	border: none;*/
}




select
{
    /*position: absolute;*/ /* width: 158px;     height: 21px;*/ /*  padding: 0 24px 0 8px;*/ /* color: #fff;*/ /*font: 12px/21px arial,sans-serif;*/ /*background: url(select.png) no-repeat;*/ /*overflow: hidden;*/
}



select option
{
    /*background: #000;*/
}


/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/


.CssTextBox /*tiene que ser -4px que el combo */
{
    width: 176px;
    margin-left: 0px;
}

.CssTextBoxChico /*tiene que ser -4px que el combo */
{
    width: 66px;
    margin-left: 0px;
}


.CssNumBox /*tiene que ser -4px que el combo */
{
    width: 176px;
    margin-left: 0px;
    text-align: right;
}



/*css para el combobox de ajax. no me anda */
/*http://forums.asp.net/t/1511600.aspx*/
.WindowsStyle .ajax__combobox_inputcontainer
{
}
.WindowsStyle .ajax__combobox_textboxcontainer
{
    width: 155px;
}
.WindowsStyle .ajax__combobox_textboxcontainer input
{
    width: 155px;
}
.WindowsStyle .ajax__combobox_buttoncontainer
{
}
.WindowsStyle .ajax__combobox_buttoncontainer button
{
    /*background-image: ;*/
    background-position: center;
    background-repeat: no-repeat;
    border-color: ButtonFace;
    height: 15px;
    width: 15px;
}
.WindowsStyle .ajax__combobox_itemlist
{
    margin: 0px;
    padding: 0px;
    cursor: default;
    list-style-type: none;
    text-align: left;
    border: solid 1px ButtonShadow;
    background-color: Window;
    color: WindowText;
}
.WindowsStyle .ajax__combobox_itemlist li
{
    white-space: nowrap;
    width: 155px;
    padding: 0 3px 0 2px;
}


/* *************************************************************************** */
/* *************************************************************************** */
/* Oculto */


.Oculto
{
    display: none;
}


/* *************************************************************************** */
/* *************************************************************************** */
/* Para transformar boton en link */


.button-link
{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    text-decoration: underline;
    padding: 0; /*    color: White;*/
    margin-right: 0px;
}



/* ////////////////////////////////////////////////////////
 VALIDATOR CALLOUT
*/


.CustomValidatorCalloutStyle div, .CustomValidatorCalloutStyle td
{
    border: solid 1px Black;
    background-color: #FFFACD; /*LemonChiffon*/
    color: Black;
}



/* ////////////////////////////////////////////////////////
 PARA HACER WRAP DE COLUMNAS SIN ESPACIOS EN BLANCO
*/

.WrapSinEspacios
{
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera 4 - 6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* CSS3 */
    word-wrap: break-word; /* IE 5.5+ */
    text-overflow: ellipsis;
}

.grillarow
{
    text-overflow: ellipsis;
    height: 50px;
    max-height: 50px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
AUTOCOMPLETE
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/


/*http://forums.asp.net/p/1407330/3740472.aspx#3740472*/


.AutoCompleteScroll
{
    /*height: 200px;*/ /* NO ES NEGOCIO: hace que no se descontrole el tamaño en IE6, pero deja una barra de scroll fija */
    max-height: 200px; /* overflow-y: scroll; */ /* este en firefox rompe las pelotas */
    overflow-x: hidden;
    border: 0px solid;
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px;
    width: auto !important; /*para que los items no hagan wrap*/ /*http://publicityson.blogspot.com/2009/09/autocomplete-extender-word-wrapping.html*/ /*overflow: visible !important; */
}




/*////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
AUTOCOMPLETE del SUPERBUSCADOR
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

.cssSuperbuscador
{
    /* si es distinto el estilo del txtBuscar con el de su watermark, va a haber cambios de tamaños cuando  		saques el watermark */
    margin-left: 2px !important;
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 2px;
    margin-right: 0px;
    background-image: url('../Imagenes/lupita.jpg');
    background-position: right;
    background-repeat: no-repeat;
    width: 400PX; /*font-family: Verdana;*/ /*font-size:  medium;*/ /*BorderStyle="None"*/
    font-family: Verdana;
    font-size: medium;
    height: 23px;
}



.watermarkedSuperbuscador
{
    margin-left: 2px !important;
    height: 23px; /*20px;*/ /* no sirve usar inherit, porque no hereda al textbox, sino al div */
    padding-left: 3px; /* 3px; */
    margin-right: 0px; /*  0px; /*height:18px;    width:150px;    padding:2px 0 0 2px;    border:1px solid #BEBEBE;    background-color:#F0F8FF;*/
    border: 2px;
    color: Silver;
    width: 400PX; /* 420PX; /*background-image: url('../Imagenes/lupita.jpg');*/ /*font-family: Verdana; 	font-weight: normal; 	font-size: x-small;*/
    font-family: Verdana; /* Verdana; */
    font-size: small; /* small;*/
    background-image: url('../Imagenes/lupita.jpg');
    background-position: right;
    background-repeat: no-repeat;
}

.AutoCompleteScrollParaElSuperbuscador
{
    font-size: medium;
    font-weight: normal;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid;
    list-style-type: none;
    margin: 0px;
    background-color: White;
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px; /*padding: 0px 0px;*/ /*overflow: visible !important; */ /*height: 200px;*/ /* NO ES NEGOCIO: hace que no se descontrole el tamaño en IE6, pero deja una barra de scroll fija */ /*border: 2px solid #0;*/ /********************/
    width: 350px; /*width: auto !important; */ /*para que los items no hagan wrap -pero si tenes un buen alto por renglon, no hay problema*/ /*http://publicityson.blogspot.com/2009/09/autocomplete-extender-word-wrapping.html*/ /*width:  300px;*/ /*para que los items no hagan wrap*/ /*http://publicityson.blogspot.com/2009/09/autocomplete-extender-word-wrapping.html*/ /*GUARDA: poner el width fijo me congelaba el scroll */ /**********************/ /*overflow: visible !important; */
}


.AutoCompleteScrollParaElSuperbuscadorlistitem
{
    height: 60px; /* tiene que ser igual al del hoverlistitem !!! */ /*padding: 5px  2px;*/
    background-color: White;
}

.AutoCompleteScrollParaElSuperbuscadorhoverlistitem
{
    height: 60px; /* tiene que ser igual al del listitem !!! */
    background-color: #4F6AA3;
    color: White;
}






/* *************************************************************************** */
/* *************************************************************************** */
/* *************************************************************************** */
/* http://www.velocityreviews.com/forums/t113606-web-textbox-charactercasing.html */

.UpperCase
{
    text-transform: uppercase;
}

.ProperCase
{
    text-transform: capitalize;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* *************************************************************************** */
/* *************************************************************************** */
/* *************************************************************************** */


.LogoTransparente
{
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}


celda
{
    background-color: #507CBB;
    color: #fff;
    font-weight: bold;
    vertical-align: top;
    border: thin solid #FFFFFF;
    width: 270px;
}





/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* GridView Skin settings */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.FooterStyle
{
    background-color: Transparent;
    background: #Transparent; /* color: #fff;*/
    color: #4A3C8C;
    font-weight: bold;
}

.RowStyle
{
    background-color: #EFF3FB;
}

.AlternatingRowStyle
{
    background-color: #F0FFFF;
}

.SelectedRowStyle
{
    background-color: #D1DDF1;
    color: #333333;
    font-weight: bold;
}

.PagerStyle
{
    background-color: #2461BF;
    color: #fff;
    text-align: center;
}

.HeaderStyle
{
    background-color: #507CD1;
    color: #fff;
    font-weight: bold;
}


/* GRILLA ANIDADA */
.GrillaAnidadaHeaderStyle
{
    background-color: #4F6AA3;
    color: #fff;
    font-weight: bold;
}

/* http://stackoverflow.com/questions/7650791/limit-text-size-in-gridview-column */
.GrillaAnidadContenidoQueCorta
{
    table-layout: fixed;
    width: 300px !important;
    max-width: 300px !important;
    overflow: hidden !important;
    text-overflow: ellipsis; /* este corta el texto */
    white-space: nowrap; /* este permite el wrap */
}


.GrillaAnidadContenido
{
    table-layout: fixed;
    width: 300px !important;
    max-width: 300px !important; /* overflow: hidden !important; */
    text-overflow: ellipsis; /* este corta el texto */
    white-space: nowrap; /* este permite el wrap */
}
/*////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
y esta que diferencia tiene?
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/


.DetalleGrilla
{
    margin-left: 0px;
    margin-right: 3px;
    margin-bottom: 0px;
    margin-top: 2px;
    border-color: White;
}

.DetalleGrilla tr th, .DetalleGrilla tr td
{
    border: solid 0px #000000;
}



/* *************************************************************************** */
/* *************************************************************************** */

.ColumnaConWrapAunqueNoHayaEspacios
{
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera 4 - 6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* CSS3 */
    word-wrap: break-word; /* IE 5.5+ */
    max-width: 350px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* *************************************************************************** */
/* *************************************************************************** */
/* *************************************************************************** */
/*Modal Popup*/

/* opacity and filter properties in css? http://forums.asp.net/p/1001257/1974118.aspx#1974118  
   - Lo prefijás con -ms-   
   - No me funcionó!
*/

.modalPopup
{
    background-color: #507CBB;
    border-width: 2px;
    border-style: solid;
    border-color: #29447E; /*#507CDD;*/
    padding: 3px;
    width: 250px; /*filter: alpha(opacity=90); esta linea me causa problemas en IE6 */ /*opacity: 0.9;*/
    opacity: 1.0;
}


/* este es el color de fondo del popup */
.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}





/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* 
///////////////////////////////////////////////////////////////
					acordion

*/




/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.backgroundPopUp /*solo usado en documentosAFirmar */
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: Gray; /*#000;*/
    -ms-filter: alpha(opacity=60);
    -moz-opacity: 0.8;
    -ms-opacity: 0.6;
}




/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.DropDownTransparente
{
    -moz-opacity: 0.99;
    filter: alpha(opacity=100,finishopacity=100);
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*
					tabcontainer
http://www.krissteele.net/blogdetails.aspx?id=117
http://blogs.visoftinc.com/archive/2007/09/26/ajax-control-toolkit-tab-control-themes.aspx
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
*/

.SimpleTab .ajax__tab_body
{
    background: #507CBB;
}




.NewsTab .ajax__tab_body
{
    /*border: thin;*/
    border: 1px solid; /*border-color: #7898d5;*/
    border-color: white;
    background: #Transparent; /*este es el color de fondo del contenido */
    color: White;
}

.NewsTab .ajax__tab_header
{
    /*color: #aa976b;*/
    color: white;
    border: thin;
    border-color: white;
    font-size: x-small;
    font-weight: bold;
    background-color: Transparent; /*este es el color de fondo de la pestañita (no del contenido) */
    margin-left: 4px;
    cursor: default;
}


.NewsTab .ajax__tab_outer
{
    /*background-color: White;*/
    border: thin;
    border-color: white;
    color: White;
}
.NewsTab .ajax__tab_inner
{
    padding: 3px;
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: thin;
    border-color: white; /*border-color: White;*/ /*background-color: #f8f6ea; */
}
.NewsTab .ajax__tab_hover .ajax__tab_outer
{
    background-color: #7898d5;
    border: thin;
    color: White;
}
.NewsTab .ajax__tab_hover .ajax__tab_inner
{
    background-color: #7898d5;
    border: thin;
    color: White;
}
.NewsTab .ajax__tab_active .ajax__tab_outer
{
    border: 1px solid;
    border-style: solid solid none solid;
    background-color: #7898d5; /*background-color: Transparent; */
    border-color: white;
    color: White;
}
.NewsTab .ajax__tab_active .ajax__tab_inner
{
    border-style: none;
    background-color: #7898d5; /*background-color: Transparent; */
    color: White;
    border-color: white;
}



/* 
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
					tabcontainer sin bordes para asistente tipo wizard
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
*/




.AsistenteTab .ajax__tab_body
{
    /*border: thin;*/
    border: none; /*border-color: #7898d5;*/
    border-color: white;
    background: #Transparent; /*este es el color de fondo del contenido */ /*  color: White; */
}

.AsistenteTab .ajax__tab_header
{
    display: none; /*color: #aa976b;*/
    color: white;
    border: none; /*   border-color: white; */
    font-size: x-small;
    font-weight: bold;
    background-color: Transparent; /*este es el color de fondo de la pestañita (no del contenido) */
    margin-left: 4px;
}


.AsistenteTab .ajax__tab_outer
{
    /*background-color: White;*/
    border: none; /*  border-color: white;*/
    color: White;
}
.AsistenteTab .ajax__tab_inner
{
    padding: 3px;
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: none; /*  border-color: white; */ /*border-color: White;*/ /*background-color: #f8f6ea; */
}
.AsistenteTab .ajax__tab_hover .ajax__tab_outer
{
    background-color: #7898d5;
    border: none;
    color: White;
}
.AsistenteTab .ajax__tab_hover .ajax__tab_inner
{
    background-color: #7898d5;
    border: none;
    color: White;
}
.AsistenteTab .ajax__tab_active .ajax__tab_outer
{
    border: 1px solid;
    border-style: solid solid none solid;
    background-color: #7898d5; /*background-color: Transparent; */
    border-color: white;
    color: White;
}
.AsistenteTab .ajax__tab_active .ajax__tab_inner
{
    border-style: none;
    background-color: #7898d5; /*background-color: Transparent; */
    color: White;
    border-color: white;
}







/* 
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
para el pie de pagina
http://www.cssstickyfooter.com/using-sticky-footer-code.html
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
*/

html, body
{
    height: 100%;
}

#wrap
{
    min-height: 100%;
}

#main
{
    overflow: auto;
    padding-bottom: 150px;
}
/* must be same height as the footer */

#footer
{
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear: both;
}

/*Opera Fix*/
body:before
{
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}




/* 
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
*/





.TablaTransparente
{
    background-color: Black;
    background: #Transparent;
    border: none;
}





/* 
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
highlight del texto buscado en la grilla
http://blog.evonet.com.au/post/Gridview-with-highlighted-search-results.aspx

*/


.highlight
{
    text-decoration: none;
    color: black;
    background: yellow;
}


/*
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
	DEVEXPRESS
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
*/

.DevXGVCmmnd
{
    display: block;
}



.Alerta
{
    /* sacado de Gmail */
    border-color: #F0C36D;
    background-color: #F9EDBE;
    color: #222;
    padding: 0 10px;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* display:table-cell;*/
    empty-cells: hide;
}


.Alerta:empty
{
    display: none;
}





.accordionContent a:hover
{
    text-decoration: underline !important;
}







/*****************************************************************/
/******************************************************************/
/* SoloVisibleEnHover (para la gridview)

para mostrar botones solo en el renglon por donde pasa el mouse. 

quizas podría usar el nuevo controlcito del ajaxtoolkit: el HoverMenu  
  http://www.asp.net/ajaxlibrary/AjaxControlToolkitSampleSite/HoverMenu/HoverMenu.aspx
http://forums.asp.net/t/1819794.aspx/1


http://stackoverflow.com/questions/7035768/how-to-change-background-image-on-hover-of-aspcommandfield-in-a-gridview
*/


.SoloVisibleEnHover:hover
{
    /*background-color: Yellow; font-family: Arial;*/
}


.columnaSoloVisibleEnHover
{
    color: transparent;
}


.renglonSoloVisibleEnHover button
{
    color: Blue !important;
}


.renglonSoloVisibleEnHover:hover
{
    color: black; /*  background-color: Yellow !important;*/
}

.renglonSoloVisibleEnHover a:hover
{
    color: black;
    background-color: Yellow !important;
}

/*
.cancel
{
    background-image: url(cms_images/cancel.gif);
}

.cancel:hover
{
    background-image: url(cms_images/cancel-hover.gif);
}
*/
/******************************************************************/
/******************************************************************/


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
scrollbar
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*  gmail */

/*

::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
    background-color: #fff;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);
}
::-webkit-scrollbar:hover
{
    background-color: #eee;
}*/
::-webkit-resizer
{
    /* lo quito porque me arruina el textbox multiline */ /*     -webkit-border-radius:4px;     background-color:#666; */
}
/*
::-webkit-scrollbar-thumb
{
    min-height: 0.8em;
    min-width: 0.8em;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);
}
::-webkit-scrollbar-thumb:hover
{
    background-color: #bbb;
}
::-webkit-scrollbar-thumb:active
{
    background-color: #888;
}*/

/*  asana  */


/*
::-webkit-scrollbar {
background: rgba(0, 0, 0, 0.05);
box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
-moz-box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
-webkit-box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
}
 
::-webkit-scrollbar-track {
background: rgba(0, 0, 0, 0.05);
border-radius: 3px 3px 3px 3px;
-moz-border-radius: 3px 3px 3px 3px;
-webkit-border-radius: 3px 3px 3px 3px;
box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
-moz-box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
-webkit-box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
}
 
::-webkit-scrollbar-thumb {
background: rgba(0, 0, 0, 0.05);
border-radius: 3px 3px 3px 3px;
-moz-border-radius: 3px 3px 3px 3px;
-webkit-border-radius: 3px 3px 3px 3px;
box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
-moz-box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
-webkit-box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
}



.asana-desktop ::-webkit-scrollbar-thumb, .dropdown::-webkit-scrollbar-thumb {
background: rgba(0, 0, 0, 0.05);
border-radius: 3px 3px 3px 3px;
-moz-border-radius: 3px 3px 3px 3px;
-webkit-border-radius: 3px 3px 3px 3px;
box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
-moz-box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
-webkit-box-shadow: inset 0px -1px rgba(0, 0, 0, 0.12);
}




*/



/*  /////////////////////////////////////////////////////////////////////////////////////////// */
/*  /////////////////////////////////////////////////////////////////////////////////////////// */
/*  /////////////////////////////////////////////////////////////////////////////////////////// */
/*  /////////////////////////////////////////////////////////////////////////////////////////// */
/*  /////////////////////////////////////////////////////////////////////////////////////////// */
/*  /////////////////////////////////////////////////////////////////////////////////////////// */
/*  /////////////////////////////////////////////////////////////////////////////////////////// */
/*  /////////////////////////////////////////////////////////////////////////////////////////// */
/*  /////////////////////////////////////////////////////////////////////////////////////////// */


.headerGrid
{
    border-bottom: 1px solid gray;
    color: black;
    font-weight: bold;
    padding: 12px 8px 3px;
    font-family: arial,sans-serif;
}


/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

.linkHoverSubrayado
{
    /* color:White ;*/
    font-size: xx-small;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
}




.margender
{
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif; /*Arial, Sans-Serif;*/ /* font-family: proxima-nova, 'Helvetica Neue' , Arial, sans-serif; */
    color: White !important;
    font-size: small !important; /*    font-size: 11px !important; */ /* font-size: small; */ /*  font-size: small; */ /*color: #114D97 !important;*/
    text-decoration: none; /* text-shadow: 0 1px 0 white;*/ /* font-weight: 600 !important; */
    font-weight: normal !important;
    cursor: hand !important;
    cursor: pointer;
}

.margender a:hover
{
    /*cursor: default !important;*/
    cursor: hand !important;
    cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/


.boxLogin
{
    /* original #F0F0FF; */ /*    color: #000000;     vertical-align: middle;*/ /* text-align: left;*/
    background-color: #ECF0F3 !important;
    border: 1px solid #9CACBC;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
    border-bottom: none;
}










/*////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////*/
/*
                drag and drop
            http://www.html5rocks.com/en/tutorials/dnd/basics/

*/

/* Prevent the text contents of draggable elements from being selectable. */
[draggable]
{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.column
{
    visiblity: hidden;
    display: none;
    height: 10px;
    width: 10px;
    float: left;
    border: 2px solid #666666;
    background-color: #ccc;
    margin-right: 5px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px #000;
    -ms-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
    text-align: center;
    cursor: move;
}
.column header
{
    color: #fff;
    text-shadow: #000 0 1px;
    box-shadow: 5px;
    padding: 5px;
    background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    background: -webkit-gradient(linear, left top, right top,                                color-stop(0, rgb(0,0,0)),                                color-stop(0.50, rgb(79,79,79)),                                color-stop(1, rgb(21,21,21)));
    background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    border-bottom: 1px solid #ddd;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -ms-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -ms-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}


.column.over
{
    border: 2px dashed #000;
}





.cssprincipal
{
    border: 1;
    border-spacing: 0; /*border-collapse:collapse;  */ /* http://stackoverflow.com/questions/339923/how-to-set-cellpadding-and-cellspacing-in-css */
    padding: 1;
    border-collapse: cellspacing: 0;
    width: 100%;
    font-family: Verdana; /*    table-layout:fixed; */
}






