@model IEnumerable<ProntoMVC.Data.Models.OrdenPago>
@{
    ViewBag.Title = "Ordenes de Pago";
}

<div><input id="FechaInicial" name="FechaInicial" type="hidden" value=@Request.QueryString["fechainicial"]></div>
<div><input id="FechaFinal" name="FechaFinal" type="hidden" value=@Request.QueryString["fechafinal"]></div>

<br />

<div style="padding-left: 15px; padding-right: 15px;">
    <div class="row-fluid">
        <div class="span9 lightblue">
            <button onclick="window.location.href='@Url.Action("EditCC", new { id = -1 })'" class="btn btn-primary">Nueva Orden de Pago (Proveedores)</button>
            <button onclick="window.location.href='@Url.Action("EditFF", new { id = -1 })'" class="btn btn-primary">Nueva Orden de Pago (Fondo fijo)</button>
            <button onclick="window.location.href='@Url.Action("EditOT", new { id = -1 })'" class="btn btn-primary">Nueva Orden de Pago (Otros)</button>
        </div>
    </div>
    <br />
    <table id="Lista" class="scroll" cellpadding="0" cellspacing="0" style="font-size: 16px; "></table>
    <div id="ListaPager" class="scroll" style="text-align: center; background: ; height: 30px"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var lastSelectedId;
        var inEdit;
        grid = $("#Lista");

        //Para que haga wrap en las celdas
        $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

        $('#Lista').jqGrid({
            url: '@Url.Action("OrdenesPago_DynamicGridData", "OrdenPago")',
            postData: { 'FechaInicial': function () { return $("#FechaInicial").val(); }, 'FechaFinal': function () { return $("#FechaFinal").val(); } },
            datatype: 'json',
            mtype: 'POST',
            colNames: ['', 'Emitir', 'IdOrdenPago', 'IdOPComplementariaFF', 'Numero', 'Ext.', 'Fecha Pago', 'Tipo', 'Anulada', 'Estado', 'Proveedor', 'Cuenta', 'Mon.', 'Obra', 'Valores', 'Acreedores',
                       'Ret.iva', 'Ret.gan', 'Ret.iibb', 'Ret.SUSS', 'Dev.FF', 'Dif. Balanceo', 'OP compl.FF', 'Destinatario FF', 'Nro.Rend.FF', 'Conf.Acred.FF', 'Conc. OP Otros', 'Clasificacion', 'Detalle',
                       'Modalidad', 'Enviar a', 'Auxiliar', 'Ingreso', 'Fecha ingreso', 'Modifico', 'Fecha modificacion', 'Anulo', 'Fecha anulacion', 'Motivo anulacion', 'Observaciones', 'Cotiz.dolar', 'Cotiz.euro'
            ],
            colModel: [
                        { name: 'ver', index: 'ver', hidden: false, width: 50 },
                        { name: 'Emitir', index: 'Emitir', hidden: true, width: 50 },
                        { name: 'IdOrdenPago', index: 'IdOrdenPago', align: 'center', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'IdOPComplementariaFF', index: 'IdOPComplementariaFF', align: 'center', width: 80, sortable: false, editable: false, search: false, hidden: true },
                        { name: 'NumeroOrdenPago', index: 'NumeroOrdenPago', align: 'left', width: 80, editable: false, hidden: false },
                        { name: 'Exterior', index: 'Exterior', align: 'center', width: 40, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn','eq']  } },

       {
           name: 'FechaOrdenPago', index: 'FechaOrdenPago', width: 100, align: 'center',
           sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' },
           datefmt: 'dd/mm/yy',

           search: true,
           searchrules: {
               date: true
           },
           searchoptions: { // http://stackoverflow.com/questions/14632735/jqgrid-searching-dates
               sopt: ['ge', 'le', 'eq'],
               dataInit: function (elem) {
                   $(elem).datepicker({
                       dateFormat: 'dd/mm/yy',
                       changeYear: true,
                       changeMonth: true,
                       showButtonPanel: true,
                       onSelect: function () {
                           $(this).keydown();
                       }
                   });
               }
           }

       },

                        { name: 'Tipo', index: 'Tipo', align: 'left', width: 40, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Anulada', index: 'Anulada', align: 'center', width: 50, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Estado', index: 'Estado', align: 'left', width: 80, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Proveedor', index: 'Proveedore.RazonSocia', align: 'left', width: 300, editable: false, search: true, searchoptions: { sopt: ['cn', 'eq'] } },
                        { name: 'Cuenta', index: 'Cuenta.Descripcion', align: 'left', width: 200, editable: false },
                        { name: 'Moneda', index: 'Moneda.Abreviatura', align: 'center', width: 40, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Obra', index: 'Obra.NumeroObra', align: 'left', width: 70, editable: false },
                        { name: 'Valores', index: 'Valores', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'Acreedores', index: 'Acreedores', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'RetencionIVA', index: 'RetencionIVA', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'RetencionGanancias', index: 'RetencionGanancias', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'RetencionIBrutos', index: 'RetencionIBrutos', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'RetencionSUSS', index: 'RetencionSUSS', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'DevolucionFF', index: 'DevolucionFF', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'DiferenciaBalanceo', index: 'DiferenciaBalanceo', align: 'right', width: 100, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'OPComplementariaFF', index: 'OPComplementariaFF', align: 'left', width: 80, editable: false, hidden: false },
                        { name: 'DestinatarioFF', index: 'DestinatarioFF', align: 'left', width: 120, editable: false, hidden: false },
                        { name: 'NumeroRendicionFF', index: 'NumeroRendicionFF', align: 'left', width: 80, editable: false, hidden: false },
                        { name: 'ConfirmacionAcreditacionFF', index: 'ConfirmacionAcreditacionFF', align: 'center', width: 100, editable: false, search: true, hidden: false, searchoptions: { sopt: ['cn','eq']  } },
                        { name: 'ConceptoOPOtros', index: 'ConceptoOPOtros', align: 'left', width: 120, editable: false, hidden: false },
                        { name: 'Clasificacion', index: 'Clasificacion', align: 'left', width: 120, editable: false, hidden: false },
                        { name: 'Detalle', index: 'Detalle', align: 'left', width: 150, editable: false, hidden: false },
                        { name: 'Modalidad', index: 'Modalidad', align: 'left', width: 80, editable: false, hidden: false },
                        { name: 'EnviarA', index: 'EnviarA', align: 'left', width: 80, editable: false, hidden: false },
                        { name: 'Auxiliar', index: 'Auxiliar', align: 'left', width: 80, editable: false, hidden: false },
                        { name: 'Ingreso', index: 'Ingreso', align: 'left', width: 120, editable: false, hidden: false },

            {
                  name: 'FechaIngreso', index: 'FechaIngreso', width: 100, align: 'center',
                  sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' },
                  datefmt: 'dd/mm/yy',

                  search: true,
                  searchrules: {
                      date: true
                  },
                  searchoptions: { // http://stackoverflow.com/questions/14632735/jqgrid-searching-dates
                      sopt: ['ge', 'le', 'eq'],
                      dataInit: function (elem) {
                          $(elem).datepicker({
                              dateFormat: 'dd/mm/yy',
                              changeYear: true,
                              changeMonth: true,
                              showButtonPanel: true,
                              onSelect: function () {
                                  $(this).keydown();
                              }
                          });
                      }
                  }

              },

                        { name: 'Modifico', index: 'Modifico', align: 'left', width: 120, editable: false, hidden: false },
                       
                               {
                                   name: 'FechaModifico', index: 'FechaModifico', width: 100, align: 'center',
                                   sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' },
                                   datefmt: 'dd/mm/yy',

                                   search: true,
                                   searchrules: {
                                       date: true
                                   },
                                   searchoptions: { // http://stackoverflow.com/questions/14632735/jqgrid-searching-dates
                                       sopt: ['ge', 'le', 'eq'],
                                       dataInit: function (elem) {
                                           $(elem).datepicker({
                                               dateFormat: 'dd/mm/yy',
                                               changeYear: true,
                                               changeMonth: true,
                                               showButtonPanel: true,
                                               onSelect: function () {
                                                   $(this).keydown();
                                               }
                                           });
                                       }
                                   }

                               },


                        { name: 'Anulo', index: 'Anulo', align: 'left', width: 120, editable: false, hidden: false },

                    {
                         name: 'FechaAnulacion', index: 'FechaAnulacion', width: 100, align: 'center',
                         sorttype: 'date', hidden: false, editable: false, formatoptions: { newformat: 'dd/mm/yy' },
                         datefmt: 'dd/mm/yy',

                         search: true,
                         searchrules: {
                             date: true
                         },
                         searchoptions: { // http://stackoverflow.com/questions/14632735/jqgrid-searching-dates
                             sopt: ['ge', 'le', 'eq'],
                             dataInit: function (elem) {
                                 $(elem).datepicker({
                                     dateFormat: 'dd/mm/yy',
                                     changeYear: true,
                                     changeMonth: true,
                                     showButtonPanel: true,
                                     onSelect: function () {
                                         $(this).keydown();
                                     }
                                 });
                             }
                         }

                     },

                        { name: 'MotivoAnulacion', index: 'MotivoAnulacion', align: 'left', width: 150, editable: false, hidden: false },
                        { name: 'Observaciones', index: 'Observaciones', align: 'left', width: 200, editable: false, hidden: false },
                        { name: 'CotizacionDolar', index: 'CotizacionDolar', align: 'right', width: 70, editable: false, search: true, searchoptions: { sopt: ['cn'] } },
                        { name: 'CotizacionEuro', index: 'CotizacionEuro', align: 'right', width: 70, editable: false, search: true, searchoptions: { sopt: ['cn'] } }
            ],
            onSelectRow: function (id) {
                if (id && id !== lastSelectedId) {
                    if (typeof lastSelectedId !== "undefined") {
                        grid.jqGrid('restoreRow', lastSelectedId);
                    }
                    lastSelectedId = id;
                }
            },




            pager: $('#ListaPager'),
            rowNum: 15,
            rowList: [10, 20, 50, 20000],
            sortname: 'NumeroOrdenPago',
            sortorder: 'desc',
            viewrecords: true,
            emptyrecords: 'No hay registros para mostrar', //,

        

            
            ///////////////////////////////
            width: 'auto', // 'auto',
        autowidth: true,
        shrinkToFit: false,
        //////////////////////////////

        height: $(window).height() - ALTOLISTADO, // '100%'
        altRows: false,
        footerrow: false, //true,
        userDataOnFooter: true
        //    caption: '<b>ORDENES DE PAGO</b>'
        // ,caption: '<b>FACTURAS</b>'

        , gridview: true
        , multiboxonly: true
        , multipleSearch: true




        });
        jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { refresh: true, add: false, edit: false, del: false }, {}, {}, {}, { sopt: ["cn"], width: 700, closeOnEscape: true, closeAfterSearch: true });
        //        jQuery("#Lista").jqGrid('gridResize', { minWidth: 350, maxWidth: 1500, minHeight: 80, maxHeight: 500 });

        jQuery("#Lista").jqGrid('navGrid', '#ListaPager',
 { csv: true, refresh: true, add: false, edit: false, del: false }, {}, {}, {},
 {
     //sopt: ["cn"]
     //sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'ew', 'en', 'cn', 'nc', 'nu', 'nn', 'in', 'ni'],
     width: 700, closeOnEscape: true, closeAfterSearch: true, multipleSearch: true, overlay: false
 }
);


        jQuery("#Lista").filterToolbar({
            stringResult: true, searchOnEnter: true,
            defaultSearch: 'cn',
            enableClear: false
        }); // si queres sacar el enableClear, definilo en las searchoptions de la columna específica http://www.trirand.com/blog/?page_id=393/help/clearing-the-clear-icon-in-a-filtertoolbar/



        $(window).resize(function () {
            RefrescaAnchoJqgrids();
        });


        $(function () {
            deshabilitarPanelesDerecho();

        })
        pageLayout.hide('east');
        pageLayout.hide('south');
    });

</script>
