
/* http://msdn.microsoft.com/en-us/library/ms247256(v=vs.80).aspx */

body
{
}

/* El color de fondo de la pagina entera (no el content. Es decir, el margen) */
.bodyMasterPage
{
     /* El asuntito de la imagen del background http://www.daniweb.com/forums/thread57245.html#  */ /*background-image: url('<%= imgPath %>'); */ /*background-image:"Imagenes/bck_header.jpg";*/
    /*background-repeat: repeat-x; *//* background-attachment: scroll;*/ /*es esto lo que tapa el segundo renglon!! */ /*background-image: url("../../Imagenes/bck_header.jpg");*/ /* AZUL     background-image: -webkit-gradient(linear, left top, left bottom, from( #A0BAE7), color-stop(40%,  #8DADDF));     background-image: -moz-linear-gradient(90deg, #1F8DD6 60%, #C8D1E2); */ /* ASANA */
    background-color: rgb(242, 243, 245);  
    /*
    background-image: -webkit-gradient(linear, left top, left bottom, from(#DDE4EA), color-stop(100%, #AFBCC8));
    background-image: -moz-linear-gradient(90deg, #AFBCC8 0%, #DDE4EA);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#DDE4EA', EndColorStr='#AFBCC8'); *//* IE6,IE7 */
   /* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#DDE4EA', EndColorStr='#AFBCC8')"; *//* IE8 */


    /*background-repeat: repeat-x;*/
    background-attachment: scroll;
    margin: 0; /* importante. si no, te pone un margen blanco*/ /*background-color: #507CBB; height: 100%; width: 100%; background-image: url('<%= imgPath %>');     background-repeat: repeat-x; background-attachment: scroll;"*/
}

.MasterPrimerRenglon
{
    /* background-color: #9CACBC;*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#CCDADF), color-stop(100%, #AFBCC8)) !important;
    background-image: -moz-linear-gradient(90deg, #AFBCC8 0%, #CCDADF) !important; /*   background-color: #E5E5E5 !important;*/
    border-color: gray !important; /* El asuntito de la imagen del background http://www.daniweb.com/forums/thread57245.html#  */
    height: 34px; /*background-image: url('<%= imgMenuBackgrund %>');*/
    background-image: url("");
    background-repeat: repeat-x;
    background-attachment: scroll; /*style="margin-top: 2px; */
    border: 1;
    padding: 0;
/**/
background-color: #CED7E0;
background-image: -webkit-gradient(linear, left top, left bottom, from(#ECF0F3), color-stop(100%, #CED7E0));
background-image: -moz-linear-gradient(90deg, #CED7E0 0%, #ECF0F3);

border-top: 1px solid #9CACBC;
border-bottom: 1px solid #9CACBC important!;
    
box-shadow: 0px 1px #ECF0F3;
-moz-box-shadow: 0px 1px #ecf0f3;
-webkit-box-shadow: 0px 1px #ECF0F3;
margin-bottom: 1px;

}


.MasterSegundoRenglon
{
    /* El asuntito de la imagen del background http://www.daniweb.com/forums/thread57245.html#  */ /*background-image: url('<%= imgSegundoSectorBackgrund %>');*/ /*margin-top: 10px;*/
    padding-top: 10px;
    margin: 10px; /*height: 2000px; 		background-image: url("../Imagenes/bck_headerSegundoSector.jpg");         background-repeat: repeat-x;          background-attachment: scroll;*/
    border-top: 1px solid #9CACBC !important;
    
    
    
    background-image: -webkit-gradient(linear, left top, left bottom, from(#DDE4EA), color-stop(100%, #AFBCC8));
    background-image: -moz-linear-gradient(90deg, #AFBCC8 0%, #DDE4EA);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#DDE4EA', EndColorStr='#AFBCC8'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#DDE4EA', EndColorStr='#AFBCC8')"; /* IE8 */
    
    
    
}


.cssLogin
{
    /*  background-repeat:  no-repeat; */
    background-image: url("");
    background-image: -webkit-gradient(linear, left top, left bottom, from(#DDE4EA), color-stop(100%, #AFBCC8)) !important;
    background-image: -moz-linear-gradient(90deg, #AFBCC8 0%, #DDE4EA) !important; /* background-image: -webkit-gradient(linear, left top, left bottom, from( #F4F8FF), color-stop(40%,  #8DADDF)) !important;     background-image: -moz-linear-gradient(90deg, #1F8DD6 60%, #C8D1E2)  !important;*/
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#DDE4EA', EndColorStr='#AFBCC8'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#DDE4EA', EndColorStr='#AFBCC8')"; /* IE8 */

}



.boxLogin
{
    /* original #F0F0FF; */ /*    color: #000000;     vertical-align: middle;*/ /* text-align: left;*/
    background-color: #ECF0F3 !important;
    border: 1px solid #9CACBC;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
    border-bottom: none;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/





/* El color de fondo del contenido */
.cssContentPlaceHolder
{
    margin-left: 10px; /* si modificas este margen, tambien modificá el de .cssSuperbuscador y .watermarkedSuperbuscador  */ /*background-color:  #EEEFF0; */ /* white;*/ /*#C8D1E2;* celestite/ /*#E8E8E8;*/ /* #FAFAFA;*/ /* white;*/ /*  #E8E8E8 grisecito */ /*     overflow: auto !important;     height: 500px;     */
    /*background-color: #FFFFFF; */ /* #F7F7F7;*/ /* AZUL ASANA #C8D1E2 */ /* esta es la verdadera papa... esto en combinacion con el color de la letra   */ /* background-image: -webkit-gradient(linear, left top, left bottom, from( #EFF2F8), color-stop(40%,  #EBEDEE));     background-image: -moz-linear-gradient(90deg, #1F8DD6 60%, #C8D1E2);*/
    /*min-height: 600px !important;*/ /*max-height: 750px !important;*/
    overflow: auto  !important;
   }


.EncabezadoCell
{
    color: black; /*border: thin solid #FFFFFF;*/
    border: none;

 /*   border-bottom: 1px solid gray;*/
/*    padding: 12px 8px 3px; */
    font-family: arial,sans-serif;
    
        font-size: small;
    font-weight:   lighter; /*  bold; */


    text-align: left; /* right;  */

}


.EncabezadoComprobante
{
    color: black; /*border: thin solid #FFFFFF;*/
    
    font-size: small;
    font-weight: bold;
    border: thin solid;
    width: 700px;
    margin-top: 15px;
    background-color: #F7F7F7 !important;
    border: 1px solid #9CACBC;
    border-bottom: none !important;
    border-radius: 12px 12px 0px 0px;
    -moz-border-radius: 12px 12px 0px 0px;
    -webkit-border-radius: 12px 12px 0px 0px; /*     box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);     -moz-box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);     -webkit-box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);  */
    
    
    text-align: left; /* right;  */



 /*
               overflow-y: scroll;
               overflow-x: hidden;
                 max-height: 320px;  */
                              }

.EncabezadoComprobante:hover 
{
    /*
    overflow-y: auto;
    overflow-x: hidden;*/
}






.EncabezadoTexto
{
    color:  inherit !important;
     text-align: left; /* right;  */
}

.cssTextoComun
{
    color: White; /* black; */ /* #333;*/
    font-size: 11px;
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
    line-height: 1.28;
    text-align: left;
    direction: ltr;
}


.CssABM
{
    /* como Gmail */ /*background-color: #F5F5F5;*/
    border: 1px solid white;
}





.modalPopup
{
    background-color: #F7F7F7 !important;
    border: 1px solid #9CACBC;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
   /*
    box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1);
   */
    background-color: #ECF0F3;
    border-width: 2px;
    border-style: solid;
    border-color: #F7F7F7; /*#507CDD;*/
    padding: 3px;
    width: 250px; /*filter: alpha(opacity=90); esta linea me causa problemas en IE6 */ /*opacity: 0.9;*/
    opacity: 1.0;
}


/* este es el color de fondo del popup */
.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}







.cssSuperbuscador
{
    margin-left: 0px;
    border: 1px solid;
    border-color: Silver;
}

.watermarkedSuperbuscador
{
    margin-left: 0px;
    border: 1px solid;
      color: Silver;
}



.txtBuscar
{
    /* si es distinto el estilo del txtBuscar con el de su watermark, va a haber cambios de tamaños cuando  		saques el watermark */
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url('../../Imagenes/lupita.jpg');
    background-position: right;
    background-repeat: no-repeat;
    width: 200PX; /*font-family: Verdana;*/ /*font-size:  medium;*/ /*BorderStyle="None"*/
    font-family: Verdana;
    font-size: small;
    height: 23px;
}

.watermarkedBuscar
{
    height: 23px; /*20px;*/ /* no sirve usar inherit, porque no hereda al textbox, sino al div */
    padding-top: 1px;
    padding-left: 3px; /* 3px; */
    margin-left: 0px; /*  0px; */
    margin-right: 0px; /*  0px; /*height:18px;    width:150px;    padding:2px 0 0 2px;    border:1px solid #BEBEBE;    background-color:#F0F8FF;*/
    border: 1px solid;
    color: Silver;
    width: 200PX; /* 420PX; /*background-image: url('../Imagenes/lupita.jpg');*/ /*font-family: Verdana; 	font-weight: normal; 	font-size: x-small;*/
    font-family: Verdana; /* Verdana; */
    font-size: small; /* small;*/
    background-image: url('../../Imagenes/lupita.jpg');
    background-position: right;
    background-repeat: no-repeat;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

.linkHoverSubrayado
{
    /* color:White ;*/
    font-size: xx-small;
    text-decoration: none;
text-shadow: 0 1px 0 white;
}



.margen
{
    /* color:White ;*/
    font-size: xx-small;
    text-decoration: none;
text-shadow: 0 1px 0 white;
}


.margender
{
    /*color:White ;*/
    color: #114D97 !important;
    font-size: normal;
    text-decoration: none;
   /* text-shadow: 0 1px 0 white;*/
    /* font-weight: 600 !important; */
    font-weight: normal !important;
    
/*    font-family: proxima-nova, 'Helvetica Neue', Arial, sans-serif; */
     cursor: hand !important;
    cursor: pointer;
}

.margender a:hover
{
    /*cursor: default !important;*/
    cursor: hand !important;
    cursor: pointer;
    
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

.margenDerecho {
background-color: white;
}

/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/



/*
					tabcontainer
http://www.krissteele.net/blogdetails.aspx?id=117
http://blogs.visoftinc.com/archive/2007/09/26/ajax-control-toolkit-tab-control-themes.aspx
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
*/

.tabcontenido
{
    /*el cellspacing: */
    border-collapse: separate;
    border-spacing: 7px 1px 2px 1px; /*arriba, derecha, abajo, izquierda*/
    /*el cellpadding de la tabla */
    padding: 3px; 
/**/
    border: none #FFFFFF;
    width: 696px;
    height: 202px;
    margin-right: 5px; /* margin-top: 5px;*/
}



/* TabContainer en el skin? */
.NewsTab
{
    /* BackColor="#FFFFC0" */ /* background-color:  transparent; */ /*#FFFFC0;*/
    color: Black;
}




.SimpleTab .ajax__tab_body
{
    /* background: #507CBB;*/
}

.NewsTab .ajax__tab_tab
{
    margin-right: 8px;
    margin-left: 8px;
}



.NewsTab .ajax__tab_active .ajax__tab_inner
{
    border-style: none;
    background-color: #E5E5E5; /*background-color: Transparent; */
    color: black;
    border-color: transparent;
}

.NewsTab .ajax__tab_body
{
    /*border: thin;*/
    border: 0px solid; /*border-color: #7898d5;*/ /* border-color: black; */ /*   background: Transparent; */ /*este es el color de fondo del contenido */ /*   color: White;   */
    background-color: #E5E5E5;
}




.NewsTab .ajax__tab_header
{
    /*color: #aa976b;*/ /*   color: White;   */
    border: thin;
    border-color: black;
    font-size: x-small;
    font-weight: bold; /*  background-color: Transparent; */ /*este es el color de fondo de la pestañita (no del contenido) */ /*  margin-left: 4px;*/
    cursor: default;
    padding-left: 8px;
    padding-right: 4px;
}


.NewsTab .ajax__tab_outer
{
    /* background-color:  #E5E5E5;*/ /*background-color: Transparent; */
    color: black; /*background-color: White;*/
    border: thin;
    border-color: #E5E5E5; /*   color: White;   */
}

.NewsTab .ajax__tab_inner
{
    /* padding: 3px;*/
    margin-right: 1px;
    margin-left: 1px; /* 10px; */
    margin-top: 1px;
    margin-bottom: 1px;
    border: thin; /*  background-color: white;*/
    border-color: #E5E5E5; /*border-color: White;*/ /*background-color: #f8f6ea; */
}

.NewsTab .ajax__tab_hover .ajax__tab_outer
{
    /*background-color: Transparent;*/
    border: thin; /*background-color: white;*/ /*background-color: Transparent; */
    text-decoration: underline !important;
    color: black; /*   color: White;   */
    background-color: #F1F1F1;
}

.NewsTab .ajax__tab_hover .ajax__tab_inner
{
    /*   background-color: Transparent; */
    border: 0px solid;
    border: thin; /*    background-color: Silver;*/
    text-decoration: underline !important; /*   color: White;   */
    cursor: hand;
    cursor: pointer;
    color: black;
    background-color: #F1F1F1;
}



.NewsTab .ajax__tab_active .ajax__tab_inner
{
    background-color: #E5E5E5;
}

.NewsTab .ajax__tab_active .ajax__tab_outer
{
    border: 0px solid;
    border-style: solid solid none solid;
    background-color: #E5E5E5; /*background-color: Transparent; */
    color: black;
    border-color: #E5E5E5; /*   color: White;   */
}



/* 
///////////////////////////////////////////////////////////////
					acordion

*/





.accordionHeader
{
    border: 0px solid #2F4F4F;
    color: white;
    background-color: transparent; /* #8DADDF; */ /*#4A3C8C; el clasico violetita claro como la gridview clasica*/ /*	background-color: transparent;*/
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif; /*Arial, Sans-Serif;*/
    font-size: 9px;
    font-weight: bold; /* normal */
    padding: 3px;
    margin-top: 1px;
    margin-bottom: 0px;
    cursor: pointer;
}

.accordionHeader a
{
    color: #4A3C8C; /*white;*/
    background: none;
    text-decoration: none;
}

.accordionHeader a:hover
{
    background: none;
    text-decoration: underline;
}

.accordionHeaderSelected
{
    border: 0px solid #2F4F4F;
    color: #4A3C8C;
    font-weight: bold;
    font-style: normal;
    cursor: pointer;
}

.accordionHeaderSelected a
{
    color: #4A3C8C;
    text-decoration: none;
}

.accordionHeaderSelected a:hover
{
    background: none;
    text-decoration: none;
}




.cssdivPanelMenu
{
  /* border-right: 1px solid #9CACBC;*/
  background: rgba(107, 79, 219, 0.17)
}




.accordionContent
{
    background-color: transparent; /*#A0BAE7;*/ /* 8DA9D3  bajo contraste */ /*#E7E7FF; el clasico violetita claro como la gridview clasica*/
    color: #4A3C8C; /* 	background-color: transparent; 	color: white; */
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif; /*Arial, Sans-Serif;*/
    font-size: 11px;
    border: 0px solid #2F4F4F;
    border-top: none;
    padding: 0px;
    padding-top: 10px;
    border-spacing: 0px; /*border-collapse: collapse !important;*/ /* esta es la magia para que reemplazar el cellspacing, que no tiene css */
    font-style: normal;
    font-size: small;
    padding-top: 5px;
    padding-bottom: 8px;
}



/* http://stackoverflow.com/a/1323014/60485 */
/* http://stackoverflow.com/a/1323014/60485 */
/* http://stackoverflow.com/a/1323014/60485 */
/* http://stackoverflow.com/a/1323014/60485 */
/* http://stackoverflow.com/a/1323014/60485 */

/* esta es la papa!!! */
/* esta es la papa!!! */
/* esta es la papa!!! */

.accordionContent table
{
    /*cellspacing=0;*/
    border-collapse: collapse; /* 'cellspacing' equivalent */
}

.accordionContent table td, table th
{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px !important; /* 'cellpadding' equivalent */
}






.accordionContent a
{
    padding-left: 20px;
    margin-left: 0px; /* 21px es el margen que usa Facebook, donde pone el iconito */
    text-decoration: none;
    margin-top: 15px;
    color: #4A3C8C; /*color: white; */
}

.accordionContent a:link
{
    text-decoration: none;
    color: #4A3C8C; /*color: white; */
}

.accordionContent a:active
{
    text-decoration: none;
    color: #4A3C8C; /*color: white; */ /*border-left: 2px solid; 	border-left-color: inherit;*/ /*border:2px; 	border-left-width: 3;*/ /* una onda la barrita de seleccionado en GMail */
}










.cssAccordionSideBarItem a
{
    /* ver tambien AccordionItemSeleccionado */ /* padding: 30px !important;*/ /* pading: 10px;*/
    padding-top: 10px !important;
    padding-bottom: 10px;
    margin-top: 15px !important; /*color: #4A3C8C; color: white; */ /*border-left: 2px solid;*/ /*border-left-color: Red;*/ /* inherit;*/ /*border:2px;*/ /*border-left-width: 3;*/ /* una onda la barrita de seleccionado en GMail */
}



.AccordionItemSeleccionado
{
    padding-left: 16px !important;
    font-weight: bold; /*border:  0px 0px 0px 2px solid;*/ /* border-width: 2px;*/ /* margin: 2px;*/ /*border-style: solid;*/ /*                  color: #DD4B39 !important;                 */
    border-left: 4px solid; /* #DD4B39;*/ /*color: #E7E7FF !important;*/
    color: #FAFAFA !important; /*color: white !important;*/
}











 .arbol
 {
        background-color: transparent; /*#A0BAE7;*/ /* 8DA9D3  bajo contraste */ /*#E7E7FF; el clasico violetita claro como la gridview clasica*/
    color: #4A3C8C; /* 	background-color: transparent; 	color: white; */
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif; /*Arial, Sans-Serif;*/
    font-size: 11px;
    border: 0px solid #2F4F4F;
    border-top: 0px solid #EBEBEB;
    
    margin-top: 0px;
    padding: 0px;
    padding-top: 0px;
    border-spacing: 0px; /*border-collapse: collapse !important;*/ /* esta es la magia para que reemplazar el cellspacing, que no tiene css */
    font-style: normal;
    font-size: small;
    padding-top: 5px;
    padding-bottom: 8px;
    
    margin-left: 4px;
 }


.arbol tr
{
    border: 2px !important;    
    margin: 5px  !important;
}
 




div.autosize {/* display: table; width: 1px;   
               overflow: auto; */
               max-height: 600px;  overflow:  hidden;
                              }

div.autosize > div { display: table-cell;  }
div.autosize:hover 
{
    overflow: auto;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/





.butCrearViejo
{
    font-weight: normal;
    text-decoration: none; /*sin underline */
    margin: 0px;
    margin-right: 40px;
    border: 1px solid #29447E; /* facebook */ /*white;*/
    height: 23px;
    width: auto;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    font-size: small;
    color: white;
    font-family: Verdana;
    background-color: #4F6AA3; /* facebook */
    cursor: hand;
}



















.grillaListado tr.normal:hover, .grillaListado tr.alternate:hover
{
/*   background-color: white;
   color: black;
   font-weight: bold;*/
}






/*************************************************************/
/*
http://forums.asp.net/t/1787714.aspx/1
http://forums.asp.net/p/1677224/4403097.aspx/1?Re+Scaling+height+of+content+div+within+container+div
Content placeholder - height=100% ???
*/
.supercontenedor
{
    /*  position: absolute;*/ /*width: 80%;*/ /*left: 10%;*/ /*   height: 100%;*/ /*background-color: #a5dbff;*/
    overflow: auto;
    /*overflow-y: hidden;*/
   /*  max-height: inherit !important;  si pongo esto, en IE el abm me corta los botones de abajo si hay muchos renglones*/
     /*  pero no tiene sentido que esto sea menos que el height del ".prop" porque va a haber entonces siempre scroll vertical  */ /* height: 90%; */
}

.prop
{
    height: 740px;
    float: left;
    width: 0px;
    background: #fafafa;
}

.clear
{
    clear: both;
    height: 1px;
    overflow: hidden; /* position: absolute; bottom: 0 !important; height: 30px;                     text-align: center; width: 150px; */
}




.cssContentPlaceHolder2
{
    /*overflow: auto !important;   */
    /*overflow: auto !important; *//* max-height: 850px;     */ /*padding: 6px;*/
    /* background-color: white; */
    /*border-left: 1px solid blue;*/
}


.MasterSeparador
{
 /*   width: 10px !important;*/
    width: 0px !important; /* 2px */ 
    max-width: 0px !important;
    overflow:hidden;
       border-right: 1px solid #9CACBC;
}

    .cssprincipal
    {
        border: 1;
          border-spacing:0;
  border-collapse:collapse; /* http://stackoverflow.com/questions/339923/how-to-set-cellpadding-and-cellspacing-in-css */
        padding: 1; 
       border-collapse: collapse; /* cellspacing: 0; */
        width: 100%; 
        font-family: Verdana;
    /*    table-layout:fixed; */
    }



.a
{
 color: Blue;
 text-decoration: none !important;
}


.button-link 
{
 color: Blue;
 text-decoration: none !important;
}

a:link 
{
 text-decoration: none !important;
}

a:link hover 
{
 text-decoration: underline !important;
}

a:hover 
{
  text-decoration: underline !important;
}








.trpie
{
     
 }

.tdpie
{
      width: 160px;
  /*   background-color: #CCDADF;*/
     position: absolute; bottom: 0 !important; height: 30px;
                    text-align: center;
                     vertical-align: bottom
                     
}




.tablapie 
{
    /* por algun motivo, está arruinando el scroll vertical del masterpage. Hasta que lo descule, lo saco */
    visibility: hidden;
    display: none;
/*     background-color: #CCDADF;*/
}

