@model IEnumerable<ProntoMVC.Data.Models.Rubro>
@{
    ViewBag.Title = "Rubros";
}

<br />

<table id="Lista" class="scroll" cellpadding="0" cellspacing="0"></table>
<div id="ListaPager" class="scroll" style="text-align: center; height: 30px"></div>

<style>
    .myLink {
        text-decoration: underline;
        cursor: pointer;
    }
</style>

<script type="text/javascript">

    var lastSelectedId;
    var lastSelectediCol;
    var lastSelectediRow;
    var lastSelectediCol2;
    var lastSelectediRow2;
    var inEdit;
    var selICol;
    var selIRow;
    var gridCellWasClicked = false;
    var grillaenfoco = false;
    var getColumnIndexByName = function (grid, columnName) {
        var cm = grid.jqGrid('getGridParam', 'colModel'), i, l = cm.length;
        for (i = 0; i < l; i++) {
            if (cm[i].name === columnName) {
                return i; // return the index
            }
        }
        return -1;
    };
    var saveIcon = '<span class="ui-state-default" style="border:0"><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span></span>'

    $('.ui-jqgrid .ui-jqgrid-htable th div').css('white-space', 'normal');

    $.extend($.jgrid.inlineEdit, {
        keys: true
    });

    function GrabarFila(gridId) {
        var i, a, err = "";

        $('#Lista').jqGrid('setSelection', gridId);
        var iRow = $('#' + $.jgrid.jqID(gridId))[0].rowIndex;
        var dataFromTheRow = $('#Lista').jqGrid('getRowData', gridId)
        var colModel = $('#Lista').jqGrid('getGridParam', 'colModel');

        for (i = 0; i < colModel.length; i++) {
            if (colModel[i].editable) {
                a = dataFromTheRow[colModel[i].name];
                if (typeof a != "undefined") {
                    if (a.substring(0, 1) == "<") {
                        err = err + "Hay campos en modo edicion, confirmelos con enter antes de grabar.\n"
                    }
                }
            }
        }

        var datos = $("#formid").serializeObject();

        datos.IdRubro = gridId;
        datos.IdTipoOperacion = dataFromTheRow.IdTipoOperacion;
        datos.IdCuenta = dataFromTheRow.IdCuenta;
        datos.IdCuentaCompras = dataFromTheRow.IdCuentaCompras;
        datos.IdCuentaComprasActivo = dataFromTheRow.IdCuentaComprasActivo;
        datos.IdCuentaCompras1 = dataFromTheRow.IdCuentaCompras1;
        datos.IdCuentaCompras2 = dataFromTheRow.IdCuentaCompras2;
        datos.IdCuentaCompras3 = dataFromTheRow.IdCuentaCompras3;
        datos.IdCuentaCompras4 = dataFromTheRow.IdCuentaCompras4;
        datos.IdCuentaCompras5 = dataFromTheRow.IdCuentaCompras5;
        datos.IdCuentaCompras6 = dataFromTheRow.IdCuentaCompras6;
        datos.IdCuentaCompras7 = dataFromTheRow.IdCuentaCompras7;
        datos.IdCuentaCompras8 = dataFromTheRow.IdCuentaCompras8;
        datos.IdCuentaCompras9 = dataFromTheRow.IdCuentaCompras9;
        datos.IdCuentaCompras10 = dataFromTheRow.IdCuentaCompras10;
        datos.Descripcion = dataFromTheRow.Descripcion;
        datos.Codigo = dataFromTheRow.Codigo;
        datos.Abreviatura = dataFromTheRow.Abreviatura;
        datos.TipoOperacion = dataFromTheRow.TipoOperacion;
        datos.CuentaVentas = dataFromTheRow.CuentaVentas;
        datos.CuentaCompras = dataFromTheRow.CuentaCompras;
        datos.CuentaActivo = dataFromTheRow.CuentaActivo;
        datos.CuentaAdicionalCompras1 = dataFromTheRow.CuentaAdicionalCompras1;
        datos.CuentaAdicionalCompras2 = dataFromTheRow.CuentaAdicionalCompras2;
        datos.CuentaAdicionalCompras3 = dataFromTheRow.CuentaAdicionalCompras3;
        datos.CuentaAdicionalCompras4 = dataFromTheRow.CuentaAdicionalCompras4;
        datos.CuentaAdicionalCompras5 = dataFromTheRow.CuentaAdicionalCompras5;
        datos.CuentaAdicionalCompras6 = dataFromTheRow.CuentaAdicionalCompras6;
        datos.CuentaAdicionalCompras7 = dataFromTheRow.CuentaAdicionalCompras7;
        datos.CuentaAdicionalCompras8 = dataFromTheRow.CuentaAdicionalCompras8;
        datos.CuentaAdicionalCompras9 = dataFromTheRow.CuentaAdicionalCompras9;
        datos.CuentaAdicionalCompras10 = dataFromTheRow.CuentaAdicionalCompras10;

        if (datos.Descripcion == "" || datos.Descripcion == undefined) err = err + "Falta definir el nombre.\n"

        if (err != "") {
            alert('No se pudo grabar el registro.\n' + err);
        } else {
            //$('html, body').css('cursor', 'wait');
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: ROOT + 'Rubro/BatchUpdate',
                dataType: 'json',
                data: JSON.stringify(datos),
                success: function (result) {
                    if (result) {
                        $('#Lista').jqGrid('setRowData', gridId, { act: "" });
                        var rowid = $('#Lista').getGridParam('selrow');
                        var valor = result.IdRubro;
                        if (valor == "") { valor = "0"; }
                        $('#Lista').jqGrid('setCell', rowid, 'IdRubro', valor);
                    } else {
                        alert('No se pudo grabar el registro.');
                    }
                },
                error: function (xhr, textStatus, exceptionThrown) {
                    try {
                        var errorData = $.parseJSON(xhr.responseText);
                        var errorMessages = [];
                        for (var key in errorData) { errorMessages.push(errorData[key]); }
                        $('html, body').css('cursor', 'auto');
                        $('#grabar2').attr("disabled", false).val("Aceptar");
                        $("#textoMensajeAlerta").html(errorData.Errors.join("<br />"));
                        $("#mensajeAlerta").show();
                        alert(errorData.Errors.join("\n").replace(/<br\/>/g, '\n'));
                    } catch (e) {
                        $('html, body').css('cursor', 'auto');
                        $('#grabar2').attr("disabled", false).val("Aceptar");
                        $("#textoMensajeAlerta").html(xhr.responseText);
                        $("#mensajeAlerta").show();
                        alert(xhr.responseText.replace(/<br\/>/g, '\n'));
                    }
                }
            });
        };
    };

    function EliminarFila(gridId) {
        var dataFromTheRow = $('#Lista').jqGrid('getRowData', gridId);
        var idprincipal = dataFromTheRow['IdRubro'];
        if (idprincipal <= 0) {
            $('#Lista').jqGrid('delRowData', gridId);
        } else {
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: ROOT + 'Rubro/Delete',
                dataType: 'json',
                data: JSON.stringify({ id: idprincipal }),
                success: function (result) {
                    if (result) {
                        $('#Lista').jqGrid('delRowData', gridId);
                    } else {
                        alert('No se pudo eliminar el registro.');
                    }
                },
                error: function (xhr, textStatus, exceptionThrown) {
                    try {
                        var errorData = $.parseJSON(xhr.responseText);
                        var errorMessages = [];
                        for (var key in errorData) { errorMessages.push(errorData[key]); }
                        $('html, body').css('cursor', 'auto');
                        $('#grabar2').attr("disabled", false).val("Aceptar");
                        $("#textoMensajeAlerta").html(errorData.Errors.join("<br />"));
                        $("#mensajeAlerta").show();
                        alert(errorData.Errors.join("\n").replace(/<br\/>/g, '\n'));
                    } catch (e) {
                        $('html, body').css('cursor', 'auto');
                        $('#grabar2').attr("disabled", false).val("Aceptar");
                        $("#textoMensajeAlerta").html(xhr.responseText);
                        $("#mensajeAlerta").show();
                        alert(xhr.responseText.replace(/<br\/>/g, '\n'));
                    }
                }
            });
        };
    };

    function MarcarSeleccionadosParaEliminar(grid) {
        var selectedIds = grid.jqGrid('getGridParam', 'selarrrow');
        var i, Id;
        for (i = selectedIds.length - 1; i >= 0; i--) {
            Id = selectedIds[i];
            var se = "<input style='height:22px;width:20px;' type='button' value='B' onclick=\"EliminarFila('" + Id + "');\"  />";
            grid.jqGrid('setRowData', Id, { act: se });
            //grid.jqGrid('delRowData', selectedIds[i]);
        }
    };

    function AgregarItemVacio(grid) {
        var colModel = grid.jqGrid('getGridParam', 'colModel');
        var dataIds = grid.jqGrid('getDataIDs');
        var Id = (grid.jqGrid('getGridParam', 'records') + 1) * -1;
        var se = "<input style='height:22px;width:20px;' type='button' value='G' onclick=\"GrabarFila('" + Id + "');\"  />";
        var data, j, cm;

        data = '{';
        for (j = 1; j < colModel.length; j++) {
            cm = colModel[j];
            data = data + '"' + cm.index + '":' + '"",';
        }
        data = data.substring(0, data.length - 1) + '}';
        data = data.replace(/(\r\n|\n|\r)/gm, "");
        grid.jqGrid('addRowData', Id, data, "first");
        grid.jqGrid('setRowData', Id, { act: se });
    };

    $().ready(function () {
        'use strict';

        $('#Lista').jqGrid({
            url: ROOT + 'Rubro/Rubros_DynamicGridData/',
            postData: {},
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Acciones', 'IdRubro', 'IdTipoOperacion', 'IdCuenta', 'IdCuentaCompras', 'IdCuentaComprasActivo', 'IdCuentaCompras1', 'IdCuentaCompras2', 'IdCuentaCompras3', 'IdCuentaCompras4',
                       'IdCuentaCompras5', 'IdCuentaCompras6', 'IdCuentaCompras7', 'IdCuentaCompras8', 'IdCuentaCompras9', 'IdCuentaCompras10', 'Descripcion', 'Codigo', 'Abreviatura', 'Tipo operacion',
                       'Cuenta ventas', 'Cuenta compras', 'Cuenta activo', 'Cuenta adicional compras 1', 'Cuenta adicional compras 2', 'Cuenta adicional compras 3', 'Cuenta adicional compras 4',
                       'Cuenta adicional compras 5', 'Cuenta adicional compras 6', 'Cuenta adicional compras 7', 'Cuenta adicional compras 8', 'Cuenta adicional compras 9', 'Cuenta adicional compras 10'],
            colModel: [
                        { name: 'act', index: 'act', align: 'center', width: 60, search: false, editable: false, hidden: false },
                        { name: 'IdRubro', index: 'IdRubro', align: 'left', width: 100, search: false, editable: false, hidden: true },
                        { name: 'IdTipoOperacion', index: 'IdTipoOperacion', align: 'left', width: 100, search: false, editable: false, hidden: true },
                        { name: 'IdCuenta', index: 'IdCuenta', align: 'left', width: 100, search: false, editable: false, hidden: true },
                        { name: 'IdCuentaCompras', index: 'IdCuentaCompras', align: 'left', width: 100, search: false, editable: false, hidden: true },
                        { name: 'IdCuentaComprasActivo', index: 'IdCuentaComprasActivo', align: 'left', width: 100, search: false, editable: false, hidden: true },
                        { name: 'IdCuentaCompras1', index: 'IdCuentaCompras1', align: 'left', width: 100, search: false, editable: false, hidden: true },
                        { name: 'IdCuentaCompras2', index: 'IdCuentaCompras2', align: 'left', width: 100, search: false, editable: false, hidden: true },
                        { name: 'IdCuentaCompras3', index: 'IdCuentaCompras3', align: 'left', width: 100, search: false, editable: false, hidden: true },
                        { name: 'IdCuentaCompras4', index: 'IdCuentaCompras4', align: 'left', width: 100, search: false, editable: false, hidden: true },
                        { name: 'IdCuentaCompras5', index: 'IdCuentaCompras5', align: 'left', width: 100, search: false, editable: false, hidden: true },
                        { name: 'IdCuentaCompras6', index: 'IdCuentaCompras6', align: 'left', width: 100, search: false, editable: false, hidden: true },
                        { name: 'IdCuentaCompras7', index: 'IdCuentaCompras7', align: 'left', width: 100, search: false, editable: false, hidden: true },
                        { name: 'IdCuentaCompras8', index: 'IdCuentaCompras8', align: 'left', width: 100, search: false, editable: false, hidden: true },
                        { name: 'IdCuentaCompras9', index: 'IdCuentaCompras9', align: 'left', width: 100, search: false, editable: false, hidden: true },
                        { name: 'IdCuentaCompras10', index: 'IdCuentaCompras10', align: 'left', width: 100, search: false, editable: false, hidden: true },
                        { name: 'Descripcion', index: 'Descripcion', width: 200, align: 'left', search: true, editable: true, editrules: { required: false }, edittype: 'text', label: 'TB' },
                        {
                            name: 'Codigo', index: 'Codigo', width: 80, align: 'center', search: true, editable: true, editrules: { required: false, number: true }, edittype: 'text', label: 'TB',
                            editoptions: {
                                maxlength: 20, defaultValue: '0.00',
                                dataEvents: [
                                {
                                    type: 'keypress',
                                    fn: function (e) {
                                        var key = e.charCode || e.keyCode;
                                        if (key == 13) { setTimeout("jQuery('#Lista').editCell(" + selIRow + " + 1, " + selICol + ", true);", 100); }
                                        if ((key < 48 || key > 57) && key !== 46 && key !== 44 && key !== 8 && key !== 37 && key !== 39) { return false; }
                                    }
                                }]
                            }
                        },
                        { name: 'Abreviatura', index: 'Abreviatura', width: 200, align: 'left', search: true, editable: true, editrules: { required: false }, edittype: 'text', label: 'TB' },
                        {
                            name: 'TipoOperacion', index: 'TipoOperacion', align: 'left', width: 200, search: true, editable: true, hidden: false, edittype: 'select', editrules: { required: false },
                            editoptions: {
                                dataUrl: ROOT + 'TiposOperacione/GetTiposOperaciones',
                                dataInit: function (elem) {
                                    $(elem).width(190);
                                },
                                dataEvents: [{
                                    type: 'change', fn: function (e) {
                                        var $this = $(e.target), $td;
                                        if ($this.hasClass("FormElement")) {
                                            // form editing
                                            $('#IdTipoOperacion').val(this.value);
                                        } else {
                                            $td = $this.closest("td");
                                            if ($td.hasClass("edit-cell")) {
                                                // cell editing
                                                var rowid = $('#Lista').getGridParam('selrow');
                                                var valor = this.value;
                                                if (valor == "") { valor = "0"; }
                                                $('#Lista').jqGrid('setCell', rowid, 'IdTipoOperacion', valor);
                                            } else {
                                                // inline editing
                                            }
                                        }
                                    }
                                }]
                            },
                        },
                        {
                            name: 'CuentaVentas', index: 'CuentaVentas', align: 'left', width: 200, search: true, editable: true, hidden: false, edittype: 'select', editrules: { required: false },
                            editoptions: {
                                dataUrl: ROOT + 'Cuenta/GetCuentasConMadres',
                                dataInit: function (elem) {
                                    $(elem).width(190);
                                },
                                dataEvents: [{
                                    type: 'change', fn: function (e) {
                                        var $this = $(e.target), $td;
                                        if ($this.hasClass("FormElement")) {
                                            // form editing
                                            $('#IdCuenta').val(this.value);
                                        } else {
                                            $td = $this.closest("td");
                                            if ($td.hasClass("edit-cell")) {
                                                // cell editing
                                                var rowid = $('#Lista').getGridParam('selrow');
                                                var valor = this.value;
                                                if (valor == "") { valor = "0"; }
                                                $('#Lista').jqGrid('setCell', rowid, 'IdCuenta', valor);
                                            } else {
                                                // inline editing
                                            }
                                        }
                                    }
                                }]
                            },
                        },
                        {
                            name: 'CuentaCompras', index: 'CuentaCompras', align: 'left', width: 200, search: true, editable: true, hidden: false, edittype: 'select', editrules: { required: false },
                            editoptions: {
                                dataUrl: ROOT + 'Cuenta/GetCuentasConMadres',
                                dataInit: function (elem) {
                                    $(elem).width(190);
                                },
                                dataEvents: [{
                                    type: 'change', fn: function (e) {
                                        var $this = $(e.target), $td;
                                        if ($this.hasClass("FormElement")) {
                                            // form editing
                                            $('#IdCuentaCompras').val(this.value);
                                        } else {
                                            $td = $this.closest("td");
                                            if ($td.hasClass("edit-cell")) {
                                                // cell editing
                                                var rowid = $('#Lista').getGridParam('selrow');
                                                var valor = this.value;
                                                if (valor == "") { valor = "0"; }
                                                $('#Lista').jqGrid('setCell', rowid, 'IdCuentaCompras', valor);
                                            } else {
                                                // inline editing
                                            }
                                        }
                                    }
                                }]
                            },
                        },
                        {
                            name: 'CuentaActivo', index: 'CuentaActivo', align: 'left', width: 200, search: false, editable: true, hidden: false, edittype: 'select', editrules: { required: false },
                            editoptions: {
                                dataUrl: ROOT + 'Cuenta/GetCuentasConMadres',
                                dataInit: function (elem) {
                                    $(elem).width(190);
                                },
                                dataEvents: [{
                                    type: 'change', fn: function (e) {
                                        var $this = $(e.target), $td;
                                        if ($this.hasClass("FormElement")) {
                                            // form editing
                                            $('#IdCuentaComprasActivo').val(this.value);
                                        } else {
                                            $td = $this.closest("td");
                                            if ($td.hasClass("edit-cell")) {
                                                // cell editing
                                                var rowid = $('#Lista').getGridParam('selrow');
                                                var valor = this.value;
                                                if (valor == "") { valor = "0"; }
                                                $('#Lista').jqGrid('setCell', rowid, 'IdCuentaComprasActivo', valor);
                                            } else {
                                                // inline editing
                                            }
                                        }
                                    }
                                }]
                            },
                        },
                        {
                            name: 'CuentaAdicionalCompras1', index: 'CuentaAdicionalCompras1', align: 'left', width: 200, search: false, editable: true, hidden: false, edittype: 'select', editrules: { required: false },
                            editoptions: {
                                dataUrl: ROOT + 'Cuenta/GetCuentasConMadres',
                                dataInit: function (elem) {
                                    $(elem).width(190);
                                },
                                dataEvents: [{
                                    type: 'change', fn: function (e) {
                                        var $this = $(e.target), $td;
                                        if ($this.hasClass("FormElement")) {
                                            // form editing
                                            $('#IdCuentaCompras1').val(this.value);
                                        } else {
                                            $td = $this.closest("td");
                                            if ($td.hasClass("edit-cell")) {
                                                // cell editing
                                                var rowid = $('#Lista').getGridParam('selrow');
                                                var valor = this.value;
                                                if (valor == "") { valor = "0"; }
                                                $('#Lista').jqGrid('setCell', rowid, 'IdCuentaCompras1', valor);
                                            } else {
                                                // inline editing
                                            }
                                        }
                                    }
                                }]
                            },
                        },
                        {
                            name: 'CuentaAdicionalCompras2', index: 'CuentaAdicionalCompras2', align: 'left', width: 200, search: false, editable: true, hidden: false, edittype: 'select', editrules: { required: false },
                            editoptions: {
                                dataUrl: ROOT + 'Cuenta/GetCuentasConMadres',
                                dataInit: function (elem) {
                                    $(elem).width(190);
                                },
                                dataEvents: [{
                                    type: 'change', fn: function (e) {
                                        var $this = $(e.target), $td;
                                        if ($this.hasClass("FormElement")) {
                                            // form editing
                                            $('#IdCuentaCompras2').val(this.value);
                                        } else {
                                            $td = $this.closest("td");
                                            if ($td.hasClass("edit-cell")) {
                                                // cell editing
                                                var rowid = $('#Lista').getGridParam('selrow');
                                                var valor = this.value;
                                                if (valor == "") { valor = "0"; }
                                                $('#Lista').jqGrid('setCell', rowid, 'IdCuentaCompras2', valor);
                                            } else {
                                                // inline editing
                                            }
                                        }
                                    }
                                }]
                            },
                        },
                        {
                            name: 'CuentaAdicionalCompras3', index: 'CuentaAdicionalCompras3', align: 'left', width: 200, search: false, editable: true, hidden: false, edittype: 'select', editrules: { required: false },
                            editoptions: {
                                dataUrl: ROOT + 'Cuenta/GetCuentasConMadres',
                                dataInit: function (elem) {
                                    $(elem).width(190);
                                },
                                dataEvents: [{
                                    type: 'change', fn: function (e) {
                                        var $this = $(e.target), $td;
                                        if ($this.hasClass("FormElement")) {
                                            // form editing
                                            $('#IdCuentaCompras3').val(this.value);
                                        } else {
                                            $td = $this.closest("td");
                                            if ($td.hasClass("edit-cell")) {
                                                // cell editing
                                                var rowid = $('#Lista').getGridParam('selrow');
                                                var valor = this.value;
                                                if (valor == "") { valor = "0"; }
                                                $('#Lista').jqGrid('setCell', rowid, 'IdCuentaCompras3', valor);
                                            } else {
                                                // inline editing
                                            }
                                        }
                                    }
                                }]
                            },
                        },
                        {
                            name: 'CuentaAdicionalCompras4', index: 'CuentaAdicionalCompras4', align: 'left', width: 200, search: false, editable: true, hidden: false, edittype: 'select', editrules: { required: false },
                            editoptions: {
                                dataUrl: ROOT + 'Cuenta/GetCuentasConMadres',
                                dataInit: function (elem) {
                                    $(elem).width(190);
                                },
                                dataEvents: [{
                                    type: 'change', fn: function (e) {
                                        var $this = $(e.target), $td;
                                        if ($this.hasClass("FormElement")) {
                                            // form editing
                                            $('#IdCuentaCompras4').val(this.value);
                                        } else {
                                            $td = $this.closest("td");
                                            if ($td.hasClass("edit-cell")) {
                                                // cell editing
                                                var rowid = $('#Lista').getGridParam('selrow');
                                                var valor = this.value;
                                                if (valor == "") { valor = "0"; }
                                                $('#Lista').jqGrid('setCell', rowid, 'IdCuentaCompras4', valor);
                                            } else {
                                                // inline editing
                                            }
                                        }
                                    }
                                }]
                            },
                        },
                        {
                            name: 'CuentaAdicionalCompras5', index: 'CuentaAdicionalCompras5', align: 'left', width: 200, search: false, editable: true, hidden: false, edittype: 'select', editrules: { required: false },
                            editoptions: {
                                dataUrl: ROOT + 'Cuenta/GetCuentasConMadres',
                                dataInit: function (elem) {
                                    $(elem).width(190);
                                },
                                dataEvents: [{
                                    type: 'change', fn: function (e) {
                                        var $this = $(e.target), $td;
                                        if ($this.hasClass("FormElement")) {
                                            // form editing
                                            $('#IdCuentaCompras5').val(this.value);
                                        } else {
                                            $td = $this.closest("td");
                                            if ($td.hasClass("edit-cell")) {
                                                // cell editing
                                                var rowid = $('#Lista').getGridParam('selrow');
                                                var valor = this.value;
                                                if (valor == "") { valor = "0"; }
                                                $('#Lista').jqGrid('setCell', rowid, 'IdCuentaCompras5', valor);
                                            } else {
                                                // inline editing
                                            }
                                        }
                                    }
                                }]
                            },
                        },
                        {
                            name: 'CuentaAdicionalCompras6', index: 'CuentaAdicionalCompras6', align: 'left', width: 200, search: false, editable: true, hidden: false, edittype: 'select', editrules: { required: false },
                            editoptions: {
                                dataUrl: ROOT + 'Cuenta/GetCuentasConMadres',
                                dataInit: function (elem) {
                                    $(elem).width(190);
                                },
                                dataEvents: [{
                                    type: 'change', fn: function (e) {
                                        var $this = $(e.target), $td;
                                        if ($this.hasClass("FormElement")) {
                                            // form editing
                                            $('#IdCuentaCompras6').val(this.value);
                                        } else {
                                            $td = $this.closest("td");
                                            if ($td.hasClass("edit-cell")) {
                                                // cell editing
                                                var rowid = $('#Lista').getGridParam('selrow');
                                                var valor = this.value;
                                                if (valor == "") { valor = "0"; }
                                                $('#Lista').jqGrid('setCell', rowid, 'IdCuentaCompras6', valor);
                                            } else {
                                                // inline editing
                                            }
                                        }
                                    }
                                }]
                            },
                        },
                        {
                            name: 'CuentaAdicionalCompras7', index: 'CuentaAdicionalCompras7', align: 'left', width: 200, search: false, editable: true, hidden: false, edittype: 'select', editrules: { required: false },
                            editoptions: {
                                dataUrl: ROOT + 'Cuenta/GetCuentasConMadres',
                                dataInit: function (elem) {
                                    $(elem).width(190);
                                },
                                dataEvents: [{
                                    type: 'change', fn: function (e) {
                                        var $this = $(e.target), $td;
                                        if ($this.hasClass("FormElement")) {
                                            // form editing
                                            $('#IdCuentaCompras7').val(this.value);
                                        } else {
                                            $td = $this.closest("td");
                                            if ($td.hasClass("edit-cell")) {
                                                // cell editing
                                                var rowid = $('#Lista').getGridParam('selrow');
                                                var valor = this.value;
                                                if (valor == "") { valor = "0"; }
                                                $('#Lista').jqGrid('setCell', rowid, 'IdCuentaCompras7', valor);
                                            } else {
                                                // inline editing
                                            }
                                        }
                                    }
                                }]
                            },
                        },
                        {
                            name: 'CuentaAdicionalCompras8', index: 'CuentaAdicionalCompras8', align: 'left', width: 200, search: false, editable: true, hidden: false, edittype: 'select', editrules: { required: false },
                            editoptions: {
                                dataUrl: ROOT + 'Cuenta/GetCuentasConMadres',
                                dataInit: function (elem) {
                                    $(elem).width(190);
                                },
                                dataEvents: [{
                                    type: 'change', fn: function (e) {
                                        var $this = $(e.target), $td;
                                        if ($this.hasClass("FormElement")) {
                                            // form editing
                                            $('#IdCuentaCompras8').val(this.value);
                                        } else {
                                            $td = $this.closest("td");
                                            if ($td.hasClass("edit-cell")) {
                                                // cell editing
                                                var rowid = $('#Lista').getGridParam('selrow');
                                                var valor = this.value;
                                                if (valor == "") { valor = "0"; }
                                                $('#Lista').jqGrid('setCell', rowid, 'IdCuentaCompras8', valor);
                                            } else {
                                                // inline editing
                                            }
                                        }
                                    }
                                }]
                            },
                        },
                        {
                            name: 'CuentaAdicionalCompras9', index: 'CuentaAdicionalCompras9', align: 'left', width: 200, search: false, editable: true, hidden: false, edittype: 'select', editrules: { required: false },
                            editoptions: {
                                dataUrl: ROOT + 'Cuenta/GetCuentasConMadres',
                                dataInit: function (elem) {
                                    $(elem).width(190);
                                },
                                dataEvents: [{
                                    type: 'change', fn: function (e) {
                                        var $this = $(e.target), $td;
                                        if ($this.hasClass("FormElement")) {
                                            // form editing
                                            $('#IdCuentaCompras9').val(this.value);
                                        } else {
                                            $td = $this.closest("td");
                                            if ($td.hasClass("edit-cell")) {
                                                // cell editing
                                                var rowid = $('#Lista').getGridParam('selrow');
                                                var valor = this.value;
                                                if (valor == "") { valor = "0"; }
                                                $('#Lista').jqGrid('setCell', rowid, 'IdCuentaCompras9', valor);
                                            } else {
                                                // inline editing
                                            }
                                        }
                                    }
                                }]
                            },
                        },
                        {
                            name: 'CuentaAdicionalCompras10', index: 'CuentaAdicionalCompras10', align: 'left', width: 200, search: false, editable: true, hidden: false, edittype: 'select', editrules: { required: false },
                            editoptions: {
                                dataUrl: ROOT + 'Cuenta/GetCuentasConMadres',
                                dataInit: function (elem) {
                                    $(elem).width(190);
                                },
                                dataEvents: [{
                                    type: 'change', fn: function (e) {
                                        var $this = $(e.target), $td;
                                        if ($this.hasClass("FormElement")) {
                                            // form editing
                                            $('#IdCuentaCompras10').val(this.value);
                                        } else {
                                            $td = $this.closest("td");
                                            if ($td.hasClass("edit-cell")) {
                                                // cell editing
                                                var rowid = $('#Lista').getGridParam('selrow');
                                                var valor = this.value;
                                                if (valor == "") { valor = "0"; }
                                                $('#Lista').jqGrid('setCell', rowid, 'IdCuentaCompras10', valor);
                                            } else {
                                                // inline editing
                                            }
                                        }
                                    }
                                }]
                            },
                        }
            ],
            //gridComplete: function () {
            //    var ids = jQuery("#Lista").jqGrid('getDataIDs');
            //    for (var i = 0; i < ids.length; i++) {
            //        var cl = ids[i];
            //        var se = "<input style='height:22px;width:20px;' type='button' value='G' onclick=\"GrabarFila('" + cl + "'); \"  />";
            //        jQuery("#Lista").jqGrid('setRowData', ids[i], { act: se });
            //    }
            //},
            onCellSelect: function (rowid, iCol, cellcontent, e) {
                var $this = $(this);
                var iRow = $('#' + $.jgrid.jqID(rowid))[0].rowIndex;
                lastSelectedId = rowid;
                lastSelectediCol = iCol;
                lastSelectediRow = iRow;
            },
            afterEditCell: function (id, name, val, iRow, iCol) {
                var se = "<input style='height:22px;width:20px;' type='button' value='G' onclick=\"GrabarFila('" + id + "');\"  />";
                jQuery("#Lista").jqGrid('setRowData', id, { act: se });
            },
            //beforeSelectRow: function (rowid, e) {
            //    var iCol = $.jgrid.getCellIndex($(e.target).closest("td")[0]);
            //    if (this.p.colModel[iCol].name === 'act') {
            //        GrabarFila(rowid);
            //        return false;
            //    }
            //},
            pager: $('#ListaPager'),
            rowNum: 20,
            rowList: [10, 20, 50, 100],
            sortname: 'Descripcion',
            sortorder: 'asc',
            viewrecords: true,
            multiselect: true,
            width: 'auto',
            autowidth: true,
            shrinkToFit: false,
            height: '100%',
            altRows: false,
            footerrow: false,
            userDataOnFooter: true,
            caption: '<b>RUBROS</b>',
            cellEdit: true,
            cellsubmit: 'clientArray',
            editurl: ROOT + 'Empleado/EditGridData/'
        });
        jQuery("#Lista").jqGrid('navGrid', '#ListaPager', { search: false, refresh: false, add: false, edit: false, del: false }, {}, {}, {}, {});
        jQuery("#Lista").jqGrid('navButtonAdd', '#ListaPager',
                                        {
                                            caption: "", buttonicon: "ui-icon-plus", title: "Agregar item",
                                            onClickButton: function () {
                                                AgregarItemVacio(jQuery("#Lista"));
                                            },
                                        });
        jQuery("#Lista").jqGrid('navButtonAdd', '#ListaPager',
                                        {
                                            caption: "", buttonicon: "ui-icon-trash", title: "Eliminar",
                                            onClickButton: function () {
                                                MarcarSeleccionadosParaEliminar(jQuery("#Lista"));
                                            },
                                        });
        jQuery("#Lista").filterToolbar({
            stringResult: true, searchOnEnter: true,
            defaultSearch: 'cn',
            enableClear: false
        });
    });

</script>
